{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Notifications" %}{% endblock %}

{% block breadcrumb %}
{% trans "Notifications" %}
{% endblock %}

{% block body %}
<form action="{% url delete_notifications %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
<div class="row-fluid">
    <div class="span2 columns">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Notifications" %}</li>
            <li><a href="{% url notifications:all %}">{% trans "All" %}</a></li>
            <li><a href="{% url notifications:unread %}">{% trans "Unread" %}</a></li>
        </ul>
        <hr>
        <a href="{% url notifications:mark_all_as_read %}" class="btn btn-block btn-info">{% trans "Mark as all read "%}</a>
        <button id="delete-button" class="btn btn-input btn-block btn-danger btn-delete disabled">{% trans "删 除"%}</button>
        <a href="{% url delete_notifications %}" class="btn btn-block btn-delete btn-danger">{% trans "全部删除"%}</a>
        <hr>
    </div>
    <div class="span10">
        {% if notifications %}
            {% for notice in notifications %}
               {% include 'notifications/notice.html' %}
            {% endfor %}
        {% else %}
            <div class="empty-box">
                <p>{% trans "No notifications at the moment" %}</p>
            </div>
        {% endif %}
    </div>
</div>
</form>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" charset="utf-8">
    $('.checkboxs input').on('ifChecked', function(event){
        $('#delete-button').removeClass('disabled');
    });
    $('.checkboxs input').on('ifUnchecked', function(event){
        if($('.checkboxs .checked').length == 1) {
            $('#delete-button').addClass('disabled');
        } else {
            $('#delete-button').removeClass('disabled');
        }
    });
    $('#apply-button').click(function() {
        if($(this).hasClass('disabled')) {
            return;
        }
        $("#applyModal").modal();
    });
    $('#apply-submit').click(function() {
            if(!$('#message').val()) {
                $('.message-error').show();
                return false;
            }
    });
</script>
{% endblock %}
