{% load i18n %}
{% load staticfiles %}
{% load project_tags %}
{% load common_tags %}

{% has_perm user 'project.create_slice' slice.project %}{% if has_perm %}
<div class="col-md-6" onclick="location.href = 'http://' + window.location.host + '/slice/detail/{{ slice.id }}/';">
{%else%}
{% has_perm user 'slice.change_slice' slice %}{% if has_perm %}
<div class="col-md-6" onclick="location.href = 'http://' + window.location.host + '/slice/detail/{{ slice.id }}/';">
{%else%}
<div class="col-md-6">
{%endif%}{%endif%}
    <div {% if project and user != slice.owner %}class="slice_list_block active"{%else%}class="slice_list_block"{% endif %}>
        <div class="row">
            <div class="col-md-5">
                <div class="slice_list_block_l">
                    <div class="slice_logo">
                        <img src="{% static slice.project.category.image %}" />
                        {{slice.project.category.name }}
                    </div>
                    <p class="slice_detail">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        {{ slice.get_show_name }}
                    </p>
                    <p class="slice_detail">
                        <i class="glyphicon glyphicon-user"></i>
                        {{ slice.owner }}
                    </p>
                    <p class="slice_detail">
                        {%if slice.state == 0 %}
                        <i class="glyphicon glyphicon-off"></i>
                        <span class="slice_off">off</span>
                        {%else%}
                        <i class="glyphicon glyphicon-on"></i>
                        <span class="slice_off">on</span>
                        {%endif%}
                    </p>
                    <div class="circle_bars">
                        <div class="circle_bar">
                            <canvas class="circle_canvas" id="swCanvas{{slice.id}}" width="120" height="20" data-text="交换机（SW）"></canvas>
                            <input class="knob" data-fgColor="#c22139" data-thickness=".2" data-readOnly=true value="{{slice.get_switches.count}}" data-min="0" data-max="100">
                        </div>
                        <div class="circle_bar">
                            <canvas class="circle_canvas" id="vmCanvas{{slice.id}}" width="120" height="20" data-text="虚拟机（VM）"></canvas>
                            <input class="knob" data-fgColor="#e4970a" data-thickness=".2" data-readOnly=true value="{{slice.get_common_vms.count}}" data-min="0" data-max="100">
                        </div>
                        <div class="circle_bar">
                            <canvas class="circle_canvas" id="ipCanvas{{slice.id}}" width="120" height="20" data-text="IP地址（IP）"></canvas>
                            <input class="knob" data-fgColor="#4a97ad" data-thickness=".2" data-readOnly=true value="{{slice.get_nw_num}}" data-min="0" data-max="100">
                        </div>
                    </div>
                    <p class="slice_detail_btm">
                        <i class="glyphicon glyphicon-calendar"></i>
                        {{slice.date_created|date:"Y.m.d"}} - {{slice.date_expired|date:"Y.m.d"}}
                    </p>
                </div>
            </div>
            <div class="col-md-7"><iframe scrolling="no" id="topologyiframe" width="290" height="330" src="/slice/topology_d3/?slice_id={{slice.id}}&width=290&height=330&top=0&band=0" frameborder="0"></iframe></div>                             
        </div>
        {% has_perm user 'slice.delete_slice' slice %}
        {% if has_perm %}
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <a href="{% url project_delete project.id %}?next={{ request.path }}" class="close btn-delete">×</a>
        {%endif%}
    </div>
</div>


