{% load i18n %}
{% load staticfiles %}
{% load project_tags %}
{% load common_tags %}
<li class="col-md-6 slice_topology slice_list" {% if project and user != slice.owner %}style="background:#ddd;"{% endif %}>
    {% has_perm user 'slice.delete_slice' slice %}
    {% if has_perm %}
    <a href="/slice/delete/{{ slice.id }}/?next={{ request.path }}" class="btn-delete close">×</a>
    {%endif%}
    
    {% has_perm user 'project.create_slice' slice.project %}{% if has_perm %}
    <a class="thumbnail" href="/slice/detail/{{ slice.id }}/">{%else%}
    {% has_perm user 'slice.change_slice' slice %}{% if has_perm %}
    <a class="thumbnail" href="/slice/detail/{{ slice.id }}/">{%else%}
    <div class="thumbnail">{%endif%}{%endif%}
        <div class="row slice_list">
            <div class="col-md-5">
                <div class="slice_left">
                    <div class="top_img"><img src="{% static slice.project.category.image %}" /></div>
                    <ul>
                        <li {% if project and user != slice.owner %}style="background:#ddd;"{% endif %}><i class="glyphicon glyphicon-file-alt glyphicon glyphicon-large"></i><b>{{ slice.get_show_name }}</b></li>
                        <li {% if project and user != slice.owner %}style="background:#ddd;"{% endif %}><i class="glyphicon glyphicon-user glyphicon glyphicon-large"></i>{{ slice.owner }}</li>
                        <li {% if project and user != slice.owner %}style="background:#ddd;"{% endif %}><i class="glyphicon glyphicon-rss glyphicon glyphicon-large"></i>{%if slice.state == 0 %}<span class="label label-important">off</span>{%else%}<span class="label label-success">on</span>{%endif%}</li>
                    </ul>
                    <div class="circle_bar">
                        <canvas class="circle_canvas" id="swCanvas{{slice.id}}" width="135" height="20" data-text="交换机（SW）"></canvas>
                        <input readonly="readonly" class="knob" data-width="36" data-height="36"
                        data-min="0" data-max="100" data-fgcolor="#fe0000" data-bgcolor="#cccccc" data-thickness=".2" value="{{slice.get_switches.count}}">
                    </div>
                    <div class="circle_bar">
                        <canvas class="circle_canvas" id="vmCanvas{{slice.id}}" width="135" height="20" data-text="虚拟机（VM）"></canvas>
                        <input readonly="readonly" class="knob" data-width="36" data-height="36" 
                        data-min="0" data-max="100" data-fgcolor="#ff9930" data-bgcolor="#cccccc" data-thickness=".2" value="{{slice.get_common_vms.count}}">
                    </div>
                    <div class="circle_bar">
                        <canvas class="circle_canvas" id="ipCanvas{{slice.id}}" width="135" height="20" data-text="IP地址（IP）"></canvas>
                        <input readonly="readonly" class="knob" data-width="36" data-height="36" 
                        data-min="0" data-max="100" data-fgcolor="#00ccff" data-bgcolor="#cccccc" data-thickness=".2" value="{{slice.get_nw_num}}">
                    </div>
                    <div class="slice_date">
                        <i class="glyphicon glyphicon-calendar glyphicon glyphicon-large"></i>{{slice.date_created|date:"Y.m.d"}} - {{slice.date_expired|date:"Y.m.d"}}
                    </div>
                </div>        
            </div>
            <div class="col-md-7">
                <div class="slice_right">
                    <div>
                    <iframe scrolling="no" id="topologyiframe" width="270" height="325" src="/slice/topology_d3/?slice_id={{slice.id}}&width=230&height=325&top=0&band=0" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    
    {% has_perm user 'project.create_slice' slice.project %}{% if has_perm %}
    </a>{%else%}
    {% has_perm user 'slice.change_slice' slice %}{% if has_perm %}
    </a>{%else%}
    </div>{%endif%}{%endif%}
</li>
