{% load i18n %}
{% load staticfiles %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{{ STATIC_URL}}css/style_defined.css" />
<link rel="stylesheet" href="{{ STATIC_URL}}css/theme-blue.css" />
<body style="margin: 0; padding-top: 0">
<div class="chart_title" id="chart_title"></div>
<div id="container" style="min-width: 400px; height: 309px; margin: 0 auto"></div>
<div class="clear" style="display: none" >
    <p id="target">{{target}}</p>
    <p id="type">{{type}}</p>
    <p id="stype">{{stype}}</p>
</div>
</body>
<script src="{{ STATIC_URL}}topology/lib/jquery.min.js"></script>
<script src="{{ STATIC_URL}}js/highcharts/highcharts.js"></script>
<script src="{{ STATIC_URL}}js/highcharts/exporting.js"></script>
<script src="{{ STATIC_URL}}js/highcharts/grid.js"></script>
<script src="{{ STATIC_URL}}js/highcharts_defined.js"></script>