{% extends "site_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}创建虚网{% endblock %}
{% block breadcrumb %}
	<li><a href="/project/">项目</a></li><li><a href="/project/detail/{{ project.id }}/">项目详情</a></li><li>创建虚网</li>
{% endblock %}

{% block body %}
        <div class="fill_form form-wizard">
            <ul class="row nav nav-pills">                
                <li class="col-md-1"></li>
                <li class="col-md-2 visit">
                    <a href="#tab1" class="step">
                        <span class="number">1</span>
                        <span class="desc">基本信息</span>                           
                    </a>                   
                </li>
                <li class="col-md-2">
                    <a href="#tab2" class="step">
                        <span class="number">2</span>
                        <span class="desc">网络配置</span>  
                        <i class="icon-caret-right"></i> 
                    </a>
                </li>
                <li class="col-md-2">
                    <a href="#tab3" class="step">
                        <span class="number">3</span>
                        <span class="desc">服务配置</span>  
                        <i class="icon-caret-right"></i> 
                    </a>
                </li>
                <li class="col-md-2">
                    <a href="#tab4" class="step">
                        <span class="number">4</span>
                        <span class="desc">虚拟机创建</span> 
                        <i class="icon-caret-right"></i>  
                    </a> 
                </li>
                <li class="col-md-2">
                    <a href="#tab4" class="step">
                    <span class="number">5</span>
                    <span class="desc">虚网清单</span>   
                    <i class="icon-caret-right"></i>
                    </a> 
                </li>
                <li class="col-md-1"></li>
            </ul>
          <form class="form-horizontal" action="" method="post" accept-charset="utf-8">{% csrf_token %}
            <div class="tab_part tab_1">
              	{% if error_info %}
              		<p>{{error_info}}ok</p>
              	{%endif%}

                 <h4 class="title_word_bg block_title">
                       <img src="{% static "img/ic_baseinfo.png" %}" />基本信息      
                 </h4> 
                 
                 <table class="table_base tooltip-demo">
                     <tbody>
                         <tr>
                             <td width="100" class="text-right">
                                 虚网名称
                             </td>
                             <td width="30%">                                
                                 <input type="text" class="form-control" maxlength=30 id="slice_name" name="slice_name" onblur="check_slice_name('slice_name',1)">
                             </td>
                             <td>
                                <span class="muted help-block">
                如openflow协议验证
                                    <input type="text" value="0" id="slice_uuid" style="display:none"/>
                                    <input type="text" value="{{request.user.id}}" id="user_id" style="display:none"/>
                                    <span id="slice_nameInfo" style="display:inline;float:none;"></span>
                                </span> 
                             </td>
                         </tr>
                         <tr>
                             <td class="text-right v_top">
                                 虚网描述
                             </td>
                             <td>
                                <textarea class="form-control" rows="5" maxlength=1024 id="slice_description" name="slice_description" onblur="check_slice_description('slice_description',1)"></textarea>
                             </td>
                             <td class="v_top">
                                 <span class="muted pro_describe help-block">
                                    如验证openflow1.3协议的有效性
                                    <span id="slice_nameInfo" style="display:inline;float:none;">
                                        <span id="slice_descriptionInfo" style="display:inline;float:none;"></span> 
                                    </span>
                                </span>  
                             </td>
                         </tr>
                         <tr>
                             <td class="text-right">
                                 选择节点
                             </td>
                             <td>
                                {%if islands%}
                                    <select name="island_id" class="form-control" id="island_id">
                                        {%for island in islands%}
                                          <option value="{{ island.id }}">{{island.name}}</option>
                                        {%endfor%}
                                    </select>
                                 {%else%}
                                    <select name="island_id" class="form-control" id="island_id">
                                         <option value="no">无可选节点</option>
                                    </select>
                                 {%endif%}
                                    <span id="island_idInfo" style="display:inline;float:none;"></span>
                             </td>
                             <td>
                                 <span id="island_idInfo col-md-6" style="display:inline;float:none;"></span>
                             </td>
                         </tr>
                         

                         <tr>
                             <td class="text-right">
                                 虚拟机数
                                 <a class="tooltip_defined" href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="请根据实际需求选择最大虚拟机数量" data-original-title="请根据实际需求选择最大虚拟机数量"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                             </td>
                             <td>                                
                               <select name="nw_num" id="nw_num" class="form-control">
                                  <option value="8">5</option>
                                  <option value="16">13</option>
                                  <option value="32">29</option>
                                  <option value="64">61</option>
                                </select>  
                             </td>
                             <td>
                                <span id="nw_numInfo" style="display:inline;float:none;"></span>
                             </td>
                         </tr>  
                         
                         
                         <tr>
                             <td class="text-right">
                                 拓扑构建模式
                             </td>
                             <td>                                
                               <select name="tp_mod" id="tp_mod" class="form-control">
                                  <option value="2">选择交换机</option>
                                  <option value="1">选择交换机端口</option>
                                </select>  
                             </td>
                             <td>
                                <span id="tp_modInfo" style="display:inline;float:none;"></span>
                             </td>
                         </tr>  
                     </tbody>
                 </table>                                             
                
               <div class="form-actions">
                  <div class="row buttons_margin">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"><button type="button" class="btn btn-lg btn-block btn_info"  onclick="document.location='/project/detail/{{ project.id }}/'">返 回</button></div>
                    <div class="col-md-2"><button type="button" class="btn btn-lg btn-block btn-step1 btn_info next_btn">下一步</button></div>
                    <div class="col-md-4"></div>
                  </div>
              </div>
             </div>
             
             <div class="tab_part">
                <h4 class="title_word_bg block_title">
                   <img src="{% static "img/ic_37.png" %}" />网络节点选择
                   <small>点击拓扑图中网络节点选择需要的实验拓扑</small>
                </h4>              
                <div class="alert alert-info">
                  <!--<img src="{% static "topology/img/ovs_external_lt.png" %}" />&nbsp网络出口节点，用于提供虚网中的虚拟机访问外网的功能，用户选择该节点后才可使虚拟机与外网通信；<br />
                  <img src="{% static "topology/img/ovs_normal_lt.png" %}" />&nbsp普通交换节点；<br />
                  <img src="{% static "topology/img/ovs_related_lt.png" %}" />&nbsp虚拟机关联节点，提供虚拟机网络管理的功能，用户选择该节点后才可创建虚拟机；<br />-->
                  <strong>网络出口节点：</strong> 网络出口节点用于提供虚网中的虚拟机访问外网的功能，用户选择该节点后才可使虚拟机与外网通信；<br />
                  <strong>虚拟机关联节点：</strong> 虚拟机关联节点提供虚拟机网络管理的功能，用户选择该节点后才可创建虚拟机；<br />
                </div>
                <div class="show_frame">
                    <span id="switch_portInfo" style="display:inline;float:left;"></span>                   
                    <div class="main_frame">
                        <input type="hidden" name="switches" id="topology-switch" value="" />
                        <div class="tuopu_sign_l">
                            <div class="tuopu_sign_img">
                                负载（%）
                                <img src="{% static "img/ic_quan.png" %}">
                                <div class="tuopu_sign_num">
                                    <span>无</span>
                                    <span>0</span>
                                    <span>30</span>
                                    <span>60</span>
                                    <span>90</span>
                                    <span>100</span>
                                </div>
                            </div>
                       </div>
                       <div class="frame_tip">
                           <img src="{% static "topology/img/ovs_external_lt.png" %}" />&nbsp网络出口节点&nbsp
                           <img src="{% static "topology/img/ovs_normal_lt.png" %}" />&nbsp普通交换节点&nbsp
                           <img src="{% static "topology/img/ovs_related_lt.png" %}" />&nbsp虚拟机关联节点
                       </div>
                       <!--<div class="frame_tip">
                           <span class="frame_tip_r"></span>网络出口节点
                           <span class="frame_tip_b"></span>普通交换节点
                           <span class="frame_tip_g"></span>虚拟机关联节点
                       </div>-->
                       <iframe id="topology-iframe" width="100%" height="500px" src="" frameborder="0"></iframe>
                  </div>
                  <table class="switch-table table_defined" style="display:none">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>DPID</th>
                            <th>网络节点类型</th>
                            <th>端口</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{%for ovs_port in ovs_ports%}
                    		<tr class="hide switch-data">
                                <td>
                                    <input name="switch{{ovs_port.switch.dpid}}" type="hidden" disabled value="{{ ovs_port.switch.id }}" 
                                    {%if ovs_port.switch_type == 3%}
                                    serverid="{{ ovs_port.switch.virtualswitch.server.id }}" servername="{{ ovs_port.switch.virtualswitch.server.name }}" 
                                    {%endif%}
                                    switchtype="{{ovs_port.switch_type}}" 
                                    switchname="{{ovs_port.switch.name}}" />
                                    {{ovs_port.switch.name}}
                                </td>
	                            <td>{{ovs_port.switch.dpid}}</td>
	                            <td>
    	                            {% if ovs_port.switch_type == 1 %}
    	                            	交换节点
    	                            {%endif%}
    	                            {% if ovs_port.switch_type == 2 %}
    	                            	网络出口节点
    	                            {%endif%}
    	                            {% if ovs_port.switch_type == 3 %}
    	                            	虚拟机关联节点
    	                            {%endif%}
	                            </td>
	                            <td>
	                            	{%for port in ovs_port.switch_ports%}
                                            <label class="hide inline">
		                            {% if ovs_port.switch_type == 3 %}
                                    <input type="hidden" disabled class="port-checkbox" data-dpid="{{ ovs_port.switch.dpid }}" name="switch_port_ids" value="{{port.id}}" 
                                    serverid="{{ ovs_port.switch.virtualswitch.server.id }}" servername="{{ ovs_port.switch.virtualswitch.server.name }}" switchtype="{{ovs_port.switch_type}}" />{{ port.name }}
					    {%else%}
                        <input type="hidden" disabled class="port-checkbox" name="switch_port_ids" value="{{port.id}}" data-dpid="{{ ovs_port.switch.dpid }}" switchtype="{{ovs_port.switch_type}}"/>{{ port.name }}
		                            {%endif%}
	                                    <input type="text" value="{{ovs_port.switch_type}}" id="switchtype{{port.id}}" style="display:none"/>
                                    </label>
	                            	{%endfor%}
	                            </td>
                        	</tr>
                    	{%endfor%}
                    </tbody>
                  </table>              
                  <div class="hide no-virtual-switch alert alert-danger">
                      请至少选择一个虚拟机关联节点
                  </div>
                </div>       

                <!--<h4 class="title_word_bg block_title">
                   <img src="{% static "img/ic_31.png" %}" />网络地址
                   <small>分配网段供虚网中的虚拟机、虚拟网关等使用，用户在未配置DHCP情况可根据网段为虚拟机手动分配地址。</small>
                </h4>   
                    
                <table class="table_base tooltip-demo">
                     <tbody>
                         <tr>
                             <td width="100" class="text-right">
                                 IP数量
                             </td>
                             <td width="30%">                                
                               <select name="nw_num" id="nw_num" class="form-control">
                                  <option value="8">8</option>
                                  <option value="16">16</option>
                                  <option value="32">32</option>
                                  <option value="64">64</option>
                                </select>  
                             </td>
                             <td>
                                <a class="tooltip_defined" href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="请根据实际需求选择IP地址数量。" data-original-title="请根据实际需求选择IP地址数量。"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                                <span id="nw_numInfo" style="display:inline;float:none;"></span>
                             </td>
                         </tr>                       
                     </tbody>
                 </table>  -->                                                                                                             
             
              <div class="form-actions">
                  <div class="row buttons_margin">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"><button type="button" class="btn btn-lg btn-block btn_info prev_btn">上一步</button></div>
                    <div class="col-md-2"><button type="button" class="btn btn-lg btn-block btn_info btn-step2 next_btn">下一步</button></div>
                    <div class="col-md-4"></div>
                  </div>
              </div>
             </div>              
            
             
             <div class="tab_part">  
                    <h4 class="title_word_bg block_title">
                         <img src="{% static "img/ic_33.png" %}" />网络地址配置                             
                    </h4>  
                    
                    <table class="table_base tooltip-demo">
                         <tbody>
                             <tr>
                                 <td width="150" class="text-right">
                                     网络地址
                                     <a href="javascript:void(0);" class="tooltip_defined" data-toggle="tooltip" data-placement="right" title="分配网段供虚网中的虚拟机、虚拟网关等使用，用户在未配置DHCP情况可根据网段为虚拟机手动分配地址。" data-original-title="分配网段供虚网中的虚拟机、虚拟网关等使用，用户在未配置DHCP情况可根据网段为虚拟机手动分配地址。"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                                 </td>
                                 <td width="30%">                                
                                   <input type="text" id="slice_nw_input" class="form-control" disabled/>
                                    <span id="slice_nw" style="display:none"></span>
                                    <input type="text" value="" name="old_slice_nw" id="old_slice_nw" style="display:none"/>
                                    <input type="text" value="" id="old_nw_num" style="display:none"/>
                                    <input type="text" value="" id="old_nw_owner" style="display:none"/>   
                                 </td>
                                 <td>
                                    
                                 </td>
                                 <td colspan="2">
                                    <!--label class="inline tab_checkbox"><input type="checkbox" id="dhcp_selected" value="dhcp"></label>是否配置DHCP服务器  -->
					<div class="tuopu_btn">配置DHCP服务
					<span class="switch_btn dhcp checked" style="margin-left:10px;">
                    				<span class="switch_content">是</span>
                			</span>   </div>                     
                                 </td>
                             </tr>                  
                         </tbody>
                     </table>                                 
       
               
                <h4 class="title_word_bg block_title">
                      <img src="{% static "img/ic_35.png" %}" />控制器配置                       
                </h4>                 
                
                <table class="table_base tooltip-demo">
                         <tbody>
                             <tr>
                                 <td width="150" class="text-right">
                                     <label class="tab_radio1 control-label" for="optionsRadios1">
                                        <input type="radio" name="controller_type" id="optionsRadios1" value="default_create" checked>
                                                                                                                                   创建控制器                                                                                                                 
                                    </label> 
                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="此处默认创建Floodlight控制器" data-original-title="此处默认创建Floodlight控制器"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>                  
                                 </td>  
                                 <td width="100" class="text-right">控制器类型</td>                              
                                 <td width="30%">                                                                    
                                    <select name="controller_sys" id="controller_sys" class="form-control">
                                      <option value="Floodlight">Floodlight</option>
                                      <option value="POX">POX</option>
                                      <option value="OpenDaylight">OpenDaylight</option>
                                    </select>                                    
                                 </td>
                                 <td colspan="3">
                                   
                                 </td>
                             </tr>     
                             <tr>
                                 <td class="text-right">
                                      <label class="tab_radio2 control-label" for="optionsRadios2">
                                            <input type="radio" name="controller_type" id="optionsRadios2" value="user_define">
                                                                                                                                   自定义控制器
                                                                                                                                   <a href="javascript:void(0);" title="自定义控制器特指用户提供自己开发或部署的控制器，需要用户为控制器提供公网IP，否则将无法与虚网连通。" data-toggle="tooltip" data-placement="right" data-original-title="自定义控制器特指用户提供自己开发或部署的控制器，需要用户为控制器提供公网IP，否则将无法与虚网连通。"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                                      </label>
                                 </td>  
                                 <td class="text-right">控制器IP</td>                              
                                 <td width="30%">                                                                    
                                    <div id="ipInput" class="disabled"></div>                                  
                                 </td>
                                 <td class="text-right" width="60">端口</td>
                                 <td width="10%">
                                     <input type="text" maxlength="5" id="controller_port" class="dk_pull form-control" disabled onblur="check_port('port',1)"/>                                    
                                 </td>
                                 <td>                                     
                                     <span id="controller_ip_portInfo" style="display:inline;float:none;"></span>
                                 </td>
                             </tr>                  
                         </tbody>
                     </table>  
                             
                
              
             
			<!--div id="gw_setting" style="display:none"-->
   
                <h4 class="title_word_bg block_title">
                                                    <img src="{% static "img/ic_31.png" %}" />虚拟网关配置                           
                </h4>                
                 <table class="table_base tooltip-demo">
                    <tbody>
                        <tr>
                            <td width="150" class="text-right">
                                网关宿主机
                                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="用户根据选取的虚拟机关联节点选取虚拟网关部署位置" data-original-title="用户根据选取的虚拟机关联节点选取虚拟网关部署位置"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                            </td>
                            <td width="30%">
								<div class="gw_ip">
                                <select id="id_server_gw" class="form-control" onblur="check_gw_select()">
                              
                                </select>					
								</div>			                                
                            </td>
                            <td>                               
                                <span id="gwInfo"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                网关IP地址
                                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="用户输入的网关IP必须在用户申请获取的网络地址范围内，如192.168.10.1" data-original-title="用户输入的网关IP必须在用户申请获取的网络地址范围内，如192.168.10.1"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="gateway_ip" disabled/>                               
                            </td>
                            <td>
                                
                                <span id="gw_ipInfo" style="display:inline;float:none;"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
 
        
              <div class="form-actions">
                  <div class="row buttons_margin">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"><button type="button" class="btn btn-lg btn-block btn_info prev_btn">上一步</button></div>
                    <div class="col-md-2"><button type="button" class="btn btn-lg btn-block btn_info next_btn">下一步</button></div>
                    <div class="col-md-4"></div>
                  </div>
              </div>
             </div>     
             
             <div class="tab_part">

                <h4 class="title_word_bg block_title">
                                 <img src="{% static "img/ic_41.png" %}" />虚拟机配置                                        
                </h4>  
                         
                          
				<!-- 拓扑图 -->
				<div id="topologyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
				<div class="modal-dialog">
                <div class="modal-content">
					<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        				<h4 class="modal-title" >当前已选节点资源</h4>
    				</div>
    				<div class="modal-body" id="topology_info">
    					<div class="row">
            				<div class="col-md-8">
            					<iframe scrolling="no" id="topologyiframe" width="530" height="305"  frameborder="0"></iframe>
             				</div>
             			</div>  
				    </div> 
				 </div>
				 </div>               
			     </div>
			     <table cellpadding="0" cellspacing="0" class="table_base create_vm_form">
			         <tbody>
			             <tr>
			                 <td width="80"><b>类型</b></td>
			                 <td class="type_chose">
								{%for flavor in flavors%}
									<a href="javascript:void(0);" class="{{flavor.name}}" value={{flavor.id}}>{% trans flavor.name %}</a>
								{%endfor%}			                     
			                 </td>
			             </tr>
			             <tr>
                             <td><b>CPU</b></td>
                             <td class="cpu_chose">
                                 <a href="javascript:void(0);" class="vm_active" id="cpu_1" value="1">1 核</a>
                                 <a href="javascript:void(0);" id="cpu_2" value="2">2 核</a>
                                 <a href="javascript:void(0);" id="cpu_4" value="4">4 核</a>
								 <a href="javascript:void(0);" id="cpu_6" value="8">8 核</a>
                             </td>
                         </tr>
                         <tr>
                             <td><b>内存</b></td>
                             <td class="slider_td">

                                 <div id="ram_slider" class="ui-slider">                 
                                 </div>
                                 <span class="value_s">128 MB</span>
                                 <span class="value_e">8 GB</span>
                             </td>
                         </tr>
                         <tr>
                             <td><b>镜像</b></td>
                             <td>
								<!--
                                  <select onblur="check_vm_select('image')" name="image" id="id_image">
                                    <option value="" selected="selected">---------</option>
                                    <option value="51">1</option>
                                  </select> <span name="imageInfo"></span-->
							 	<div class="col-md-3 image">{{ vm_form.image|as_crispy_field }}</div> <span name="imageInfo"></span>
                             </td>
                         </tr>
                         <tr>
                             <td><b>宿主机</b></td>
                             <td>
								<!--
                                 <select onblur="check_vminfo()" name="server" id="id_server">
                                     <option value="" selected="selected">---------</option>
                                     <option value="1">server1</option>
                                 </select-->
							 	<div class="col-md-3 server">{{ vm_form.server|as_crispy_field }} </div>
								<span name="serverInfo"></span>
                                 <a href="javascript:void(0);" id="show_topo" class="view_topo">查看拓扑</a>
                                 
                             </td>
                         </tr>
                         <tr>
                             <td colspan="2">
                                 
									                            
                                     <!--label class="inline tab_checkbox">
                                                    {{ vm_form.enable_dhcp }} {{vm_form.enable_dhcp.errors}}
	                                     </label>-->
								<label class="pull-left control-label">启动DHCP</label>
								<div id="dhcp_vm" class="pull-left"> 
                                     <div class="tuopu_btn">
                                        <span class="switch_btn dhcp vm" style="cursor:pointer">
                                            <span class="switch_content">否</span>
                                        </span>
                                    </div>                                                                 
                                 </div>
                             </td>

                         </tr>
			         </tbody>
			     </table>
			     
    			    <h4 class="title_word_bg block_title">
                                                           <img src="{% static "img/ic_11.png" %}" /> 虚拟机列表      
                                                           <button type="button" class="btn btn_info  pull-right" onclick="javascript:update_vms_info()">添加</button>                                   
                    </h4>
                
                 <table class="table_defined" id="vms_info_table">
                      <thead>
                          <tr>
                            <th>类型</th>
                            <th>CPU</th>
                            <th>内存</th>
                            <th>镜像</th>
                            <th>宿主机</th>
                            <th>是否启动DHCP</th>
                            <th>操作</th>
                          </tr>  
                      </thead>
                      <tbody>
                      </tbody>
                 </table>    
                 
                 <div class="form-actions">
                  <div class="row buttons_margin">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"><button type="button" class="btn btn-lg btn-block btn_info prev_btn">上一步</button></div>
                    <div class="col-md-2"><button type="button" class="btn btn-lg btn-block btn-step4 btn_info next_btn">下一步</button></div>
                    <div class="col-md-4"></div>
                  </div>
                 </div>             
             </div>
             
             <div class="tab_part">

                   <h4 class="title_word_bg block_title">
                                    <img src="{% static "img/ic_08.png" %}" />网络节点      
                   </h4>                
                 <table class="switch-manifest table_defined">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>DPID</th>
                            <th>节点类型</th>
                            <th>所选端口</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                 </table>   

                    <h4 class="title_word_bg block_title">
                                                            <img src="{% static "img/ic_33.png" %}" />网络地址                          
                    </h4> 
                 </legend>
                 <table class="table_base">
                    <tbody>
                        <tr>
                            <td width="120">网络地址：</td>
                            <td><span id="list_slice_nw"></span></td>
                        </tr>
                        <tr>
                            <td>DHCP服务器：</td>
                            <td><span id="list_slice_dhcp">未配置</span></td>
                        </tr>
                    </tbody>
                 </table>   

                    <h4 class="title_word_bg block_title">
                                                            <img src="{% static "img/ic_41.png" %}" />控制器      
                    </h4>               

                 <div id="list_controller"></div>

                   <h4 class="title_word_bg block_title">
                                        <img src="{% static "img/ic_01.png" %}" />虚拟网关      

                    </h4> 

                 <div id="list_gw"></div>

                    <h4 class="title_word_bg block_title">
                                        <img src="{% static "img/ic_11.png" %}" />虚拟机列表      
                    </h4>               
                 </legend>
                 <table class="table_defined">
                    <thead>
                        <tr>
                            <th>虚拟机类型</th>
                            <th>虚拟机镜像</th>
                            <th>宿主机</th>
                            <th>是否启动DHCP</th>
                        </tr>
                    </thead>
                    <tbody id="id_vm_tbody">
                   <!-- <tr>
                            <td>VM1</td>
                            <td>small</td>
                            <td>ubuntu</td>
                            <td>DPID</td>
                            <td>是</td>
                        </tr>
                        <tr>
                            <td>VM2</td>
                            <td>small</td>
                            <td>ubuntu</td>
                            <td>DPID</td>
                            <td>否</td>
                        </tr>-->
                    </tbody>
                 </table>   
              
              <div class="form-actions">
                  <div class="row buttons_margin">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"><button type="button" class="btn btn-lg btn-block btn_info prev_btn">上一步</button></div>
                    <div class="col-md-2"><button type="button" class="btn btn-lg btn-block btn_info next_btn">生成虚网</button></div>
                    <div class="col-md-4"></div>
                  </div>
              </div>
              
              <div class="clear" style="display: none" >
					<p id="project_id">{{project.id}}</p>
			  </div>
             </div>
           </form>
        </div>
        
<div id="slicealertModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-body" id="slice_alert_info">
      <p class="text-center">虚网创建失败！</p>
    </div> 
    <div class="modal-footer">
      <button class="btn delete-confirm btn_info" data-dismiss="modal" id="alert_closed">确定</button>
    </div>   
</div>
</div>       
</div>
{% endblock %}
{% block extra_script %}
<script>  
    $(document).ready(function() {
        window.selected_ports = {};
        window.selected_dpids = {};
        window.add_dpid = function(dpid, is_delete) {
            if(dpid in selected_dpids) {
                if(is_delete) {
                    delete selected_dpids[dpid];
                }
            } else {
                if(!is_delete) {
                    selected_dpids[dpid] = true;
                }
            }
        };
        window.add_port = function(port_id, is_delete) {
            var checkbox = $('input[name="switch_port_ids"][value="' + port_id + '"]');
            if(port_id in selected_ports) {
                if(is_delete) {
                    delete selected_ports[port_id];
                    delete window.selected_dpids[checkbox.data('dpid')];

                    checkbox.attr('disabled', "");
                    checkbox.parents('label').hide();
                    if(checkbox.parents('.switch-data').find('input.port-checkbox:not([disabled])').length == 0) {
                        checkbox.parents('.switch-data').hide();
                    }
                }
            } else {
                if(!is_delete) {
                    window.selected_dpids[checkbox.data('dpid')] = true;
                    selected_ports[port_id] = port_id;
                    checkbox.parents('label').removeClass('hide').show();
                    checkbox.removeAttr('disabled');
                    checkbox.parents('.switch-data').removeClass('hide').show();
                }
            }
            var ports = [];
            for(port in selected_ports) {
                ports.push(port);
            };
            $('#topology-switch').val(ports.join(","));
        };
        $('input[name="switch_port_ids"]').on("ifChecked", function(){
            selected_ports[$(this).val()] = $(this).val();
        });
        $('input[name="switch_port_ids"]').on("ifUnchecked", function(){
            delete selected_ports[$(this).val()];
        });
		$('#alert_closed').on("click", function(){
			window.location.href = window.location.href;
			
		});
		flavor_init();

    });
</script> 
<script>
    var STATIC_URL = "{{ STATIC_URL}}";
</script>
<script src="{{ STATIC_URL}}js/own.js"></script>
<script src="{{ STATIC_URL}}js/slice_verify.js"></script>
<script src="{{ STATIC_URL}}js/taffy.js"></script>
<script src="{{ STATIC_URL}}js/vm.js"></script>
<script src="{{ STATIC_URL}}js/jquery.ipInput.js"></script>
<script src="{{ STATIC_URL}}js/flat_slider.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#ipInput").ipInput();
    });
</script>
{% endblock %}
