{% extends extent_html %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load project_tags %}

{% block head_title %}虚网列表{% endblock %}
{% block breadcrumb %}
    {%if extent_html == "site_base.html" %}
        <a href="/project/detail/{{ project.id }}/">项目详情</a><span class="divider">/</span>  
        虚网列表
    {%else%}
        {%if project%}
        <a href="/project/">项目</a><span class="divider">/</span>
        <a href="/project/detail/{{ project.id }}/">项目详情</a><span class="divider">/</span>
        {%endif%}
        虚网
    {%endif%}
{% endblock %}

{% block body %}

    <div class="search">
        <form class="form-inline" style="float:left;">
            <label>虚网类型：</label>
            <select name="slice_type" id="slice_type" onchange="slice_type_change()">
                <option value="0" {%if type == 0 %}selected{%endif%}>正常运行</option>
                <option value="1" {%if type == 1 %}selected{%endif%}>删除失败</option>
                <option value="2" {%if type == 2 %}selected{%endif%}>已删除</option>             
            </select>
        </form>
       
    </div>
    <div class="fill_form">
        <fieldset>
             {%if type == 1 %}      
                 <legend>删除失败的虚网</legend>
                 {% if not slices %}
                    {%if query %}
                    <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
                    {%else%}
                    <p class="alert alert-info">当前没有删除失败的虚网</p>
                    {%endif%}
                 {% endif %}
             {%else%}
                 <legend>已删除的虚网</legend>
                 {% if not slices %}
                    {%if query %}
                    <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
                    {%else%}
                    <p class="alert alert-info">当前没有已删除的虚网</p>
                    {%endif%}
                 {% endif %}
             {%endif%}
             <div class="row-fluid">
             {%if slices %}
             <div id="list_show">   
                 {% include "slice/list_page.html" %}
             </div>
             {%endif%}
             </div>
         </fieldset>
    </div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
<script src="{{ STATIC_URL}}js/list_pagination.js"></script>
<script type="text/javascript">
    function slice_type_change(){
        var slice_type = document.getElementById("slice_type");
        var href = location.href;
        var hrefs = href.split("?");
        location.href = hrefs[0]+"?type="+slice_type.value;
    }
</script>
{% endblock %}
