<h4 class="block_title">
                            <img src="{{ STATIC_URL}}img/ic_lb.png" />自接入设备端口列表<span>【网段：{{ start_ip }}-{{ end_ip }}】</span>
                            <div class="pull-right">
                                 <a href="" class="edit" title="创建端口"><i class="icon-plus"></i></a>                               
                            </div>                                            
                        </h4>
                       <table class="table_defined">
                           <thead>
                               <tr>
                                   <th width="20%">名称</th>
                                   <th width="15%">端口号</th>
                                   <th width="15%">所在交换机</th>
                                   <th width="15%">类型</th>
                                   <th width="20%">Mac列表</th>
                                   <th width="15%">操作</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>xxx</td>
                                   <td>xxx</td>
                                   <td>xxx</td>
                                   <td>xxx</td>
                                   <td>xxx</td>
                                   <td></td>
                               </tr>
                           </tbody>
                       </table>