{% extends extent_html %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}虚网详情{% endblock %}
{% block breadcrumb %}
    <li><a href="/project/">项目</a></li>
    <li><a href="/project/detail/{{ slice_obj.project.id }}/">{% trans "Project Detail" %}</a></li>
    <li>虚网详情</li>
{% endblock %}

{% block body %}
<div id="ts">
{%if extent_html == "site_base.html" %}
{%if slice_type == "baseslice" and controller == None%}
<div class="alert alert-info">
    <strong>提示：</strong>您当前还未进行服务配置
</div>
{%endif%}
{%if slice_type == "mixslice" and controller == None and gw == None%}
<div class="alert alert-info">
    <strong>提示：</strong>您当前还未进行服务配置
</div>
{%endif%}
{%if slice_type == "mixslice" and controller == None and gw %}
<div class="alert alert-info">
    <strong>提示：</strong>您当前还未添加控制器
</div>
{%endif%}
{%endif%}
</div>
        <table class="table_defined">
            <thead>
                <tr>
                    <th width="16%">虚网名称</th>
                    <th width="32%">描述</th>
                    <th width="16%">所属节点</th>
                    <th width="20%">网段</th>
                    <th width="8%">状态</th>
                    <th width="12%">操作</th>
                </tr>
            </thead>
            <tbody>
             <tr>
                  <td>{{slice_obj.get_show_name}}</td>
                  <td id = "slice_description_old">{{slice_obj.description}}</td>
                  <td>{{slice_obj.get_island}}</td>
                  <td>
                  {%if start_ip == "" %}
                  无
                  {%else%}
                  {{ start_ip }}-{{ end_ip }}
                  {%endif%}
                  </td>
                  <td class="slice_state">
                    {% if slice_obj.state == 0 %}
                        <i class="icon-minus-sign icon_state" id="slice_state"></i>
                    {% elif slice_obj.state == 1 %}
                        <i class="icon-ok-sign icon_state" id="slice_state"></i>
                    {%else%}
                        <i class="icon-spinner icon-spin" id="slice_state"></i>  
                    {%endif%}
                  </td>
                  <td class="btn_operation">
                    {%if extent_html == "site_base.html" and permission == "edit" %}
                        {%if slice_obj.state == 1 %}
                        <a href="javascript:void(0);" id="slice_qt" onclick="start_stop_slice({{slice_obj.id}});" style="cursor:pointer">
                            <img src="{{ STATIC_URL}}img/ic-tz.png" title="停止" />
                        </a>
                        {% elif slice_obj.state == 0 %}
                        <a href="javascript:void(0);" id="slice_qt" onclick="start_stop_slice({{slice_obj.id}});" style="cursor:pointer">
                            <img src="{{ STATIC_URL}}img/ic-ks.png" title="启动" />
                        </a>
                        {% elif slice_obj.state == 3 %}
                        <a href="javascript:void(0);" id="slice_qt" onclick="start_stop_slice({{slice_obj.id}});" style="cursor:not-allowed">
                            <img src="{{ STATIC_URL}}img/ic-tz-un.png" title="停止中" />
                        </a>
                        {%else%}
                        <a href="javascript:void(0);" id="slice_qt" onclick="start_stop_slice({{slice_obj.id}});" style="cursor:not-allowed">
                            <img src="{{ STATIC_URL}}img/ic-ks-un.png" title="启动中" />
                        </a>
                        {%endif%}
                        
                        {%if slice_obj.state == 0 %}
                        <a href="javascript:void(0);" class="bianji" id="slice_bj" onclick="return bj_slice({{slice_obj.id}});" style="cursor:pointer">
                            <img src="{{ STATIC_URL}}img/btn_bj.png" title="编辑" />
                        </a>
                        {%else%}
                        <a href="javascript:;" class="bianji" id="slice_bj" onclick="return bj_slice({{slice_obj.id}});" style="cursor:not-allowed">
                            <img src="{{ STATIC_URL}}img/btn_bj_gray.png" title="编辑" />
                        </a>
                        {%endif%}
                    {%else%}
                        <a href="javascript:void(0);" id="slice_qt" onclick="start_stop_slice({{slice_obj.id}});" style="cursor:not-allowed">
                            {%if slice_obj.state == 0 or slice_obj.state == 4 %}
                            <img src="{{ STATIC_URL}}img/ic-ks-un.png" title="启动" />
                            {%else%}
                            <img src="{{ STATIC_URL}}img/ic-tz-un.png" title="停止" />
                            {%endif%}
                        </a>
                        <a href="javascript:void(0);" class="bianji" id="slice_bj" onclick="return bj_slice({{slice_obj.id}});" style="cursor:not-allowed">
                            <img src="{{ STATIC_URL}}img/btn_bj_gray.png" title="编辑" />
                        </a>
                    {%endif%}
                  </td>
             </tr>
             </tbody>
        </table>
        
        <div class="tuopu_detail">
            {%if checkband == 1%}
            <div class="tuopu_sign_l">
                <div class="tuopu_sign_img">
                    负载（%）
                    <img src="{{ STATIC_URL}}img/ic_quan.png">
                    <div class="tuopu_sign_num">
                        <span>无</span>
                        <span>0</span>
                        <span>30</span>
                        <span>60</span>
                        <span>90</span>
                        <span>100</span>
                    </div>
                </div>                                
            </div>
            <div class="tuopu_btn">
                带宽监控：
                <span class="switch_btn dk">
                    <span class="switch_content">停止</span>
                </span>
            </div>
            {%endif%}
            <iframe scrolling="no" id="topologyiframe" width="100%" height="300" src="/slice/topology_d3/?slice_id={{slice_obj.id}}&width=1205&height=300&top=0&band=0" frameborder="0"></iframe>
        </div>
        
        <div class="slice_detail_tab">
            <div class="row">
                <div class="slice_index col-md-6 fw {%if div_name == "list_fw" %}on{%endif%}">
                    <a href="javascript:;">服务配置</a>
                </div>
                <div class="slice_index col-md-6 xnj {%if div_name == "list_vm" %}on{%endif%}">
                     <a href="javascript:;">虚拟机资源</a>
                </div>
            </div>
        </div>
        
        <div class="slice_detail_block">
            <div class="slice_detail_content" {%if div_name == "list_fw" %}style="display:block;"{%endif%}>
                <div id="list_fw">
                    {% include "slice/fw_list_page.html" %}
                </div>      
            </div>
            
            <div class="slice_detail_content" {%if div_name == "list_vm" %}style="display:block;"{%endif%}>
                <div id="list_vm">
                    {%if slice_type == "mixslice" %}
                        {% include "slice/vm_list_page.html" %}
                    {%else%}
                        <p class="help-block">基础虚网无虚拟机资源！</p>
                    {%endif%}
                </div>          
            </div>
                 
        </div>
        
        
        <form name="downloadkey" action="/plugins/vt/download_keypair/" method="POST">{% csrf_token %}
            <input type="hidden" name="slice_id" value="{{slice_obj.id}}"/>
        </form>
        
 
        <div class="clear" style="display: none" >
            <p id="STATIC_URL">{{STATIC_URL}}</p>
            <p id="slice_id">{{slice_obj.id}}</p>
            {%if extent_html == "site_base.html" and permission == "edit" %}
            <p id="edit">1</p>
            {%else%}
            <p id="edit">0</p>
            {%endif%}
            {%if controller %}
            <p id="controller_ip_port_old">{{controller.ip}}:{{controller.port}}</p>
            {%else%}
            <p id="controller_ip_port_old">""</p>
            {%endif%}
            {%if slice_type == "mixslice" and controller and controller.name == 'user_define'%}
                <p id="controller_type">1</p>
            {%endif%}
            <p id="slice_type">{{slice_type}}</p>
            <p id="slice_uuid">{{slice_obj.uuid}}</p>
            
        </div>
    
    
    <div id="editInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
          <h4 class="modal-title">虚网基本信息编辑</h4>      
        </div>
        <form class="" accept-charset="utf-8">{% csrf_token %}
            <div class="modal-body base_info">
              <table class="table_base">
                  <tbody>
                      <tr>
                          <td width="100" class="text-right">虚网名称</td>
                          <td width="400">{{slice_obj.get_show_name}}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <td class="text-right v_top">虚网描述</td>
                             <td>
                                <textarea class="form-control" rows="5" maxlength=1024 id="slice_description" name="slice_description" onblur="check_slice_description('slice_description',1)">{{slice_obj.description}}</textarea>
                                
                             </td>
                          <td><span id="slice_descriptionInfo" style="display:inline;float:none;"></span> </td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" onclick="edit_description('{{ slice_obj.id }}')" class="btn btn_info">确定</button>
            </div>
        </form>
        </div>
        </div>
    </div>
    
    <div id="editmixctModal" class="modal fade edit_controller_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
          <h4 class="modal-title" id="mixcttitle">
          {%if controller%}
          虚网控制器编辑
          {%else%}
          虚网控制器添加
          {%endif%}
          </h4>      
        </div>
        <form class="form-horizontal" accept-charset="utf-8">{% csrf_token %}
            <div class="modal-body base_info">
              <table class="table_base tooltip-demo">
                <tbody>
                    <tr>
                        <td width="120">
                            <label class="tab_radio1 control-label">
                              <input type="radio" name="controller_type" id="optionsRadios1" value="default_create"
                              {%if controller %}
                              {%if controller.name != 'user_define' %}checked{%endif%}
                              {%else%}checked{%endif%}>
                              默认创建
                            </label>
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="" data-original-title="此处默认创建控制器"><i class="glyphicon glyphicon-question-sign"></i></a>
                        </td>
                        <td width="100" class="text-right">控制器类型</td>
                        <td>
                            {%if controller %}
                                {%if controller.name != 'user_define' %}
                                    <select name="controller_sys" id="controller_sys" class="form-control" onblur="check_ct_sys()">
                                        {%for ct_sys_name in ct_sys_names %}
                                            <option value="{{ct_sys_name}}" {%if controller.name == ct_sys_name %}selected = "selected"{%endif%}>{{ct_sys_name}}</option>
                                        {%endfor%}
                                    </select>
                                {%else%}
                                    <select name="controller_sys" id="controller_sys" class="form-control" disabled onblur="check_ct_sys()">
                                        {%for ct_sys_name in ct_sys_names %}
                                            <option value="{{ct_sys_name}}">{{ct_sys_name}}</option>
                                        {%endfor%}
                                    </select>
                                {%endif%}
                            {%else%}
                                <select name="controller_sys" id="controller_sys" class="form-control" onblur="check_ct_sys()">
                                    {%for ct_sys_name in ct_sys_names %}
                                        <option value="{{ct_sys_name}}">{{ct_sys_name}}</option>
                                    {%endfor%}
                                </select>
                            {%endif%}
                            
                        </td>
                        <td colspan="3">
                            <span id="controller_sysInfo" style="display:inline;float:none;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="tab_radio2">
                              <input type="radio" name="controller_type" id="optionsRadios2" value="user_define"
                              {%if controller and controller.name == 'user_define' %}checked{%endif%}>
                              自定义
                            </label>
                            <a href="javascript:void(0);" title="用户提供自己的控制器" data-toggle="tooltip" data-placement="right" data-original-title="用户提供自己的控制器"><i class="glyphicon glyphicon-question-sign"></i></a>
                        </td>
                        <td class="text-right">控制器IP</td>
                        <td width="230">
                            <div id="ipInput" class="disabled"></div>
                        </td>
                        <td width="50" class="text-right">端口</td>
                        <td width="100">
                            <input type="text" maxlength="5" id="controller_port" class="dk_pull form-control" disabled onblur="check_port('port',1)"/>                                                       
                        </td>
                        <td><span id="controller_ip_portInfo" style="display:inline;float:none;"></span></td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" onclick="edit_controller('{{ slice_obj.id }}')" class="btn btn_info">确定</button>
          </div>
        </form>
        </div>
        </div>
    </div>
    
    <div id="editbasectModal" class="modal fade edit_controller_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
          <h4 class="modal-title" id="basecttitle">
          {%if controller%}
          虚网控制器编辑
          {%else%}
          虚网控制器添加
          {%endif%}
          </h4>      
        </div>
        <form class="form-horizontal" accept-charset="utf-8">{% csrf_token %}
            <div class="modal-body base_info">
              <table class="table_base tooltip-demo">
                <tbody>
                    <tr>
                        <td width="120">
                            <label class="tab_radio2">
                              <input type="radio" name="base_controller_type" id="optionsRadios3" value="user_define" checked>
                              自定义
                            </label>
                            <a href="javascript:void(0);" title="用户提供自己的控制器" data-toggle="tooltip" data-placement="right" data-original-title="用户提供自己的控制器"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                        </td>
                        <td class="text-right" width="100">控制器IP</td>
                        <td width="250">
                            <div id="ipInput_base" class=""></div>
                        </td>
                        <td width="50" class="text-right">端口</td>
                        <td width="100">
                            <input type="text" maxlength="5" id="base_controller_port" class="dk_pull form-control" onblur="check_port('port',1)"/>                                                       
                        </td>
                        <td width="100"><span id="base_controller_ip_portInfo" style="display:inline;float:none;"></span></td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" onclick="edit_controller('{{ slice_obj.id }}')" class="btn btn_info">确定</button>
          </div>
        </form>
        </div>
        </div>
    </div>
    
    <div id="addgwModal" class="modal fade edit_controller_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
          <h4 class="modal-title">虚拟网关添加</h4>      
        </div>
        <form class="form-horizontal" accept-charset="utf-8">{% csrf_token %}
            <div class="modal-body base_info">
                <table class="table_base tooltip-demo">
                    <tbody>
                        <tr>
                            <td width="150" class="text-right">
                                网关宿主机
                                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="用户根据选取的虚拟交换机选取虚拟网关部署位置" data-original-title="用户根据选取的虚拟交换机选取虚拟网关部署位置"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                            </td>
                            <td width="30%">
                                <div class="gw_ip">
                                <select id="id_server_gw" class="form-control" onblur="check_gw_select()">
                              
                                </select>                   
                                </div>                                          
                            </td>
                            <td>                               
                                <span id="gwInfo"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                网关IP地址
                                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="用户输入的网关IP必须在用户申请获取的网络地址范围内，如192.168.10.1" data-original-title="用户输入的网关IP必须在用户申请获取的网络地址范围内，如192.168.10.1"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="gateway_ip" disabled/>                               
                            </td>
                            <td>
                                
                                <span id="gw_ipInfo" style="display:inline;float:none;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                配置DHCP服务
                            </td>
                            <td colspan=2>
                                <div class="tuopu_btn">
                                    <span class="switch_btn add_dhcp checked">
                                        <span class="switch_content">是</span>
                                    </span>
                                </div>

                            </td>
                          
                        </tr>  
                    </tbody>
                </table>
          </div>
          <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" onclick="submit_gw('{{ slice_obj.id }}')" class="btn btn_info">确定</button>
          </div>
        </form>
        </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
              <h4 class="modal-title">提示</h4>      
          </div>
          <div class="modal-body">
            确定要删除吗？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn_info">确定</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="slicealertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
              <h4 class="modal-title">提示</h4>      
          </div>
          <div class="modal-body" id="slice_alert_info">
            <p class="text-center">虚网创建失败！</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn_info" data-dismiss="modal" id="slice_alert_button">确定</button>
          </div>
        </div>
      </div>
    </div>
	<div class="modal fade" id="adddevicetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
		<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
          <h4 class="modal-title">请选择添加设备的类型</h4>      
        </div>
          <div class="modal-body">
			<table class="table_base">
                <tbody>
                    <tr>
                        <td width="120">
            				<label class="tab_radio1 control-label" >
            					<input type="radio" name="device" id="customdevice" value="customdevice" />
                				接入自有设备             
            				</label><span id="customdevice_msg"></span>
						</td>
					</tr>
					<tr>
						<td>
							<label class="tab_radio1 control-label">
            					<input type="radio" name="device" id="vmdevice" value="vmdevice"/>
                				添加虚拟机             
           					 </label>
						</td>
					</tr>
				</tbody>
			</table>
          </div>
          <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn_info" onclick="add_device('{{ slice_obj.id }}')">确定</button>
          </div>
        </div>
      </div>
    </div>
<!-- 创建备份 -->
<div id="create_bf" class="modal fade modal_base_defined" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 id="myModalLabel" class="modal-title">创建备份</h4>      
            </div>
            <div class="modal-body base_info form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">名称</label>
                    <div class="col-md-8">
                            <input type="text" class="form-control" name="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">描述</label>
                    <div class="col-md-8">
                            <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button class="btn btn_info submit-invite">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 创建镜像 -->
<div id="create_jx" class="modal fade modal_base_defined" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 id="myModalLabel" class="modal-title">创建镜像</h4>      
            </div>
            <div class="modal-body base_info form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">名称</label>
                    <div class="col-md-8">
                            <input type="text" class="form-control" name="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">描述</label>
                    <div class="col-md-8">
                            <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                   <label class="radio-inline radio_defined">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> 共享
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 私有
                    </label>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button class="btn btn_info submit-invite">确定</button>
            </div>
        </div>
    </div>
</div>


<!-- 参数配置 -->
<div id="para_pz" class="modal fade modal_base_defined" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 id="myModalLabel" class="modal-title">参数配置</h4>      
            </div>
            <div class="modal-body base_info form-horizontal pop_chose_block">
                <div class="form-group">
                    <label class="control-label col-md-2">类型</label>
                    <div class="col-md-10 create_vm_form">
                         <div class="cpu_chose">                         
                             <a href="javascript:void(0);" name="project" class="vm_active" value="">微型</a>                             
                             <a href="javascript:void(0);" name="project" class="" value="">迷你型</a>                            
                             <a href="javascript:void(0);" name="project" class="" value="">小型</a>                             
                             <a href="javascript:void(0);" name="project" class="" value="">中型</a>
                             <a href="javascript:void(0);" name="project" class="" value="">大型</a>   
                             <a href="javascript:void(0);" name="project" class="" value="">超大型</a>                               
                         </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">CPU</label>
                    <div class="col-md-10 create_vm_form">
                         <div class="cpu_chose">                         
                             <a href="javascript:void(0);" name="project" class="vm_active" value="">1核</a>                             
                             <a href="javascript:void(0);" name="project" class="" value="">2核</a>                            
                             <a href="javascript:void(0);" name="project" class="" value="">4核</a>                             
                             <a href="javascript:void(0);" name="project" class="" value="">6核</a>                             
                         </div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">内存</label>
                    <div class="col-md-10">
                       <div class="slider_td clearfix">
                             <div id="slider" class="ui-slider"></div>
                             <span class="value_s">128 MB</span>
                             <span class="value_e">8 GB</span>
                       </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button class="btn btn_info submit-invite">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
<script src="{{ STATIC_URL}}js/list_pagination.js"></script>
<script src="{{ STATIC_URL}}js/slice_detail.js"></script>
<script src="{{ STATIC_URL}}js/slice_verify.js"></script>
<script src="{{ STATIC_URL}}js/jquery.ipInput.js"></script>
<script src="{{ STATIC_URL}}js/type_chose.js"></script>
<!--<script src="{{ STATIC_URL}}js/jquery-ui.js"></script>-->
<script type="text/javascript">
    $(document).ready(function(){
        window.check_vms = {};
        window.check_start_vms = {};
        window.add_check_vm = function(vm_id, is_delete, state) {
            if(vm_id in check_vms) {
                if(is_delete) {
                    delete check_vms[vm_id];
                }
            } else {
                if(!is_delete) {
                    check_vms[vm_id] = state;
                }
            }
        };
        window.add_check_start_vm = function(vm_id, is_delete, state) {
            if(vm_id in check_start_vms) {
                if(is_delete) {
                    delete check_start_vms[vm_id];
                }
            } else {
                if(!is_delete) {
                    check_start_vms[vm_id] = state;
                }
            }
        };
        //$( "#editInfoModal" ).draggable();
        show_uuid($("[id='uuid']"));
        var slice_type = $("#slice_type").text();
        var controller_type = $("#controller_type").text();
        if(slice_type == "mixslice"){
            $("#ipInput").ipInput();
            if(controller_type == 1){
                init_ipinput();
            }
        }else{
            $("#ipInput_base").ipInput();
            init_ipinput_base();
        }
        
        // jQuery UI Sliders
        var $slider = $("#slider");
        if ($slider.length) {
          $slider.slider({
            min: 1,
            max: 5,
            value: 2,
            orientation: "horizontal",
            range: "min"
          }).addSliderSegments($slider.slider("option").max);
        }
    });
</script>
<script src="{{ STATIC_URL}}js/check_vm_status_slice.js"></script>
<script src="{{ STATIC_URL}}js/snapshot.js"></script>
{% endblock %}
