{% extends extent_html %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}虚网详情{% endblock %}
{% block breadcrumb %}
    <li><a href="/project/">项目</a></li>
    <li><a href="/project/detail/{{ slice_obj.project.id }}/">{% trans "Project Detail" %}</a></li>
    <li>虚网详情</li>
{% endblock %}

{% block body %}
    <div class="container-fluid main">
        <div class="alert alert-info alert_defined">
            启动步骤：1.启动控制器 <i class="glyphicon glyphicon-arrow-right"></i> 2.启动虚拟网关 <i class="glyphicon glyphicon-arrow-right"></i> 3.启动虚网 <i class="glyphicon glyphicon-arrow-right"></i> 4.启动虚拟机
        </div>
        <h4 class="slice_name">{{slice_obj.get_show_name}} 
        <!--<i class="icon-caret-down pull-right"></i>--> </h4>
        <!--<div class="panel panel_defined">
          <div class="panel-body">
            <p>所属项目：{{slice_obj.project.name}}</p>
            <p>描述：{{slice_obj.description}}</p>
          </div>
        </div>-->
        <div class="tuopu">
            <div class="tuopu_sign_l">
                <div class="tuopu_sign_img">
                    负载（%）
                    <img src="{{ STATIC_URL}}img/ic_quan.png">
                    <div class="tuopu_sign_num">
                        <span>无</span>
                        <span>0</span>
                        <span>10</span>
                        <span>30</span>
                        <span>60</span>
                        <span>90</span>
                    </div>
                </div>                                
            </div>
            <div class="tuopu_btn">
                带宽监控：
                <span class="switch_btn">
                    <span class="switch_content">停止</span>
                </span>
            </div>
            <iframe scrolling="no" id="topologyiframe" width="100%" height="300" src="/slice/topology_d3/?slice_id={{slice_obj.id}}&width=1000&height=300&top=0&band=1" frameborder="0"></iframe>
        </div>

        <h4 class="block_title">
            <img src="{{ STATIC_URL}}img/ic_slice.png" />虚网资源<span>【网段：{{ start_ip }}-{{ end_ip }}】<a href="#" onclick="javascript:document.downloadkey.submit();">下载私钥</a></span>
        </h4>
        
        <div id="list_show">
            {% include "slice/vm_list_page.html" %}
        </div>   
    </div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/list_pagination.js"></script>
<script src="{{ STATIC_URL}}js/own.js"></script>
<script src="{{ STATIC_URL}}js/topology_show_info.js"  charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
<script src="{{ STATIC_URL}}js/slice_verify.js"></script>
<script src="{{ STATIC_URL}}js/check_vm_status_slice.js"></script>
<script src="{{ STATIC_URL}}js/taffy.js"></script>
<script src="{{ STATIC_URL}}js/vm.js"></script>
<script>
	$(function(){
		$(".aa").iCheck("destroy");
		show_uuid($("[id='uuid']"));
	})
</script>
<script src="{{ STATIC_URL}}js/jquery.ipInput.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#ipInput").ipInput();
        init_ipinput();
        $(".show_describe").click(function(){
            if($(".word_detail").is(":hidden")) {
                $(".word_detail").slideDown(); 
                $(this).removeClass("glyphicon glyphicon-caret-down").addClass("glyphicon glyphicon-caret-up");
            } else {
                $(".word_detail").slideUp();
                $(this).removeClass("glyphicon glyphicon-caret-up").addClass("glyphicon glyphicon-caret-down");
            }
        });
    });
</script>
{% endblock %}
