{% extends extent_html %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load project_tags %}

{% block head_title %}虚网列表{% endblock %}
{% block breadcrumb %}
    {%if extent_html == "site_base.html" %}
        <a href="/project/">项目</a><span class="divider">/</span>
        <a href="/project/detail/{{ project.id }}/">项目详情</a><span class="divider">/</span>  
        虚网列表
    {%else%}
        {%if project%}
        <a href="/project/">项目</a><span class="divider">/</span>
        <a href="/project/detail/{{ project.id }}/">项目详情</a><span class="divider">/</span>
        {%endif%}
        虚网
    {%endif%}
{% endblock %}

{% block body %}

    <div class="search">
        {%if extent_html == "admin_base.html" %}
        {%if not project%}
        <form class="form-inline" style="float:left;">
            <label>虚网类型：</label>
            <select name="slice_type" id="slice_type" onchange="slice_type_change()">
                <option value="0" {%if type == 0 %}selected{%endif%}>正常运行</option>
                <option value="1" {%if type == 1 %}selected{%endif%}>删除失败</option>
                <option value="2" {%if type == 2 %}selected{%endif%}>已删除</option>          
            </select>
        </form>
        {%endif%}
        {%endif%}
        <form class="form-search">
          <div class="input-append">
              <input type="text" value="{{ query }}" name="query" value="" class="span2 search-query">
              <button type="submit" class="btn">搜索</button>
          </div>
        </form>
    </div>
    <div class="fill_form">
        <fieldset>
             
                {%if extent_html == "site_base.html" %}

                    <div class="well">
                    <h3 class="list_title">我的虚网</h3>
                    <p class="list_lead">虚网是CCF中用于提供研究人员进行实验的最小独立容器，虚网由实验所需要的计算和网络资源组成。</p>
                    </div> 
                {%else%}
                    {%if project%}
                        <div class="well">
                        <h3 class="list_title">我的虚网</h3>
                        <p class="list_lead">虚网是CCF中用于提供研究人员进行实验的最小独立容器，虚网由实验所需要的计算和网络资源组成。</p>
                        </div> 
                    {%else%}
                    <legend>正常运行的虚网</legend>
                    <div class="row-fluid countschart">
                        <div class="span2 counts">
                            <div class="counts_block">
                                <p><img src="{% static "img/file-01.png" %}"  /></p>
                                <p class="counts_block_title">新增虚网</p>

                                <p class="counts_block_nums">{{new_num}}</p>
                            </div>
                            <div class="counts_block">
                                <p><img src="{% static "img/file-02.png" %}"  /></p>
                                <p class="counts_block_title">全部虚网</p>

                                <p class="counts_block_nums">{{total_num}}</p>
                            </div>                                                 
                        </div>                        
                        <div class="span10">
                            <iframe scrolling="no" id="countiframe" width="100%" height="182" src="/slice/countiframe/?target=slice&type=day" frameborder="0"></iframe>
                            <div id="countbutton">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="30">
                            <g class="highcharts-legend" zIndex="7" transform="translate(325,0)">
                            <rect rx="5" ry="5" fill="white" x="0.5" y="0.5" width="168" height="24" stroke="#CCC" stroke-width="1" visibility="visible"></rect>
                            <g zIndex="1">
                            <g>
                            <g class="highcharts-legend-item" zIndex="1" transform="translate(8,3)">
                                <text x="30" y="15" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:12px;cursor:pointer;color:#274b6d;fill:#274b6d;" text-anchor="start" zIndex="2">
                                <tspan x="30" onclick="refreshcountiframe('slice', 'year');"> 年</tspan>
                                </text>
                                <rect rx="2" ry="2" fill="#8bbc21" style="cursor:pointer" x="0" y="4" width="25" height="12" zIndex="3" onclick="refreshcountiframe('slice', 'year');"></rect>
                            </g>
                            <g class="highcharts-legend-item" zIndex="1" transform="translate(64.28125,3)">
                                <text x="30" y="15" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:12px;cursor:pointer;color:#274b6d;fill:#274b6d;" text-anchor="start" zIndex="2">
                                <tspan x="30" onclick="refreshcountiframe('slice', 'month');"> 月</tspan>
                                </text>
                                <rect rx="2" ry="2" fill="#0d233a" style="cursor:pointer" x="0" y="4" width="25" height="12" zIndex="3" onclick="refreshcountiframe('slice', 'month');"></rect>
                            </g>
                            <g class="highcharts-legend-item" zIndex="1" transform="translate(120.5625,3)">
                                <text x="30" y="15" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:12px;cursor:pointer;color:#274b6d;fill:#274b6d;" text-anchor="start" zIndex="2">
                                <tspan x="30" onclick="refreshcountiframe('slice', 'day');"> 日</tspan>
                                </text>
                                <rect rx="2" ry="2" fill="#2f7ed8" style="cursor:pointer" x="0" y="4" width="25" height="12" zIndex="3" onclick="refreshcountiframe('slice', 'day');"></rect>
                            </g>
                            </g>
                            </g>
                            </g>
                            </svg>
                            </div>
                        </div>     
                    </div>

                    {%endif%}
                {%endif%}
                <div class="clear" style="display: none" >
                    {%if extent_html == "site_base.html"%}
                        <p id="slice_show">0</p>
                    {%else%}
                        {%if project %}
                            <p id="slice_show">0</p>
                        {%else%}
                            <p id="slice_show">1</p>
                        {%endif%}
                    {%endif%}
                </div>
             {% if not slices %}
                {%if query %}
                <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
                {%else%}
                <p class="alert alert-info">当前没有虚网</p>
                {%endif%}
             {% endif %}
             <div class="row-fluid">
             {%if slices %}
             <div id="list_show">
                 {% include "slice/list_page.html" %}
		     </div>
		     {%endif%}
		     </div>
         </fieldset>
    </div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/jquery.knob.js"></script>
<script src="{{ STATIC_URL}}js/slice_list.js"></script>
<script src="{{ STATIC_URL}}js/own.js"></script>
<script src="{{ STATIC_URL}}js/list_pagination.js"></script>
<script type="text/javascript">
    function refreshcountiframe(target, type){
        document.getElementById("countiframe").src="/slice/countiframe/?target="+target+"&type="+type; 
    }
    function slice_type_change(){
        var slice_type = document.getElementById("slice_type");
        var href = location.href;
        var hrefs = href.split("?");
        location.href = hrefs[0]+"?type="+slice_type.value;
    }
</script>
{% endblock %}
