{% extends extent_html %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}虚网详情{% endblock %}
{% block breadcrumb %}
    <li><a href="/project/">项目</a></li>
    <li><a href="/project/detail/{{ slice_obj.project.id }}/">{% trans "Project Detail" %}</a></li>
    <li>虚网详情</li>
{% endblock %}

{% block body %}
    <div class="container-fluid main">
        <div class="alert alert-info alert_defined">
            启动步骤：1.启动控制器 <i class="glyphicon glyphicon-arrow-right"></i> 2.启动虚拟网关 <i class="glyphicon glyphicon-arrow-right"></i> 3.启动虚网 <i class="glyphicon glyphicon-arrow-right"></i> 4.启动虚拟机
        </div>
        <h4 class="slice_name">{{slice_obj.get_show_name}} 
        <!--<i class="icon-caret-down pull-right"></i>--> </h4>
        <!--<div class="panel panel_defined">
          <div class="panel-body">
            <p>所属项目：{{slice_obj.project.name}}</p>
            <p>描述：{{slice_obj.description}}</p>
          </div>
        </div>-->
        <div class="tuopu">
            <div class="tuopu_sign_l">
                <div class="tuopu_sign_img">
                    负载（%）
                    <img src="{{ STATIC_URL}}img/ic_quan.png">
                    <div class="tuopu_sign_num">
                        <span>无</span>
                        <span>0</span>
                        <span>10</span>
                        <span>30</span>
                        <span>60</span>
                        <span>90</span>
                    </div>
                </div>                                
            </div>
            <div class="tuopu_btn">
                带宽监控：
                <span class="switch_btn">
                    <span class="switch_content">停止</span>
                </span>
            </div>
            <iframe scrolling="no" id="topologyiframe" width="100%" height="300" src="/slice/topology_d3/?slice_id={{slice_obj.id}}&width=1000&height=300&top=0&band=1" frameborder="0"></iframe>
        </div>

        <h4 class="block_title">
            <img src="{{ STATIC_URL}}img/ic_slice.png" />虚网资源<span>【网段：{{ start_ip }}-{{ end_ip }}】<a href="#" onclick="javascript:document.downloadkey.submit();">下载私钥</a></span>
        </h4>
        
        <div id="list_show">
            {% include "slice/vm_list_page.html" %}
        </div>   
    </div>
    <div class="clear" style="display: none" >
        <p id="STATIC_URL">{{STATIC_URL}}</p>
    </div>
    <div id="editSliceModal" class="modal hide fade in modal_base_defined" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
          <h3>虚网控制器编辑</h3>      
        </div>
        <form class="" accept-charset="utf-8">{% csrf_token %}
            <div class="modal-body base_info tooltip-demo">
              <table class="table">
                <tbody>
                    <tr>
                        <td width="100">
                            <label class="tab_radio1">
                              <input type="radio" name="controller_type" id="optionsRadios1" value="default_create"
                              {%if controller.name == "user_define" %}{%else%}checked{%endif%}>
                              默认创建
                            </label>
                        </td>
                        <td width="70">控制器类型</td>
                        <td colspan="3">
                            {%if controller.name == "user_define" %}
                                <select name="controller_sys" id="controller_sys" disabled>
                                  <option value="Floodlight">Floodlight</option>
                                  <option value="POX">POX</option>
                                  <option value="OpenDaylight">OpenDaylight</option>
                                </select>
                            {%else%}
                                <select name="controller_sys" id="controller_sys">
                                  <option value="Floodlight" {%if controller.name == "Floodlight" %}selected = "selected"{%endif%}>Floodlight</option>
                                  <option value="POX" {%if controller.name == "POX" %}selected = "selected"{%endif%}>POX</option>
                                  <option value="OpenDaylight" {%if controller.name == "OpenDaylight" %}selected = "selected"{%endif%}>OpenDaylight</option>
                                </select>
                            {%endif%}
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="" data-original-title="此处默认创建Floodlight控制器"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="tab_radio2">
                              <input type="radio" name="controller_type" id="optionsRadios2" value="user_define"
                              {%if controller.name == "user_define"%}checked{%endif%}>
                              自定义
                            </label>
                        </td>
                        <td>控制器IP</td> 
                        <!--<td>
                            <span id="controller_ip_portInfo" style="display:inline;float:none;"></span>
                        </td>-->
                        <td width="230">
                            <div id="ipInput" class="disabled"></div>
                        </td>
                        <td width="30">端口</td>
                        <td>
                            <input type="text" maxlength="5" id="controller_port" class="dk_pull" disabled onblur="check_port('port',1)"/>
                            <a href="javascript:void(0);" title="用户提供自己的控制器" data-toggle="tooltip" data-placement="right" data-original-title="用户提供自己的控制器"><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-align-left"></i></a>
                            <span id="controller_ip_portInfo" style="display:inline;float:none;"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" onclick="edit_controller('{{ slice_obj.id }}')" class="btn btn-info">确定</button>
          </div>
        </form>
    </div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/list_pagination.js"></script>
<script src="{{ STATIC_URL}}js/slice_detail.js"></script>
{% endblock %}
