{% extends extent_html %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load endless %}
{% load project_tags %}

{% block head_title %}SLICE列表{% endblock %}
{% block breadcrumb %}
    {%if extent_html == "site_base.html" %}
        <a href="/project/detail/{{ project.id }}/">项目详情</a><span class="divider">/</span>
    {%endif%}
    Slice列表
{% endblock %}

{% block body %}
{% paginate 4 slices %}
    <div class="search">
        <form class="form-search">
          <div class="input-append">
              <input type="text" value="{{ query }}" name="query" value="" class="span2 search-query">
              <button type="submit" class="btn">搜索</button>
          </div>
        </form>
    </div>
    <div class="fill_form">
        <fieldset>
             
                {%if extent_html == "site_base.html" %}
                <legend>我的Slice</legend>
                {%else%}
                <div class="well">
                    <h3 class="list_title">虚网（Slice）</h3>
                    <p class="list_lead">Slice可自动提取用户电子信箱内电子收据上的信息，包括发货通知、跟踪号码、退货政策和客户服务信息等，然后以一种清晰的模式保存，这样用户就不必再担心包裹何时到达，以及整个圣诞节期间的购物消费额等问题。</p>
                </div>
                {%endif%}
             {% if not slices %}
                {%if query %}
                <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
                {%else%}
                <p class="alert alert-info">当前没有SLICE</p>
                {%endif%}
             {% endif %}
             <div class="row-fluid">
             {%if slices %}
             {% for group in slices|group_by:2 %}
             <ul class="thumbnails example-sites">
		         {% for slice in group %}
		              {% include "slice/_slice.html" %}
		         {% endfor %}
		     </ul>
		     {% endfor %}
		     {%endif%}
		     </div>
         </fieldset>
    </div>
    <div class="pagination">
        <ul>
            {% show_pages %}
        </ul>
    </div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/jquery.knob.js"></script>
<script src="{{ STATIC_URL}}js/slice_list.js"></script>
<script src="{{ STATIC_URL}}js/own.js"></script>
{% endblock %}
