{% load i18n %}
{% load staticfiles %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{{ STATIC_URL}}css/slice_topology_d3.css">
<style type="text/css">
    body.tuopu_bg {background:transparent;}
</style>
<body class="tuopu_bg" style="margin: 0">
{%if top == '2' %}
<div id="topology_top" style="background-color:#FFFFFF; width:100%; height:30px">
    
</div>
{%endif%}
<div class="topology">
    
</div>
<div class="clear" style="display: none" >
    <p id="slice_id">{{slice_id}}</p>
    <p id="width">{{width}}</p>
    <p id="height">{{height}}</p>
    <p id="top">{{top}}</p>
    <p id="band">{{band}}</p>
    <p id="own_device">{{own_device}}</p>
    <p id="STATIC_URL">{{STATIC_URL}}</p>
    <p id="admin">{{admin}}</p>
    {%if slice_id == '0' %}
        <p id="tp_mod">{{tp_mod}}</p>
        <p id="switch_ids">{{switch_ids}}</p>
        <p id="switch_port_ids">{{switch_port_ids}}</p>
    {%endif%}
</div>
<div id="container" style="min-width: 400px; height: 182px; margin: 0 auto"></div>
<div class="clear" style="display: none" >
    <p id="target">{{target}}</p>
    <p id="type">{{type}}</p>
    <p id="stype">{{stype}}</p>
</div>
</body>
<script src="{{ STATIC_URL }}topology/lib/jquery.min.js"></script>
<script src="{{ STATIC_URL }}pinax/js/theme.js"></script>
<script src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}topology/lib/custom-tooltip.js"></script>
<script src="{{ STATIC_URL}}js/taffy.js"></script>
<script src="{{ STATIC_URL }}js/slice_topology_d3.js"></script> 
