{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}
{% load staticfiles %}

{% block breadcrumb %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/jqPlot/jquery.jqplot.css" />
{% endblock %}
{% if vm_id == 0%}
<a href="/nexus/resources/server/">服务器管理</a><span class="divider">/</span>
<li class="active">服务器监控</li>
{% else%}
<a href="/project/">项目</a><span class="divider">/</span>
<a href="{% url 'project_detail' project_id %}">项目详情</a><span class="divider">/</span>
<a href="{% url 'slice_detail' slice_id %}">虚网详情</a><span class="divider">/</span>
虚拟机监控
{% endif %}
{% endblock %}

{% block body %}
<div id="div_normal_data" style="display">
    <div class="row">
        <div class="col-md-6">
            <div class="box gradient">
                <div class="title">
                    <h4>
                        <span class="icon-bar-chart icon-large"></span>
                        <span>cpu使用率(<span id="cpu_percent"></span>%)</span>
                    </h4>
                </div>
                <div class="content" style="padding-bottom:0;">
                    <canvas id="cpu_perf_chart" width="439" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box gradient">
                <div class="title">
                    <h4>
                        <span class="icon-bar-chart icon-large"></span>
                        <span>内存使用率(<span id="mem_percent"></span>%)</span>
                    </h4>
                </div>
                <div class="content" style="padding-bottom:0;">
                    <canvas id="mem_perf_chart" width="439" height="300"></canvas>
                </div>
            </div>
        </div>
     </div>   
    <div class="row">
        <div class="col-md-6">
            <div class="box gradient">
                <div class="title">
                    <h4>
                        <span class="icon-bar-chart icon-large"></span>
                        <span>网络流量</span>			        	
                    </h4>
                </div>
                <div class="content"> 
                    <!--span>(<span id="net_unit"></span>/s)</span--> 
					(<span id="net_unit"></span>/s)          
                    <select class="col-md-4 pull-right" id="ports_info" onChange="change_port(this.options[this.options.selectedIndex].value)">                           
                    </select>                   
                    <canvas id="net_perf_chart" width="439" height="173"></canvas>
                    <table class="table table-bordered" width="100%" style="margin-bottom:0;">
                        <tbody>
                            <tr>
                                <td width="9%"><img src="{% static "img/upload.png" %}" width="20" /></td>
                                <td width="45%">总发送量：<span id="id_net_send"></span></td>
                                <td width="45%">每秒发送量：<span id="id_net_send_bps"></span>/s</td>
                            </tr>
                            <tr>
                                <td><img src="{% static "img/download.png" %}" width="20" /></td>
                                <td>总接收量：<span id="id_net_recv"></span></td>
                                <td>每秒接收量：<span id="id_net_recv_bps"></span>/s</td>
                            </tr>
                        </tbody>
                    </table>
		   			<!--<div id="net_info"></div>-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box gradient">
                <div class="title">
                    <h4>
                        <span class="icon-bar-chart icon-large"></span>
                        <span>磁盘使用情况</span>
                    </h4>
                </div>
                <div class="content" style="padding-bottom:0;">
                    <!--canvas id="disk_perf_chart" width="439" height="300"></canvas-->
					<div id="disk_perf_chart" width="439" height="300"></div>
                    <div class="chart_tip">
                        <p id="disk_use"></p>
                        <p id="disk_free"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-chart.js"></script>
		<script src="{{ STATIC_URL }}js/common.js" ></script>
		<script src="{{ STATIC_URL }}js/jqPlot/jquery.jqplot.min.js"></script>
		<script src="{{ STATIC_URL }}js/jqPlot/jqplot.pieRenderer.js"></script>
		<script src="{{ STATIC_URL }}js/monitor.js" ></script>
		
        <script>
            $(function(){
                var vm_id = {{ vm_id }}
                if ({{ vm_id }} == 0){
                    init({{host_id}}, undefined);
					$('#alert_close').on("click", function(){
						window.location.href = "/nexus/resources/server/";
					});
                }else{
                    init({{ host_id }}, {{ vm_id }});
					$('#alert_close').on("click", function(){
						window.location.href = "/slice/detail/{{ slice_id }}/";
					});
                }
		
            })
        </script>
{% endblock %}
