{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body %}
    <ul class="nav nav-pills" id="br_info"></ul>
	<div id="main_show">
    	<canvas id="port_perf_chart" width="430" height="300"></canvas>
		<table class="table table-bordered" width="100%" style="margin-bottom:0;">
                        <tbody>
                            <tr>
                                <td width="9%"><img src="{% static "img/upload.png" %}" width="20" /></td>
                                <td width="45%">总发送量：<span id="id_port_send"></td>
                                <td width="45%">每秒发送量：<sqan id="id_port_send_bps">/S</td>
                            </tr>
                            <tr>
                                <td><img src="{% static "img/download.png" %}" width="20" /></td>
                                <td>总接收量：<span id="id_port_recv"></td>
                                <td>每秒接收量：<sqan id="id_port_recv_bps">/S</td>
                            </tr>
                            
                        </tbody>
                    </table>
	</div>
{% endblock %}
{% block extra_script %}
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-chart.js"></script>
    <script src="{{ STATIC_URL }}js/monitor_switch.js" ></script>
	<script>
		$(function(){
			get_br_info({{ switch_id }});
		})
	</script>
{% endblock %}
