{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block breadcrumb %}
<li><a href="/nexus/resources/switch/">交换机管理</a></li>
<li class="active">交换机监控</li>

{% endblock %}
{% block body %}
<div class="alert_monitor alert alert-danger alert-dismissable" style="display:none">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <span id="monitor_info"></span>
</div>
	<div class="port_control clearfix">
	    <h4 class="">交换机 {{ switch_name }}网络流量监控</h4>
	</div>
    <p class="none_tip">当前无监控数据，请选择端口。</p>
    <div class="switch_main">
        <div class="tuopu_sign_r">
            <div class="tuopu_sign_block">
                总端口
                <span>2</span>
            </div>
            <div class="tuopu_sign_block">
                以太网口
                <span>2</span>
            </div>
            <div class="tuopu_sign_block">
                光纤端口
                <span>7</span>
            </div>
            <div class="tuopu_sign_block">
                活跃端口
                <span>7</span>
            </div>
        </div>  
        <div class="data_chart">
            <form class="form-inline port_select">
                <div class="form-group">
                    端口
                    <select class="form-control" id="switch_port" switch_name="{{switch_name}}" switch_id="{{switch_id}}">
                    </select>
                </div>          
            </form>
            <div class="port_fill">
                <!--
                <span class="label label-success">协 商</span>
                <span class="label label-danger">非 协 商</span-->
                 
            </div>
            <div class="port_mean"></div> 
            <div id="container" style="height: 390px;"></div>    
        </div>        
    </div>	
    
 

{% endblock %}
{% block extra_script %}
	<script src="{{ STATIC_URL }}js/bootstrap-chart.js"></script>
	<script src="{{ STATIC_URL }}js/common.js?v=1" ></script>
	<script src="{{ STATIC_URL }}js/highcharts/highcharts.js"></script>
    
	<script>
		$(function(){
			//get_br_info({{ switch_id }}, true);
			//Initdata({{switch_id}});
			$('#alert_close').on("click", function(){
				window.location.href = "/nexus/resources/switch/";
			})
			
		})
	</script>
	<script src="{{ STATIC_URL }}js/monitor_switch.js?v=1" ></script>
{% endblock %}
