{% extends "admin_base.html" %}
{% load nexus_tags %}
{% load i18n %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load quota_admin_tags %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/citySelector.css" %}" />       
{% endblock %}

{% block breadcrumb %}
    {% with ModelClass|get_class_name as class_name  %}
    {% with ModelClass|get_class_verbose_name as class_verbose_name %}
    <li><a href="{% url nexus_list app_label class_name|lower %}">{{ class_verbose_name }}{% trans "Admin" %}</a></li>
    <li>{% if formset.instance.id %}{% trans "Edit"%}{% else %}{% trans "Add" %}{% endif %}{{ class_verbose_name }}</li>
    {% endwith %}
    {% endwith %}
{% endblock %}

{% block body %}
{% with ModelClass|get_class_name as class_name  %}
<div class="row">
    <form class="col-md-5" method="post" action="">
        {% csrf_token %}
        {{ formset|crispy }}
        <div class="form-actions">
            <div class="buttons_margin">
                {% if class_name == 'User' and formset.instance.get_profile.state == 0 %}
                <button type="submit" class="btn btn_info">{% trans "Accept" %}</button>
                <a href="{% url profiles_reject formset.instance.id %}" class="btn btn-default">{% trans "Reject" %}</a>
                {% else %}
                    <!--{% if class_name == 'User' %}
                        {% quotas %}
                        {% include "quota_admin/_quota_selector.html" with user=formset.instance %}
                    {% endif %}-->
                <button type="submit" class="btn btn_info">{% trans "Save" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endwith %}
{% endblock %}

{% block extra_script %}
{% with ModelClass|get_class_name as class_name  %}
{% if class_name == 'User' %}
<script src="{{ STATIC_URL}}js/flat_slider.js"></script>
<script type="text/javascript" charset="utf-8">
    var current_mem = {{ formset.instance.quotas.mem|default:"0" }};
    var current_disk = {{ formset.instance.quotas.disk|default:"0" }};
    {% include "quota_admin/_selector.js" %}
</script>
{% endif %}
<script src="{{ STATIC_URL}}js/citySelector.js"></script>
<script type="text/javascript" charset="utf-8">
    {% if class_name == 'Flowvisor' %}
        $('#id_island').change(function(){
            var island_id = $(this).val();
            $.get("{% url nexus_server_api %}", {island_id: island_id} ,function(html){
                $('#id_object_id').html(html);
            });
        });
    {% endif %}
    {% if class_name == 'City' %}
     var test=new Vcity.CitySelector({input:'id_name'});
     {% endif %}
</script>
{% endwith %}
{% endblock %}
