{% extends "admin_base.html" %}
{% load nexus_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    {% with ModelClass|get_class_name as class_name  %}
    {% with ModelClass|get_class_verbose_name as class_verbose_name %}
    <a href="{% url nexus_list app_label class_name|lower %}">{{ class_verbose_name }}{% trans "Admin" %}</a>
    <span class="divider">/</span>
    {% if formset.instance.id %}{% trans "Edit"%}{% else %}{% trans "Add" %}{% endif %}{{ class_verbose_name }}
    {% endwith %}
    {% endwith %}
{% endblock %}

{% block body %}
{% with ModelClass|get_class_name as class_name  %}
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        {{ formset|crispy }}
        <div class="form-actions">
            <button type="submit" class="btn btn-info">{% trans "Save" %}</button>
        </div>
    </form>
{% endwith %}
{% endblock %}

{% block extra_script %}
{% with ModelClass|get_class_name as class_name  %}
<script type="text/javascript" charset="utf-8">
    {% if class_name == 'Flowvisor' %}
        $('#id_island').change(function(){
            var island_id = $(this).val();
            $.get("{% url nexus_server_api %}", {island_id: island_id} ,function(html){
                $('#id_object_id').html(html);
            });
        });
    {% endif %}
</script>
{% endwith %}
{% endblock %}
