{% extends "admin_base.html" %}
{% load nexus_tags %}
{% load i18n %}
{% load staticfiles %}
{% load endless %}

{% block extra_style %}
<link rel="stylesheet" href="{% static "css/buttons.css" %}">   
<style type="text/css">
    .button-circle {
        line-height:normal;
    }
    .table td .btn { margin-right:0;}
</style>
{% endblock %}

{% block breadcrumb %}
{% with ModelClass|get_class_name as class_name  %}
{% with ModelClass|get_class_verbose_name as class_verbose_name %}
<li><a href="{% url nexus_list app_label class_name|lower %}">{{ class_verbose_name }}{% trans "Admin" %}</a></li>
{% endwith %}
{% endwith %}
{% endblock %}

{% block body %}
{% with ModelClass|get_class_name as class_name  %}
{% with ModelClass|get_class_verbose_name as class_verbose_name %}
{% if class_name != 'User' %}
        <div class="infrastructure_index">
            <div class="index_block"><div class="index_block_btn {% if class_name == 'City' %}active{% endif %}"><a href="{% url nexus_list "project" "city" %}"><div class=" btn_1"></div>城市</a></div></div>

            <div class="index_block"><div class="index_block_btn  {% if class_name == 'Island' %}active{% endif %}"><a href="{% url nexus_list "project" "island" %}"><div class=" btn_2"></div>节点</a></div></div>

            <div class="index_block"><div class="index_block_btn {% if class_name == 'Server' %}active{% endif %}"><a href="{% url nexus_list "resources" "server" %}"><div class=" btn_3"></div>服务器</a></div></div>

            <div class="index_block"><div class="index_block_btn {% if class_name == 'Switch' %}active{% endif %}"><a href="{% url nexus_list "resources" "switch" %}"><div class=" btn_4"></div>交换机</a></div></div>

            <div class="index_block"><div class="index_block_btn {% if class_name == 'Virttool' %}active{% endif %}"><a href="{% url nexus_list "openflow" "virttool" %}"><div class=" btn_5"></div>网络虚拟工具</a></div></div>

        </div>
{% endif %}

<!--
<ul class="nav nav-tabs base_device_tab">
  <li class="active"><a href="#"><img src="{% static "img/cs.png" %}" width="20" />城市</a></li>
  <li><a href="#"><i class="glyphicon glyphicon-sitemap"></i>节点</a></li>
  <li><a href="#"><img src="{% static "img/fwq.png" %}" width="20" />服务器</a></li>
  <li><a href="#"><img src="{% static "img/jhj.png" %}" width="20" />交换机</a></li>
  <li><a href="#"><img src="{% static "img/fv.png" %}" width="20" />Flowvisor</a></li>
</ul>
-->

{% if class_name != 'Island' and class_name != 'City' and class_name != 'User' %}

<div class="col-md-6 action_box">
<form action="" class="form-inline" method="get">
    <label for="id_island__city">城市：</label>
    <select class="form-control" name="island__city" id="id_island__city">
        <option value="">---------</option>
        {% for city in cities %}
            <option value="{{ city.id }}" {% if city.id == current_city.id %}
            selected
            {% endif %}>{{ city }}</option>
        {% endfor %}
    </select>
    <label for="id_island">节点：</label>
    <select class="form-control" name="island" id="id_island">
        <option value="">---------</option>
        {% for island in current_city.island_set.all %}
        <option value="{{ island.id }}" {% if current_island.id == island.id %}
        selected
        {% endif %}>{{ island.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="" value="筛选" class="btn btn-inverse">
</form>
</div>
{% endif %}
{% paginate 20 objects %}
<form action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <div class="{% if class_name != 'Island' and class_name != 'City' and class_name != 'User' %}col-md-6{% else %}{% endif %} action_box">
        <div class="pull-right">
            <input type="hidden" name="action" id="action" value="">
            {% if class_name != 'User' %}
                <a class="btn btn-default" href="{% url nexus_add app_label class_name|lower %}">
                    <i class="glyphicon glyphicon-plus"></i>
                    {% trans "Add" %}
                </a>
            {% endif %}
            <button type="submit" class="delete-action disabled action-btn btn-input btn-delete btn btn-default">
                <i class="glyphicon glyphicon-minus"></i>
                {% trans "Delete" %}
            </button>
        </div>
        <div class="clearfix"></div>
</div>
<table class="table_list table_defined clear">
    <thead>
        <tr>
            <th class="checkall" width="5%"><input type="checkbox" name="some_name" value=""></th>
            <th class="{{ class_name|lower }}">{{ class_verbose_name }}</th>
            {% for field in ModelClass|get_display_fields %}
                <th class="{{ field.name }}">{{ field.verbose_name }}</th>
            {% endfor %}
            {% if ModelClass.admin_options.related_models  %}
                {% for related_model in ModelClass|get_related_models %}
                    <th class="{{ related_model.model }}">
                    {{ related_model.name }}
                    </th>
                {% endfor %}
            {% endif %}
            {% if class_name == 'User' %}
                <th>状态</th>
            {% endif %}
            <th class="actions-{{ class_name|lower }}">{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody class="checkboxs">
    {% for object in objects %}
        <tr>
            <td>
                <input type="checkbox" name="id" value="{{ object.id }}"
                {% if class_name == 'User' and object.is_superuser %} disabled {% endif %}
                >
            </td>
            <td><a href="{% url nexus_edit app_label class_name|lower object.id %}">{{ object }}</a></td>
            {% for field in object|get_display_fields %}
                <td title="{{ object|get_value:field.name}}">
                    {% if field.name == 'cpu' %} 
                        {% if  object|get_value:field.name|truncatewords:"100000"|length > 15 %}
                            {{ object|get_value:field.name|slice:"15" }}...
                        {% else %}
                            {{ object|get_value:field.name }}
                        {% endif %}

                    {% else %}
                        {% if  object|get_value:field.name|truncatewords:"100000"|length > 50 %}
                            {{ object|get_value:field.name|slice:"50" }}...
                        {% else %}
                            {{ object|get_value:field.name }}
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
            {% if ModelClass.admin_options.related_models  %}
                {% for related in object|get_related_models %}
                    <td>
                        {% with related_attr=related.model|concat:"_set"%}
                        {% with object|get_attr:related_attr as related_objects %}
                        {% for related_model in related_objects.all %}
                        {% comment %}
                            <a href="{% url nexus_edit related.app_label related.model|lower related_model.id %}" class="">{{ related_model }}</a>
                        {% endcomment %}
                            {{ related_model }}
                        {% endfor %}
                        {% endwith %}
                        {% endwith %}
                    </td>
                {% endfor %}
            {% endif %}
            {% if class_name == 'User'%}
            <td>
                {% if  not object.is_superuser  %}
                    {% if object.get_profile.state == 0 %}
                    未审批
                    {% else %}
                        {% if object.get_profile.state == 1 %}
                        <span class="text-error">已拒绝</span>
                        {% else %}
                        <span class="text-success">已接受</span>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
            {% endif %}
            <td class="btn_operation">
                
                    {% if class_name != 'VirtualSwitch' and class_name != 'Virttool' and class_name != 'Island'  and class_name != 'City' and class_name != 'User'%}
                    <a href="/monitor/{{class_name}}/{{ object.id }}/" class="">
                        <img src="{% static "img/btn_jk.png" %}" title="监控">
                    </a>
                    {% endif %}
                    {% if class_name == 'User' and not object.is_superuser %}
                        {% if object.get_profile.state == 0 %}
                            <a href="{% url nexus_edit app_label class_name|lower object.id %}" class="">
                                <img src="{% static "img/btn_sp.png" %}" title="审批">
                            </a>
                        {% else %}
                            {% if object.get_profile.state == 1 %}
                            <a href="#" class="">
                                <img src="{% static "img/btn_bj_gray.png" %}" title="编辑">
                            </a>
                            {% else %}
                            <a href="{% url nexus_edit app_label class_name|lower object.id %}" class="">
                                <img src="{% static "img/btn_bj.png" %}" title="编辑">
                            </a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                    <a href="{% url nexus_edit app_label class_name|lower object.id %}" class="">
                                <img src="{% static "img/btn_bj.png" %}" title="编辑">
                    </a>
                    {% endif %}
                    {% if class_name == 'User' and not object.is_superuser or class_name != 'User'%}
                    <a class="btn-delete" href="{% url nexus_delete app_label class_name|lower object.id %}?next={{ request.get_full_path|urlencode }}" class="">
                                <img src="{% static "img/btn_sc.png" %}" title="删除">
                    </a>
                    {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
        <div>
            <ul class="pagination">
                {% show_pages %}
            </ul>
        </div>
{% endwith %}
{% endwith %}
</form>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
<script type="text/javascript" charset="utf-8">
    $('.delete-action').click(function(e){
        $('#action').val('delete');
    });
    $('#id_island__city').change(function(){
        var city_id = $(this).val();
        if(city_id){
            $.get('{% url nexus_islands %}', {'city_id': city_id}, function(data){
                $('#id_island').html(data)
            })
        } else {
            $('#id_island option').first().prop('selected', true);
        }
    });
</script>
{% endblock %}
