{% extends "site_base.html" %}
{% load nexus_tags %}
{% load i18n %}
{% load endless %}

{% block body %}
{% with ModelClass|get_class_name as class_name  %}
{% paginate 20 objects %}
<form action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
<div class="well">
    <input type="hidden" name="action" id="action" value="">
    <button type="submit" class="delete-action btn-input btn-delete btn btn-danger" href="{% url nexus_delete app_label class_name|lower %}">{% trans "Delete" %}{% trans class_name %}</button>
    <a class="btn btn-success pull-right" href="{% url nexus_add app_label class_name|lower %}">{% trans "Add" %}{% trans class_name %}</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="checkall"><input type="checkbox" name="some_name" value=""></th>
            <th>{% trans class_name %}</th>
            {% for field in ModelClass|get_fields %}
                <th>{{ field.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for object in objects %}
        <tr>
            <td>
                <input type="checkbox" name="id" value="{{ object.id }}">
            </td>
            <td><a href="{% url nexus_edit app_label class_name|lower object.id %}">{{ object }}</td>
            {% for field in object|get_fields %}
            <td>{{ object|get_value:field.name }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
        <div class="pagination">
            <ul>
                {% show_pages %}
            </ul>
        </div>
{% endwith %}
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
<script type="text/javascript" charset="utf-8">
    $('.delete-action').click(function(){
        $('#action').val('delete');
    });
</script>
{% endblock %}
</form>
