{% extends "admin_base.html" %}
{% load nexus_tags %}
{% load i18n %}
{% load staticfiles %}
{% load endless %}

{% block extra_style %}
<link rel="stylesheet" href="{% static "css/buttons.css" %}">   
<style type="text/css">
    .button-circle {
        line-height:normal;
    }
    .table td .btn { margin-right:0;}
</style>
{% endblock %}

{% block breadcrumb %}
{% with ModelClass|get_class_name as class_name  %}
{% with ModelClass|get_class_verbose_name as class_verbose_name %}
<a href="{% url nexus_list app_label class_name|lower %}">{{ class_verbose_name }}{% trans "Admin" %}</a>
{% endwith %}
{% endwith %}
{% endblock %}

{% block body %}
{% with ModelClass|get_class_name as class_name  %}
{% with ModelClass|get_class_verbose_name as class_verbose_name %}
<div class="row-fluid margin_rows">
    <div class="span1"></div>
    <div class="span2"><span class="button-wrap device_link {% if class_name == 'City' %}active{% endif %}"><a href="{% url nexus_list "project" "city" %}" class="button button-circle button-primary"><i class="cs"></i>城市</a></span></div>
    <div class="span2"><span class="button-wrap device_link {% if class_name == 'Island' %}active{% endif %}"><a href="{% url nexus_list "project" "island" %}" class="button button-circle button-action"><i class="icon-sitemap"></i>节点</a></span></div>
    <div class="span2"><span class="button-wrap device_link {% if class_name == 'Server' %}active{% endif %}"><a href="{% url nexus_list "resources" "server" %}" class="button button-circle button-highlight"><i class="fwq"></i>服务器</a></span></div>
    <div class="span2"><span class="button-wrap device_link {% if class_name == 'Switch' %}active{% endif %}"><a href="{% url nexus_list "resources" "switch" %}" class="button button-circle button-caution"><i class="jhj"></i>交换机</a></span></div>
    <div class="span2"><span class="button-wrap device_link {% if class_name == 'Flowvisor' %}active{% endif %}"><a href="{% url nexus_list "openflow" "flowvisor" %}" class="button button-circle button-royal"><i class="fv"></i>Flowvisor</a></span></div>
    <div class="span1"></div>
</div>

<!--
<ul class="nav nav-tabs base_device_tab">
  <li class="active"><a href="#"><img src="{% static "img/cs.png" %}" width="20" />城市</a></li>
  <li><a href="#"><i class="icon-sitemap"></i>节点</a></li>
  <li><a href="#"><img src="{% static "img/fwq.png" %}" width="20" />服务器</a></li>
  <li><a href="#"><img src="{% static "img/jhj.png" %}" width="20" />交换机</a></li>
  <li><a href="#"><img src="{% static "img/fv.png" %}" width="20" />Flowvisor</a></li>
</ul>
-->

{% if class_name != 'Island' and class_name != 'City' and class_name != 'User' %}

<div class="well">
<form action="" class="form-inline" method="get">
    <label for="id_island__city">城市：</label>
    <select name="island__city" id="id_island__city">
        <option value="">---------</option>
        {% for city in cities %}
            <option value="{{ city.id }}" {% if city.id == current_city.id %}
            selected
            {% endif %}>{{ city }}</option>
        {% endfor %}
    </select>
    <label for="id_island">节点：</label>
    <select name="island" id="id_island">
        <option value="">---------</option>
        {% for island in current_city.island_set.all %}
        <option value="{{ island.id }}" {% if current_island.id == island.id %}
        selected
        {% endif %}>{{ island.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="" value="筛选" class="btn btn-info">
</form>
</div>
{% endif %}
{% paginate 20 objects %}
<form action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
<div class="well">
    <input type="hidden" name="action" id="action" value="">
    <button type="submit" class="delete-action disabled action-btn btn-input btn-delete btn btn-danger">{% trans "Delete" %}{{ class_verbose_name }}</button>
    {% if class_name != 'User' %}
        <a class="btn btn-success pull-right" href="{% url nexus_add app_label class_name|lower %}">{% trans "Add" %}{{ class_verbose_name }}</a>
    {% endif %}
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="checkall"><input type="checkbox" name="some_name" value=""></th>
            <th>{{ class_verbose_name }}</th>
            {% for field in ModelClass|get_display_fields %}
                <th>{{ field.verbose_name|upper }}</th>
            {% endfor %}
            <th>{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody class="checkboxs">
    {% for object in objects %}
        <tr>
            <td>
                <input type="checkbox" name="id" value="{{ object.id }}">
            </td>
            <td><a href="{% url nexus_edit app_label class_name|lower object.id %}">{{ object }}</a></td>
            {% for field in object|get_display_fields %}
                <td title="{{ object|get_value:field.name}}" class="field.name">
                    {% if field.name == 'cpu' %} 
                        {% if  object|get_value:field.name|truncatewords:"100000"|length > 15 %}
                            {{ object|get_value:field.name|slice:"15" }}...
                        {% else %}
                            {{ object|get_value:field.name }}
                        {% endif %}

                    {% else %}
                        {% if  object|get_value:field.name|truncatewords:"100000"|length > 50 %}
                            {{ object|get_value:field.name|slice:"50" }}...
                        {% else %}
                            {{ object|get_value:field.name }}
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
            <td>
                <div class="btn-group">
                    {% if class_name != 'VirtualSwitch' and class_name != 'Flowvisor' and class_name != 'Island'  and class_name != 'City' and class_name != 'User'%}
                        <a href="/monitor/{{class_name}}/{{ object.id }}/" class="btn btn-small">{% trans "Monitor" %}</a>
                    {% endif %}
                    <a href="{% url nexus_edit app_label class_name|lower object.id %}" class="btn btn-small">{% trans "Edit" %}</a>
                    <a href="{% url nexus_delete app_label class_name|lower object.id %}?next={{ request.get_full_path|urlencode }}" class="btn btn-delete btn-small">{% trans "Delete" %}</a>
                    {% for related in object|get_related_models %}
                    <a href="{% url nexus_add related.app_label related.model|lower %}" class="btn btn-small">{% trans "Add" %}{% trans related.name %}</a>
                    {% endfor %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
        <div class="pagination">
            <ul>
                {% show_pages %}
            </ul>
        </div>
{% endwith %}
{% endwith %}
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
<script type="text/javascript" charset="utf-8">
    $('.checkboxs input').on('ifChecked', function(event){
        $('.action-btn').removeClass('disabled');
    });
    $('.checkboxs input').on('ifUnchecked', function(event){
        if($('.checkboxs .checked').length == 1) {
            $('.action-btn').addClass('disabled');
        } else {
            $('.action-btn').removeClass('disabled');
        }
    });
    $('.delete-action').click(function(e){
        $('#action').val('delete');
    });
    $('#id_island__city').change(function(){
        var city_id = $(this).val();
        $.get('{% url nexus_islands %}', {'city_id': city_id}, function(data){
            $('#id_island').html(data)
        })
    });
</script>
{% endblock %}
</form>
