{% extends "site_base.html" %}
{% load bootstrap_tags %}
{% load crispy_forms_field %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load project_tags %}
{% load quota_admin_tags  %}

{% block head_title %}

{% endblock %}

{% block breadcrumb %}
<li class="active">配额</li>
{% endblock %}
{% block body %}
<h4 class="block_title show-dhcp">    
    <div class="pull-right">       
        <a class="btn btn_info" href="{% url quota_admin_apply %}">申请扩大配额</a>        
    </div>
</h4>
{% quotas %}
<table class="table_defined check_quota_table">
    <thead>
        <tr>
            <th width="15%">资源</th>
            <th width="35%">使用情况</th>
            <th width="15%">资源</th>
            <th width="35%">使用情况</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>项目<span>（个）</span></td>
            <td>
                <div class="row">
                    <div class="col-md-8">
                        <div class="progress progress_defined">
                            <span>{{ user|user_project_count}} / {{ user.quotas.project|default:"0" }}</span>
                            <div class="progress-bar progress-bar-success" style="width: {% divide user|user_project_count user.quotas.project %}%"></div>
                        </div>
                    </div>
                </div>  
            </td>
            <td>Slice<span>（个）</span></td>
            <td>
                <div class="row">
                    <div class="col-md-8">
                        <div class="progress progress_defined">
                            <span>{{ user|user_slice_count}} / {{ user.quotas.slice|default:"0" }}</span>
                            <div class="progress-bar progress-bar-success" style="width: {% divide user|user_slice_count user.quotas.slice %}%;"></div>
                        </div>
                    </div>
                </div>               
            </td>
        </tr>
        <tr>
            <td>VM<span>（个）</span></td>
            <td>
                <div class="row">
                    <div class="col-md-8">
                        <div class="progress progress_defined">
                            <span>{{ user|user_vm_count}} / {{ user.quotas.vm|default:"0" }}</span>
                            <div class="progress-bar progress-bar-success" style="width: {% divide   user|user_vm_count user.quotas.vm %}%;"></div>
                        </div>
                    </div>
                </div>  
            </td>
            <td>CPU<span>（核）</span></td>
            <td>
                <div class="row">
                    <div class="col-md-8">
                        <div class="progress progress_defined">
                            <span>{{ user|user_cpu_count}} / {{ user.quotas.cpu|default:"0" }}</span>
                            <div class="progress-bar progress-bar-success" style="width: {% divide  user|user_cpu_count user.quotas.cpu %}%;"></div>
                        </div>
                    </div>
                </div>               
            </td>
        </tr>
        <tr>
            <td>磁盘<span>（G）</span></td>
            <td>
                <div class="row">
                    <div class="col-md-8">
                        <div class="progress progress_defined">
                            <span>{{ user|user_disk_count}} / {{ user.quotas.disk|default:"0" }}</span>
                            <div class="progress-bar progress-bar-success" style="width: {% divide  user|user_disk_count user.quotas.disk %}%;"></div>
                        </div>
                    </div>
                </div>  
            </td>
            <td>内存<span>（MB）</span></td>
            <td>
                <div class="row">
                    <div class="col-md-8">
                        <div class="progress progress_defined">
                            <span>{{ user|user_mem_count}} / {{ user.quotas.mem|default:"0" }}</span>
                            <div class="progress-bar progress-bar-success" style="width: {% divide  user|user_mem_count user.quotas.mem %}%;"></div>
                        </div>
                    </div>
                </div>               
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block extra_script %}
{% endblock %}

