{% load project_tags %}
{% load staticfiles %}

  <div class="row">
      <div class="col-md-12">
        <h4 class="title_word_bg block_title">
            <img src="{% static "img/ic_21.png" %}" />添加资源 
            <div class="progress_explain pull-right">
                <span>交换机</span><img src="{% static "img/ic_19.png" %}" />
                <span>服务器</span><img src="{% static "img/ic_23.png" %}" />
            </div>
        </h4>       
        {% get_all_cities %}
        {% get_total_resources %}
        
        {% if form.islands.errors %}
        <div class="has-error">
                {% for error in form.islands.errors %}
                    <strong class="help-block">{{ error }}</strong>
                {% endfor %}
        </div>
        {% endif %}

        <table class="table_defined" cellspacing="1">
            <thead>
                <tr>
                    <th width="10%" class="checkall"><input type="checkbox"></th>
                    <th width="25%">城市名称</th>
                    <th width="25%">城市节点</th>
                    <th width="40%">节点资源</th>
                </tr>
            </thead>
            <tbody class="checkboxs">
                {% for city in cities %}
                    {% for island in city.island_set.all %}
                        {% resource_num island "switch" %}
                        {% resource_num island "server" %}
                        {% resource_num island "controller" %}
                        {% if switch_num|add:server_num|add:controller_num %}
                        <tr>
                            <td><input type="checkbox" {% if island|project_selected:form.instance %}{% if island.id in slice_islands %} class="sliced" {% endif %}checked{% endif %} name="islands" value="{{ island.id }}"></td>
                            <td>{{ city }}</td>
                            <td>{{ island }}</td>
                            <td>
                                {% resource_usage island %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="progress progress_defined">
                                            {{ server_ratio}}%
                                            <div class="progress-bar progress-bar-info" style="width: {{ server_ratio}}%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="progress progress_defined">
                                            {{ switch_ratio}}%
                                            <div class="progress-bar progress-bar-success" style="width: {{ switch_ratio}}%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
