{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load endless %}

{% block head_title %}成员审批{% endblock %}
{% block breadcrumb %}
<a href="{% url "project_detail" project.id %}">项目详情</a><span class="divider">/</span>
成员审批{% endblock %}

{% block body %}
{% paginate applications %}
        <div class="fill_form">
            <div class="search">
                <form class="form-search">
                  <div class="input-append">
                      <input type="text" name="query" value="{{ query }}" class="span2 search-query">
                    <button type="submit" class="btn">搜索</button>
                  </div>
                </form>
            </div>
        </div>
        <form class="fill_form" action="" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <fieldset>
                <legend>
                    <button class="btn disabled action-btn btn-success edit" type="submit" name="approve">批准</button>
                    <button type="submit" class="btn disabled action-btn btn-danger edit" name="deny">拒绝</button>  
                                                                待审批成员                   
                </legend>
                 <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="5%" class="checkall"><input type="checkbox"></th>
                            <th width="">成员名称</th>
                            <th width="">申请理由</th>
                            <th width="">研究方向</th>
                            <th width="">申请时间</th>
                        </tr>
                    </thead>
                    <tbody class="checkboxs">
                        {% for application in applications %}
                        <tr>
                            <td><input type="checkbox" name="application" value="{{ application.id }}"></td>
                            <td>{{ application.from_user }}</td>
                            <td>{{ application.message }}</td>
                            <td>{{ application.from_user.get_profile|default:"未填写"}}</td>
                            <td>{{ application.created_time|date:"Y.m.d H:i" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
              </fieldset>
              {% if not applications %}
                    {% if query %}
                        <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
                    {% else %}
                        <p class="alert alert-info">暂无记录</p>
                    {% endif %}
              {% endif %}
                <div class="pagination">
                    <ul>
                        {% show_pages %}
                    </ul>
                </div>
        </form>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
<script type="text/javascript" charset="utf-8">
    $('.checkboxs input').on('ifChecked', function(event){
        $('.action-btn').removeClass('disabled');
    });
    $('.checkboxs input').on('ifUnchecked', function(event){
        if($('.checkboxs .checked').length == 1) {
            $('.action-btn').addClass('disabled');
        } else {
            $('.action-btn').removeClass('disabled');
        }
    });
    $('.action-btn').click(function(){
        if($(this).hasClass('disabled')) {
            return false;
        }
    });
</script>
{% endblock %}

