{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load endless %}

{% block head_title %}成员审批{% endblock %}
{% block breadcrumb %}
<li><a href="/project/">项目</a></li>
<li><a href="{% url "project_detail" project.id %}">项目详情</a></li>
<li><a href="{% url "project_member_manage" project.id %}">成员管理</a></li>
<li>成员审批</li>{% endblock %}

{% block extra_breadcrumb %}
            <form class="navbar-form navbar-right search_defined">
                <div class="form-group">
                  <input placeholder="搜索" type="text" value="{{ query }}" name="query" value="" class="form-control search-query">
                 <a href="javascript:;"><i class="glyphicon glyphicon-search"></i></a>
                </div>
            </form>
{% endblock %}

{% block body %}
{% paginate applications %}
        <form class="fill_form" action="" method="post" accept-charset="utf-8">
            {% csrf_token %}
                                                                    
                <h4 class="title_word_bg block_title">
                                    <img src="{% static "img/ic-dsp.png" %}">待审批成员      
                   <div class="pull-right">
                       <button class="btn disabled action-btn btn_info edit" type="submit" name="approve">批准</button>
                       <button type="submit" class="btn disabled action-btn btn_info edit" name="deny">拒绝</button>     
                   </div>      
                </h4>             

                 <table class="table_defined">
                    <thead>
                        <tr>
                            <th width="5%" class="checkall"><input type="checkbox"></th>
                            <th width="15%">成员名称</th>
                            <th width="25%">申请理由</th>
                            <th width="25%">研究方向</th>
                            <th width="14%">申请时间</th>
                            <th width="16%">操作类型</th>
                        </tr>
                    </thead>
                    <tbody class="checkboxs">
                        {% for application in applications %}
                        <tr>
                            <td><input type="checkbox" name="application" value="{{ application.id }}"></td>
                            <td>{{ application.from_user }}</td>
                            <td>{{ application.message }}</td>
                            <td>{{ application.from_user.get_profile.realm|default:"未填写"}}</td>
                            <td>{{ application.created_time|date:"Y.m.d H:i" }}</td>
                            <td class="btn_operation">
                                <a class="approve-btn" href="javascript:;" title="批准"><img src="{% static "img/btn_pz.png" %}"></a>
                                <a class="reject-btn" href="javascript:;" title="拒绝"><img src="{% static "img/btn_jj.png" %}"></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
              </fieldset>
              {% if not applications %}
                    {% if query %}
                        <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
                    {% else %}
                        <p class="alert alert-info">暂无记录</p>
                    {% endif %}
              {% endif %}
                <div class="pagination">
                    <ul>
                        {% show_pages %}
                    </ul>
                </div>
        </form>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
<script type="text/javascript" charset="utf-8">
    $('.approve-btn').click(function(){
        $(this).parents('tr').find('input').prop('checked', true).trigger('change');
        $('.action-btn[name="approve"]').trigger('click');
    });
    $('.reject-btn').click(function(){
        $(this).parents('tr').find('input').prop('checked', true).trigger('change');
        $('.action-btn[name="deny"]').trigger('click');
    });
</script>
{% endblock %}

