{% extends "site_base.html" %}
{% load bootstrap_tags %}
{% load crispy_forms_field %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load project_tags %}

{% block head_title %}
项目{% if form.instance.id%}编辑{% else %}创建{% endif %}
{% endblock %}
{% block extra_style %}
    <style type="text/css" media="screen">
        #div_id_islands {
            display:none;
        }
    </style>    
{% endblock %}
{% block breadcrumb %}
<li><a href="/project/">项目</a></li>
<li class="active">{% if form.instance.id %}{% trans "Edit Project" %}{% else %}{% trans "Create Project" %}{% endif %}</li>
{% endblock %}
{% block body %}
<div class="fill_form">

        <h4 class="title_word_bg block_title">
            <img src="{% static "img/ic_baseinfo.png" %}" />基本信息
        </h4>

            {% crispy form %}
				  <div class="row buttons_margin">
                    <div class="col-md-2 col-md-offset-5"><button type="submit" class="btn btn-lg btn-block btn_info">{% if form.instance.id %}保 存{% else %}创 建{% endif %}</button></div>
				  </div>
        </div>
      </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
<script type="text/javascript" charset="utf-8">
    var has_slice = {% if has_slice %} true {% else %} false{% endif %};
    $('input[type="checkbox"]').on('ifUnchecked', function(event){
        if($(event.currentTarget).hasClass('sliced')) {
            alert("已经有Slice创建，如果希望更换节点请先删除该节点上的Slice");
            $(event.currentTarget).iCheck('check');
            throw Error();
        }
    });
    if($('.checkboxs input[type="checkbox"][checked]').length == $('.checkboxs input[type="checkbox"]').length) {
        $('.checkall input').prop('checked', true);
        
    }
    $('button.btn_info').click(function(){
        if(!$(this).parents('form').length) {
            $('.fill_form form').submit();
        }
    });
</script>
{% endblock %}
