{% extends "site_base.html" %}
{% load i18n %}

{% block breadcrumb %}
<li class="active">{% trans "Project Detail" %}</li>
{% endblock %}

{% block body %}
<fieldset class="base_info">
        <legend>{% trans "Basic info" %}<small class="pull-right"><a href="{% url project_edit project.id %}" class="btn btn-success">{% trans "Edit" %}</a></small></legend>
    <table class="table">
        <thead>
            <tr>
                <th width="71">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% trans "Project Name" %}</td>
                <td>
                    <h3>{{ project.name }}</h3>
                </td>
            </tr>
            <tr>
                <td>{% trans "Project Description" %}</td>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <td>
                    {% trans "Creator" %}
                </td>
                <td>
                    {{ project.owner }}
                </td>
            </tr>
            <tr>
                <td>
                    {% trans "Category" %}
                </td>
                <td>
                    <span class="label label-success">{{ project.category }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    {% trans "Selected Islands" %}
                </td>
                <td>
                    {% for island in project.islands.all %}
                        {{ island.name }}
                    {% endfor %}
                <td>
            </tr>
        </tbody>
    </table>
</fieldset>
<fieldset id="name">

    
    <legend>
   {% trans "Members" %}
        <small class="pull-right">
            <a href="" class="btn btn-success">{% trans "View pending members" %}</a>
            <a href="{% url invite_invite project.get_content_type.id project.id %}" class="btn btn-success">{% trans "Invite members" %}</a>
        </small>
    </legend>
</fieldset>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered">
            <tr>
                <th>{% trans "No." %}</th>
                <th>{% trans "Member name" %}</th>
                <th>{% trans "Company/Organization" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            <tr>
                {% for membership in project.memberships.all %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ membership }}</td>
                    <td>{{ membership }}</td>
                    <td><a href="">{% trans "Remove" %}<td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
<div class="page-header">
    <h1 id="">{% trans "Slice" %}</h1>
</div>
{% endblock %}
