{% extends extent_html %}
{% load i18n %}
{% load staticfiles %}
{% load project_tags %}
{% load common_tags %}

{% block head_title %}
{% trans "Project Detail" %} [{{ project.name }}]
{% endblock %}
{% block breadcrumb %}
<li><a href="/project/">项目</a></li>
<li class="active">{% trans "Project Detail" %}</li>
{% endblock %}

{% block body %}
{% if invitation.actions %}
    <div class="alert alert-success">
        您已经被邀请加入该项目，请选择“接受”或者“拒绝”：
        {% for action in invitation.actions %}
        <a class="btn btn-{{ action.action_level }}" href="{{ action.action_url }}?next={{ request.path|urlencode }}">{{ action.action_title }}</a>
        {% endfor %}
    </div>
{% endif %}
<div class="fill_form">


        <h4 class="block_title">
            <img src="{% static "img/ic_baseinfo.png" %}">
            {% trans "Basic info" %}
            {%if extent_html == "site_base.html" %}
                {% has_perm user 'project.change_project' project %}
                {% if has_perm %}
                <a href="{% url project_edit project.id %}" class="edit pull-right" title="编辑"><i class="icon-pencil"></i></a>
                {% endif %}
            {%endif%} 
        </h4>

    <table class="table_defined">
        <thead>
            <tr>
                <th width="25%">{% trans "Project Name" %}</th>
                <th width="25%">{% trans "Project Description" %}</th>
                <th width="25%">{% trans "Creator" %}</th>
                <th width="25%">{% trans "Category" %}</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.owner }}</td>
                <td><span class="">{{ project.category }}</span></td>
           </tr> 
        </tbody>
    </table>

        <!--
        {%if extent_html == "site_base.html" %}
            {% if user.id == project.owner.id %}
            <a href="{% url project_applicant project.id  %}" class="btn btn-info edit">{% trans "View pending members" %}</a>
            <a href="{% url project_invite project.id %}" class="btn btn-info edit">{% trans "Invite members" %}</a>
            {% endif %}
        {%endif%}  -->
        
        <h4 class="block_title">
            <img src="{% static "img/ic_user.png" %}">
            {% trans "Members" %}
            {% if not user.is_superuser %}
                {% if user == project.owner %}
                    <a href="{% url project_member_manage project.id %}" class="edit pull-right" title="管理"><i class="icon-wrench"></i></a>
                {% endif %}
            {% endif %}
        </h4>
   
<div class="row">
    <div class="col-md-12">
        <table class="table_defined">
            <thead>
                <tr>
                    <th width="25%">成员名称</th>
                    <th width="25%">研究方向</th>
                    <th width="25%">Email地址</th>
                    <th width="25%">所属单位</th>
                </tr>
            </thead>
            <tbody>
                {% for membership in project.membership_set.all %}
                {% if forloop.counter <= 4  %}
                <tr>
                    <td>{{ membership.user }}</td>
                    <td>{{ membership.user.get_profile.realm|default:"未填写" }}</td>
                    <td>{{ membership.user.email }}</td>
                    <td>
                        {{ membership.user.get_profile.organization|default:"未填写" }}
                    </td>
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%if  project.membership_set.count > 4 %}
<a class="enter_link" href="{% url project_member project.id  %}">More&nbsp;<i class="glyphicon glyphicon-circle-arrow-right"></i></a>
{%endif%}

           {%if extent_html == "site_base.html" %}
           {% if user|is_membership:project %}
            <h4 class="block_title">
                <img src="{% static "img/ic_slice.png" %}">
                                            虚网
                <a href="{% url create_slice project.id %}" class="edit pull-right" title="新建"><i class="icon-plus"></i></a>
            </h4>           
           
          {% endif %}
          {%endif%}       
            {% with project.get_slices as slices  %}
                {% if not slices %}
                    <p class="none_tip">暂无虚网！</p>
                {% else %}
                    <div class="row example-sites">
                        {% for slice in project.get_slices %}
                        {% if forloop.counter <= 2  %}
                              {% include "slice/_slice.html" %}
                        {%endif%}
                        {% endfor %}
                    </div>
                {% endif %}
             {% endwith %}
		{%if  project.get_slices.count > 2 %}
		<a class="enter_link pull-right" href="/slice/list/{{ project.id }}/0/"><i class="glyphicon glyphicon-circle-arrow-right"></i> 更多</a>
        {%endif%}
  </div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/jquery.knob.js"></script>
<script src="{{ STATIC_URL}}js/slice_list.js"></script>
<script src="{{ STATIC_URL}}js/own.js"></script>
{% endblock %}
