{% extends extent_html %}

    
{% load i18n %}
{% load staticfiles %}
{% load project_tags %}
{% load endless %}

{% block head_title %}
    {%if extent_html == "site_base.html" %}
        我的项目
    {%else%}
        所有项目
    {%endif%}
{% endblock %}
{% block breadcrumb %}
    {%if extent_html == "site_base.html" %}
        我的项目
    {%else%}
        所有项目
    {%endif%}
{% endblock %}

{% block body %}
{% paginate 12 projects  %}
        <div class="search">
            <form class="form-search">
              <div class="input-append">
                  <input type="text" value="{{ query }}" name="query" value="" class="span2 search-query">
                  <button type="submit" class="btn">搜索</button>
              </div>
            </form>
        </div>

        <div class="fill_form">            
                    {%if extent_html == "site_base.html" %}
                        <legend>我的项目</legend>
                    {%else%}
                        <h3 class="list_title">项目（Project）</h3>
                        <p class="list_lead">青云为您提供一种随时获取的、弹性的计算能力，这种计算能力的体现就是<em>主机 (Instance)</em>。主机就是一台配置好了的服务器，它有您期望的硬件配置、操作系统和网络配置。通常情况下，您的请求可以在10秒到60秒的时间之内完成，所以您完全可以动态地、按需使用计算能力。</p>
                    {%endif%}
                {% if not projects %}
                    <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
                {% else %}
                    {%if extent_html == "site_base.html" %}
                        <div class="alert alert-info">
                             <strong>提示：</strong> 深色为参与的项目，白色为创建的项目
                        </div>
                    {%endif%}
                {% endif %}

                <div class="row-fluid">
                    {% for group in projects|group_by:4 %}
                    <ul class="thumbnails example-sites">
                        {% for project in group %}
                            {% include "project/_project.html" %}
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
        </div>
        <div class="pagination">
            <ul>
                {% show_pages %}
            </ul>
        </div>
{% endblock %}
 
