{% extends extent_html %}

    
{% load i18n %}
{% load staticfiles %}
{% load project_tags %}
{% load endless %}

{% block head_title %}
        项目
{% endblock %}
{% block breadcrumb %}
        项目
{% endblock %}

{% block body %}
        <div class="search">
            <form class="form-search">
              <div class="input-append">
                  <input type="text" value="{{ query }}" name="query" value="" class="span2 search-query">
                  <button type="submit" class="btn">搜索</button>
              </div>
            </form>
        </div>

        <div class="fill_form">    
            <fieldset>
                    {%if extent_html == "site_base.html" %}
                    <div class="well">
                        <h3 class="list_title">项目（Project）</h3>
                        
                        <p class="list_lead">项目是CCF中用于组织和开展研究的载体，项目由若干实验和参与实验的研究人员组成。</p>                     
                    </div>   
                    {%else%}
                    <legend>项目（Project）</legend>
                    <div class="row-fluid countschart">
                        <div class="span2 counts">
                            <div class="counts_block">
                                <p><img src="{% static "img/file-01.png" %}"  /></p>
                                <p class="counts_block_title">新增项目</p>
                                <p class="counts_block_nums">{{ new_projects_num }}</p>
                            </div>
                            <div class="counts_block">
                                <p><img src="{% static "img/file-02.png" %}"  /></p>
                                <p class="counts_block_title">全部项目</p>
                                <p class="counts_block_nums">{{ total_projects}}</p>
                            </div>                                                 
                        </div>
                        <div class="span10">
                            <iframe scrolling="no" id="countiframe" width="100%" height="182" src="/slice/countiframe/?target=project&type=day" frameborder="0"></iframe>
                            <div id="countbutton">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="30">
                            <g class="highcharts-legend" zIndex="7" transform="translate(325,0)">
                            <rect rx="5" ry="5" fill="white" x="0.5" y="0.5" width="168" height="24" stroke="#CCC" stroke-width="1" visibility="visible"></rect>
                            <g zIndex="1">
                            <g>
                            <g class="highcharts-legend-item" zIndex="1" transform="translate(8,3)">
                                <text x="30" y="15" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:12px;cursor:pointer;color:#274b6d;fill:#274b6d;" text-anchor="start" zIndex="2">
                                <tspan x="30" onclick="refreshcountiframe('project', 'year');"> 年</tspan>
                                </text>
                                <rect rx="2" ry="2" fill="#8bbc21" x="0" y="4" width="25" height="12" zIndex="3"></rect>
                            </g>
                            <g class="highcharts-legend-item" zIndex="1" transform="translate(64.28125,3)">
                                <text x="30" y="15" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:12px;cursor:pointer;color:#274b6d;fill:#274b6d;" text-anchor="start" zIndex="2">
                                <tspan x="30" onclick="refreshcountiframe('project', 'month');"> 月</tspan>
                                </text>
                                <rect rx="2" ry="2" fill="#0d233a" x="0" y="4" width="25" height="12" zIndex="3"></rect>
                            </g>
                            <g class="highcharts-legend-item" zIndex="1" transform="translate(120.5625,3)">
                                <text x="30" y="15" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:12px;cursor:pointer;color:#274b6d;fill:#274b6d;" text-anchor="start" zIndex="2">
                                <tspan x="30" onclick="refreshcountiframe('project', 'day');"> 日</tspan>
                                </text>
                                <rect rx="2" ry="2" fill="#2f7ed8" x="0" y="4" width="25" height="12" zIndex="3"></rect>
                            </g>
                            </g>
                            </g>
                            </g>
                            </svg>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                {% if not projects %}
                    {% if query %}
                        <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
                    {% else %}
                        <p class="alert alert-info">暂无记录</p>
                    {% endif %}
                {% endif %}
                
                <div class="row-fluid">
                {%if projects %}
                 <div id="list_show">
                     {% include "project/list_page.html" %}
                 </div>
                 {%endif%}
                </div>
            </fieldset>        
        </div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/list_pagination.js"></script>
<script type="text/javascript">
    function refreshcountiframe(target, type){
        document.getElementById("countiframe").src="/slice/countiframe/?target="+target+"&type="+type; 
    }
</script>

{% endblock %}
