{% extends extent_html %}

    
{% load i18n %}
{% load staticfiles %}
{% load project_tags %}
{% load endless %}

{% block head_title %}
        项目
{% endblock %}
{% block breadcrumb %}
        <li>项目</li>
{% endblock %}

{% block extra_breadcrumb %}
            <form class="navbar-form navbar-right search_defined">
                {% if user.is_superuser %}
                <div class="form-group">
                    筛选
                    <select class="form-control" name="is_deleted" id="project_type" onchange="project_type_change()">
                        <option value="0" {%if not is_deleted  %}selected{%endif%}>正常运行</option>
                        <option value="1" {%if is_deleted %}selected{%endif%}>删除失败</option>          
                    </select>
                </div>
                {% endif %}
                <div class="form-group">
                  <input placeholder="搜索" type="text" value="{{ query }}" name="query" value="" class="form-control search-query">
                 <a href="javascript:;"><i class="glyphicon glyphicon-search"></i></a>
                </div>
            </form>
{% endblock %}

{% block body %}
{% if user.is_superuser %}
    <div class="row">
        <div class="col-md-2 count_block">
            <div class="squares">
                <span class="s_name">
                    {% if is_deleted %}
                    删除项目
                    {% else %}
                    新增项目
                    {% endif %}
                </span>
                <span class="s_num">{{ new_projects_num }}</span>
            </div>
            <div class="squares">
                <span class="s_name">
                    {% if is_deleted %}
                    全部删除项目
                    {% else %}
                    全部项目
                    {% endif %}
                </span>
                <span class="s_num">{{ total_projects }}</span>
            </div>
            <a href="javascript:void(0);" class="chart_btn chart_year" onclick="refreshcountiframe('project', 'year');">
                年<span class="color_blue"></span>
            </a>
            <a href="javascript:void(0);" class="chart_btn chart_month" onclick="refreshcountiframe('project', 'month');">
                月<span class="color_green"></span>
            </a>
            <a href="javascript:void(0);" class="chart_btn active chart_day" onclick="refreshcountiframe('project', 'day');">
                日<span class="color_red"></span>
            </a>
        </div>
        <div class="col-md-10">
            <div class="chart">
                <iframe scrolling="no" id="countiframe" width="100%" height="361" src="/slice/countiframe/?target=project&type=day&stype={% if is_deleted %}2{% else %}0{% endif %}" frameborder="0"></iframe>
            </div>      
        </div>
    </div>
{%else%}
<div class="well intro_well">
    <h3 class="list_title">项目（Project）</h3>                        
    <p class="list_lead">项目是SDN创新实验平台中用于组织和开展研究的载体，项目由若干实验和参与实验的研究人员组成。</p>                     
</div> 
{% endif %}

{% if not projects %}
    {% if query %}
        <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
    {% else %}
        <p class="alert alert-info">暂无记录</p>
    {% endif %}
{% endif %}

{%if projects %}
    <div id="list_show" class="project_list">
        {% include "project/list_page.html" %}
    </div>
{%endif%}

{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL}}js/list_pagination.js"></script>
<script type="text/javascript">
    function refreshcountiframe(target, type){
        $(".chart_btn").removeClass("active");
        if(type == 'year'){
            $(".chart_year").addClass("active");
        }
        else{
            if(type == 'month'){
                $(".chart_month").addClass("active");
            }
            else{
                $(".chart_day").addClass("active");
            }
        }
        document.getElementById("countiframe").src="/slice/countiframe/?target="+target+"&type="+type+"&stype={% if is_deleted %}2{% else %}0{% endif %}"; 
    }
    function project_type_change(){
        $('form.search_defined').submit();
    }
</script>
{% endblock %}
