{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load endless %}
{% load invite_tags %}

{% block head_title %}成员邀请{% endblock %}
{% block breadcrumb %}
<li><a href="/project/">项目</a></li>
<li><a href="{% url "project_detail" project.id %}">项目详情</a></li>
<li><a href="{% url "project_member_manage" project.id %}">成员管理</a></li>
<li>成员邀请</li>
{% endblock %}

{% block extra_breadcrumb %}
            <form class="navbar-form navbar-right search_defined">
                <div class="form-group">
                  <input placeholder="搜索" type="text" value="{{ query }}" name="query" value="" class="form-control search-query">
                 <a href="javascript:;"><i class="glyphicon glyphicon-search"></i></a>
                </div>
            </form>
{% endblock %}

{% block body %}
{% paginate users %}
        <form class="invite-form" action="" method="post" accept-charset="utf-8">
            {% csrf_token %}

                                  
                 <h4 class="title_word_bg block_title">
                      <img src="{% static "img/ic_baseinfo.png" %}" />邀请成员                  
                      <a  href="javascript:;" id="invite-button" class="btn disabled btn-default edit pull-right">邀请</a>  
                 </h4>
            
                 <table class="table_defined">
                    <thead>
                        <tr>
                            <th width="5%" class="checkall"><input type="checkbox"></th>
                            <th width="15%">成员名称</th>
                            <th width="35%">研究方向</th>
                            <th width="20%">参与项目</th>
                            <th width="15%">最后登录时间</th>
                            <th width="10%">邀请状态</th>
                        </tr>
                    </thead>
                    <tbody class="checkboxs">
                        {% for invited_user in users %}
                        <tr>
                            {% with project|invitation_status:invited_user as status %}
                            <td><input type="checkbox" {% if status.is_invited %}disabled{% endif %} name="user" value="{{ invited_user.id }}" ></td>
                            <td>{{ invited_user }}</td>
                            <td>{{ invited_user.get_profile.realm|default:"未填写" }}</td>                         
                            <td>{% with invited_user.membership_set.all|first as user_project %}{% if user_project %}{{ user_project.project }}等{% else %}暂无{% endif %}{% endwith %}</td>
                            <td>{{ invited_user.last_login|date:"Y.m.d H:i" }}</td>
                            <td>
                                {% if status.is_invited %}
                                    {% if status.accepted == 1%}
                                    <span class="text-success">已接受</span>
                                    {% else %}
                                        {% if status.accepted == 2 %}
                                            <span class="text-error">未接受</span>
                                        {% else %}
                                            <span class="text-info">未回复</span>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    未邀请
                                {% endif %}
                            </td>
                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
              </fieldset>
              {% if not users %}
                    {% if query %}
                        <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
                    {% else %}
                        <p class="alert alert-info">暂无记录</p>
                    {% endif %}
              {% endif %}
        <div class="pagination">
          <ul>
              {% show_pages %}
          </ul>
        </div>
        <div id="inviteModal" class="modal hide in modal_base_defined" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
              <h3 id="myModalLabel">邀请</h3>      
            </div>
            <div class="modal-body base_info">
                <div class="alert hide blank-message alert-error">
                    请填写邀请消息
                </div>
                  <table class="table">
                      <tbody>
                          <tr>
                              <td width="150" class="v_top text_r">捎句话</td>
                              <td><textarea class="message" name="message" rows="3"></textarea></td>
                          </tr>
                      </tbody>
                  </table>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button class="btn btn-info submit-invite">邀请</button>
            </div>
         </div>
        </form>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
<script type="text/javascript" charset="utf-8">
    $('.checkboxs input').on('ifChecked', function(event){
        $('#invite-button').removeClass('disabled');
    });
    $('.checkboxs input').on('ifUnchecked', function(event){
        if($('.checkboxs .checked').length == 1) {
            $('#invite-button').addClass('disabled');
        } else {
            $('#invite-button').removeClass('disabled');
        }
    });
    $('#invite-button').click(function() {
        if($(this).hasClass('disabled')) {
            return;
        }
        $("#inviteModal").modal();
    });
    $('.invite-form').submit(function(){
        $('.blank-message').hide();
        if(!$('.message').val().trim()) {
            $('.blank-message').show();
            return false;
        }
    });
</script>
{% endblock %}

