{% load endless %}
{% load project_tags %}
{% paginate 8 projects  %}
{% for group in projects|group_by:4 %}
<div class="row">
    {% for project in group %}
        {% include "project/_project.html" %}
    {% endfor %}
</div>
{% endfor %}
<div class="text-center">
    <ul class="pagination">
        {% show_pages %}
    </ul>
</div>
{% if request.is_ajax %}
    <script type="text/javascript" charset="utf-8">
    $(".project_list_block").hover(function(){
        $(this).children(".close").show();
    },function(){
        $(this).children(".close").hide();
    });
    </script>
    {% endif %}
