{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load endless %}

{% block head_title %}项目管理{% endblock %}
{% block breadcrumb_base %}{% endblock %}

{% block body_class %}home index home-body{% endblock %}

{% block body_base %}
{% include "_messages.html" %}
{% block body %}
<div class="well banner">
    <header class="masthead">
      <div class="inner">
        <h1>欢迎进入未来网络试验系统</h1>
        <h3>您可以通过创建或参与一个项目进行实验</h3>
        <p class="enter_btn">
            <!--<a href="#" class="button button-rounded button-flat-primary">加入项目</a>
            <a href="#" class="button glow button-rounded button-flat">创建项目</a>-->
            <a href="{% url "project_create" %}" class="button button-circle button-flat-highlight">创建项目</a>
            <a href="{% url "project_apply" %}" class="button glow button-circle button-flat">加入项目</a>
         <!-- <a href="{% url "project_apply" %}" class="btn btn-default">加入项目</a>
          <a href="{% url "project_create" %}" class="btn btn-warning">创建项目</a> -->
        </p>
        <a href="{% url "quota_admin_quota" %}" class="btn btn-lg btn_info ps_btn">查看配额</a>
      </div>
</header>
</div>
<div class="container-fluid pro_manage_container">
    {%if projects %}
        <div id="list_show" class="project_list">
            {% include "project/list_page.html" %}
        </div>
    {% else %}
                     <div class="alert alert-block nothing_tip">
                         <h4>没有已创建的项目,请通过上方"创建项目"按钮进行创建！</h4>
                    </div>
    {%endif%}
    </div>
            <div class="blank_block"></div>
{% endblock %}
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL}}js/close_project.js"></script>
{% endblock %}

