{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load project_tags %}
{% load common_tags %}

{% block head_title %}
{% trans "Project Detail" %} [{{ project.name }}]
{% endblock %}
{% block breadcrumb %}
<li><a href="/project/">项目</a></li>
<li><a href="{% url project_detail project.id %}">{% trans "Project Detail" %}</a></li>
<li class="active">成员管理</li>
{% endblock %}

{% block body %}


        
        <h4 class="title_word_bg block_title">
                                          <img src="{% static "img/ic_25.png" %}" />{% trans "Members" %}
           <div class="pull-right">               
               <a href="{% url project_invite project.id %}" class="btn btn-default edit">邀请</a>
               <a href="{% url project_applicant project.id %}" class="btn btn-default edit">审批</a>
           </div>
        </h4>          

<div class="row">
    <div class="col-md-12">
        <table class="table_defined">
            <thead>
                <tr>
                    <th width="20%">成员名称</th>
                    <th width="20%">研究方向</th>
                    <th width="20%">Email地址</th>
                    <th width="20%">所属单位</th>
                    <th width="20%">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for membership in project.membership_set.all %}
                <tr>
                    <td>{{ membership.user }}</td>
                    <td>{{ membership.user.get_profile.realm|default:"未填写" }}</td>
                    <td>{{ membership.user.email }}</td>
                    <td>
                        {{ membership.user.get_profile.organization|default:"未填写" }}
                    </td>
                    <td class="btn_operation">
                        {% if  project.owner == user %}
                            {% if  membership.user.id != project.owner.id %}
                            <a href="{% url project_perm project.id membership.user.id  %}"  title="权限"><img src="{% static "img/btn_qx.png" %}" /></a>
                            <a href="{% url project_delete_member membership.id  %}" class="btn-delete"><img src="{% static "img/btn_sc.png" %}" /></a>
                            {%else%}
                            <a class="disabled" href="#" disabled><img src="{% static "img/btn_qx.png" %}" /></a>
                            <button type="button" onclick="" class="btn-delete disabled" disabled><img src="{% static "img/btn_sc.png" %}" /></button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
