{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load common_tags %}
{% load staticfiles %}
{% load endless %}
{% block breadcrumb %}
<a href="/project/">项目</a><span class="divider">/</span>
<a href="{% url "project_detail" project.id %}">项目详情</a><span class="divider">/</span>
<a href="{% url "project_member_manage" project.id %}">成员管理</a><span class="divider">/</span>
项目权限
{% endblock %}
{% block body %}
        <form class="fill_form" action="" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <fieldset>
                <legend>
                    项目权限
                </legend>
                 <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="5%" class="checkall"><input type="checkbox"></th>
                            <th width="95%">权限描述</th>
                        </tr>
                    </thead>
                    <tbody class="checkboxs">
                        {% for perm  in perms  %}
                        <tr>
                            <td><input type="checkbox" {% has_perm member_user perm project %}{% if has_perm %}checked{% endif %} name="perm" value="{{ perm.content_type.app_label|lower }}.{{ perm.codename}}"></td>
                            <td>{% trans perm.name %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
            <div class="text-center form-actions">
                <button class="btn btn-success" type="submit">保存</button>
                <a class="btn btn-default" href="{% url "project_member_manage" project.id  %}">取消</a>
            </div>
        </form>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" charset="utf-8">
    var all_perm_count = {{ perms|length }};
    if(all_perm_count == $('.checkboxs input[type="checkbox"]:checked').length) {
        $('.checkall input').iCheck('check');
    }
</script>
<script src="{{ STATIC_URL}}js/own.js"></script>
{% endblock %}
