{% load i18n %}
{% load url from future %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/error_style.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.9.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/error.js" %}" type="text/javascript"></script>
  </head>
  <body>
    <div class="error_top">
        <div class="error_logo">
            <a href="/"><img src="{% static "img/error_logo.png" %}" /></a>
        </div>
    </div>
    
    <div class="error_main">
        <div class="error_tip error404">
            <div class="error_img"><img src="{% static "img/404.png" %}" /></div>
            <p>Opps...Page Not Found</p>
        </div>
    </div>
  </body>
</html>
