{% extends "site_base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load account_tags %}

{% load metron_tags %}
{% load i18n %}
        
        {% block topbar_base %}
                <div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %} navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            {% block topbar %}
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                {% block site_brand %}{% endblock %}
                                <div class="nav-collapse collapse">
                                    {% block nav %}
                                        <ul class="nav">
                                            <li class="active"><a href="{% url "manage_index" %}">首页</a></li>
                                            <li><a href="{% url "project_index" %}">项目</a></li>
                                            <li><a href="{% url "slice_list" 0 %}">slice</a></li>
                                            <li class="dropdown base_device">
                                                <a href="#">
                                                    基础设施
                                                    <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu base_device_list">
                                                    <li><a href="{% url "nexus_list" "resources" "server" %}"><i class="icon-cog"></i> {% trans "Server" %}</a></li>
                                                    <li><a href="{% url "nexus_list" "resources" "switch" %}"><i class="icon-cog"></i> {% trans "Switch" %}</a></li>
                                                    <li><a href="{% url "nexus_list" "resources" "virtualswitch" %}"><i class="icon-cog"></i> {% trans "Virtual Switch" %}</a></li>
                                                    <li><a href="{% url "nexus_list" "openflow" "flowvisor" %}"><i class="icon-cog"></i> {% trans "Flowvisor" %}</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">消息日志</a></li>
                                            <li><a href="#">系统配置</a></li>
                                        </ul>
                                        {% comment %}
                                            <ul class="nav">
                                                <li><a href="#tab_one">One</a></li>
                                                <li><a href="#tab_two">Two</a></li>
                                            </ul>
                                        {% endcomment %} 
                                    {% endblock %}
                                    <div class="pull-right">
                                        <ul class="nav pull-right">
                                            {% if request.user.is_authenticated %}
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        {% user_display request.user %}
                                                        <b class="caret"></b>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        {% if request.user.is_staff %}
                                                            <li><a href="{% url THEME_ADMIN_URL|default:"admin:index" %}"><i class="icon-cog"></i> {% trans "Admin" %}</a></li>
                                                        {% endif %}
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a id="account_logout" href="{% url "account_logout" %}"><i class="icon-off"></i> {% trans "Log out" %}</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li><a href="{% url "account_login" %}">{% trans "Log in" %}</a></li>
                                                {% if ACCOUNT_OPEN_SIGNUP %}
                                                    <li><a href="{% url "account_signup" %}">{% trans "Sign up" %}</a></li>
                                                {% endif %}
                                            {% endif %}
                                        </ul>
                                    </div>

                                    <form id="accountLogOutForm" style="display: none;" action="{% url "account_logout" %}" method="POST">
                                        {% csrf_token %}
                                    </form>

                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
        {% endblock %}
