{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "create project" %}{% endblock %}
{% block breadcrumb %}<a href="#">创建项目</a><span class="divider">/</span><a href="#">项目详情</a><span class="divider">/</span>创建Slice{% endblock %}

{% block body %}
	<div class="help_doc">
		<div class="help_main fill_form form-wizard">
			<ul class="row-fluid nav nav-pills">
				<li class="span1"></li>
				<li class="span2 visit">
					<a href="javascript:void(0);" class="step">
						<span class="number">1</span>
						<span class="desc">基本信息</span>   
					</a>
				</li>
				<li class="span2 visit">
					<a href="javascript:void(0);" class="step">
						<span class="number">2</span>
						<span class="desc">网络配置</span>   
					</a>
				</li>
				<li class="span2 visit">
					<a href="javascript:void(0);" class="step">
					<span class="number">3</span>
					<span class="desc">服务配置</span>   
					</a>
				</li>
				<li class="span2 visit">
					<a href="javascript:void(0);" class="step">
					<span class="number">4</span>
					<span class="desc active">虚拟机创建</span>   
					</a> 
				</li>
				<li class="span2">
					<a href="javascript:void(0);" class="step">
					<span class="number">5</span>
					<span class="desc">服务清单</span>   
					</a> 
				</li>
				<li class="span1"></li>
			</ul>
		  <form>
			  <fieldset class="base_info">
			  	 <legend>虚拟机信息</legend>
			  	 <div class="sec_block">
			  	  <table class="table">		  	 	
			    	<tbody>
			    		<tr>
			    			<td width="100">名称</td>
			    			<td>
			    				<input type="text" value="">
			    			</td>
			    			<td></td>
			    		</tr>
			    	    <tr>
			    			<td>模板类型</td>
			    			<td>
			    				<select>
								  <option>类型1</option>
								  <option>类型2</option>
								  <option>类型3</option>
								</select>
			    			</td>
			    			<td><span class="help-inline">用户选择系统提供的虚拟机模板类型，如small等模板包括虚拟机CPU、内存配置</span></td>
			    		</tr>
			    		<tr>
			    			<td>镜像类型</td>
			    			<td>
			    				<select>
								  <option>类型1</option>
								  <option>类型2</option>
								  <option>类型3</option>
								</select>
			    			</td>
			    			<td></td>
			    		</tr>
			    		<tr>
			    			<td>关联网络节点</td>
			    			<td>
			    				<select>
								  <option>节点1</option>
								  <option>节点2</option>
								  <option>节点3</option>
								</select>
			    			</td>
			    			<td><span class="help-inline">用户为新创建的虚拟机选择虚拟机关联节点，虚拟机关联节点由用户在第1步选定</span></td>
			    		</tr>
			    	</tbody>
			     </table>
			     <label class="checkbox">
				    <input type="checkbox" value="" checked>
				                否启动DHCP
				 </label>
				 <div class="operate_btn">
					<button class="btn btn-primary add" type="button">继续添加</button>
					<button class="btn btn-inverse del" type="button">删 除</button>
				 </div>
			    </div>			
			  </fieldset>
			  <div class="pagination">
				  <ul>
				    <li class="disabled"><a href="#">Prev</a></li>
				    <li class="active"><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li><a href="#">Next</a></li>
				  </ul>
				</div>
			  
			  <div class="form-actions">
				  <div class="row-fluid">
				  	<div class="span3"></div>
				  	<div class="span3"><button type="submit" class="btn btn-large btn-block">上一步</button></div>
				  	<div class="span3"><button type="submit" class="btn btn-large btn-block btn-info">下一步</button></div>
				  	<div class="span3"></div>
				  </div>
			  </div>
			</form>
		</div>
	</div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
{% endblock %}
