{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "create project" %}{% endblock %}
{% block breadcrumb %}<a href="#">创建项目</a><span class="divider">/</span><a href="#">项目详情</a><span class="divider">/</span><a href="#">创建Slice</a><span class="divider">/</span>Slice详情{% endblock %}

{% block body %}
		<div class="fill_form form-wizard">
			  <fieldset class="base_info">
			    <legend>基本信息<button type="button" class="btn btn-primary edit">编辑Slice</button></legend>
			    <table class="table">
			    	<tbody>
			    		<tr>
			    			<td width="50">名称：</td>
			    			<td>slice1</td>
			    		</tr>
			    		<tr>
			    			<td class="v_top">描述：</td>
			    			<td>相信很多前端编程爱好者么都知道，对于一个文本域而言，有时候textarea的控制是非常费脑经的。其中最为难办的一点也许就是怎么控制textarea元素的不可拖动性质。相信很多前端编程爱好者么都知道，对于一个文本域而言，有时候textarea的控制是非常费脑经的。其中最为难办的一点也许就是怎么控制textarea元素的不可拖动性质。</td>
			    		</tr>
			    		<tr>
			    			<td valign="top">节点：</td>
			    			<td>无线谷</td>
			    		</tr>
			    	</tbody>
			    </table>			     
			  </fieldset>
			  <fieldset class="base_info">
			  	 <legend>Slice资源</legend>
			  	 <table class="table">
				 	<tbody>
				 		<tr>
				 			<td width="20%">控制器</td>
				 			<td width="60%">IP：192.168.5.123：6633</td>
				 			<td width="20%"><button type="button" class="btn btn-success start_btn">启动</button><button type="button" class="btn">登录</button></td>
				 		</tr>
				 		<tr>
				 			<td>虚拟网关</td>
				 			<td>IP：192.168.5.124</td>
				 			<td><button type="button" class="btn btn-danger start_btn">停止</button><button type="button" class="btn">登录</button></td>
				 		</tr>
				 		<tr>
				 			<td>DHCP服务器</td>
				 			<td>IP：192.168.5.123</td>
				 			<td><button type="button" class="btn btn-danger start_btn">停止</button><button type="button" class="btn">登录</button></td>
				 		</tr>
				 	</tbody>
				 </table>
				 <table class="table">
				 	<tbody>
				 		<tr>
				 			<td width="20%">VM1</td>
				 			<td width="30%">IP：192.168.5.123</td>
				 			<td width="30%">所属网络节点：192.168.20.6</td>
				 			<td width="20%"><button type="button" class="btn btn-success start_btn">启动</button><button type="button" class="btn">登录</button></td>
				 		</tr>
				 		<tr>
				 			<td>VM2</td>
				 			<td>IP：192.168.5.125</td>
				 			<td>所属网络节点：192.168.20.6</td>
				 			<td><button type="button" class="btn btn-danger start_btn">停止</button><button type="button" class="btn">登录</button></td>
				 		</tr>
				 		<tr>
				 			<td>VM3</td>
				 			<td>IP：192.168.5.126</td>
				 			<td>所属网络节点：192.168.20.7</td>
				 			<td><button type="button" class="btn btn-danger start_btn">停止</button><button type="button" class="btn">登录</button></td>
				 		</tr>
				 		<tr>
				 			<td></td>
				 			<td></td>
				 			<td></td>
				 			<td><a href="#">更多>></a></td>				 			
				 		</tr>
				 	</tbody>
				 </table>
			  </fieldset>
			  <fieldset>
			  	 <legend>Slice拓扑</legend>
			  	 <div class="show_frame">
			  	 	<img src="{% static "img/003.png" %}" style="margin:0 auto;display:block;" />
			  	 </div>
			  </fieldset>
			  <div class="form-actions">
    			  <div class="row-fluid">
    			  	<div class="span4"></div>
    			  	<div class="span4"><button type="submit" class="btn btn-large btn-block btn-success start_btn">启动Slice</button></div>
    			  	<div class="span4"></div>
    			  </div>
			  </div>			 
		</div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
{% endblock %}
