{% extends "site_base.html" %}

{% block body %}
<div class="row">
    <div class="col-md-9">
        {% block forum_body %}
        {% endblock %}
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:inline-block;width:100%;height:280px"
                     data-ad-client="ca-pub-1720336601931697"
                     data-ad-slot="7918015583"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}

