{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
<style>
img {
    max-width:none;

}
.dg-wrapper a div.slice_content {
	display: block;
}
</style>
{% endblock %}
{% block body_class %}home nexus-body{% endblock %}

{% block breadcrumb %}基础设施{% endblock %}

{% block body %}

<div class="row margin_rows">
            <div class="col-md-2 text-center"><a href="{% url "nexus_list" "project" "city" %}"><i class="glyphicon glyphicon-cog"></i> {% trans "City" %}</a></div>
            <div class="col-md-2 text-center"><a href="{% url "nexus_list" "project" "island" %}"><i class="glyphicon glyphicon-cog"></i> {% trans "Island" %}</a></div>
            <div class="col-md-2 text-center"><a href="{% url "nexus_list" "resources" "server" %}"><i class="glyphicon glyphicon-cog"></i> {% trans "Server" %}</a></div>
            <div class="col-md-2 text-center"><a href="{% url "nexus_list" "resources" "switch" %}"><i class="glyphicon glyphicon-cog"></i> {% trans "Switch" %}</a></div>
            <div class="col-md-2 text-center"><a href="{% url "nexus_list" "resources" "virtualswitch" %}"><i class="glyphicon glyphicon-cog"></i> {% trans "Virtual Switch" %}</a></div>
            <div class="col-md-2 text-center"><a href="{% url "nexus_list" "openflow" "flowvisor" %}"><i class="glyphicon glyphicon-cog"></i> {% trans "Flowvisor" %}</a></div>
</div>

		 <ul id="tabs">
		      <li class="active"><a href="#resource" data-toggle="tab">资源</a></li>
		      <li><a href="#topology" data-toggle="tab">物理拓扑</a></li>   
		 </ul>
       	 
		 <div class="tab-content tab_main" style="height:auto;">
		   <div class="tab-pane active tab_map" id="resource">
		     <span class="enlarge"><img src="{% static "img/subtract-01.png" %}" /></span>
		     <span class="shrink"><img src="{% static "img/subtract-02.png" %}" /></span>
		   	 <img src="{% static "img/map_fir.jpg" %}" style="width:100%" class="map" width="980" height="679" />
		   	 <img src="{% static "img/map_sec.jpg" %}" style="width:100%" class="map2 hide" width="980" height="679" />		  
		   </div>
           <div class="tab-pane" id="topology">
                <iframe src="/topology/?direct=true&no_parent=true&hide_filter=true" width="100%" height="603px;" frameborder="0">
                </iframe>
           </div>
		 </div>
       
         <!--<section id="dg-container" class="dg-container">
         	<div id="slice_show">
			</div>
		 </section>
    	
    	 <div class="clear" style="display: none" >
				<p id="topology_type">0</p>
				<p id="STATIC_URL">{{STATIC_URL}}</p>
		</div>-->
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL}}js/modernizr.custom.53451.js"></script>
<!--<script src="{{ STATIC_URL}}js/slice_topology.js"  charset="utf-8"></script>-->
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.gallery.js"></script>
<script type="text/javascript">
    $(function() {
    	$('#dg-container').gallery();
   /* 	$(".enlarge img").click(function(){
    	    $(".map").attr("src","{% static 'img/map_sec.jpg' %}");
    	});
    	$(".shrink img").click(function(){
            $(".map").attr("src","{% static 'img/map_fir.jpg' %}");
        });         */
       
       $(".enlarge img").click(function(){
           $(".map2").stop().fadeIn();
       });
       $(".shrink img").click(function(){
           $(".map2").fadeOut();
       });
    });
</script>
{% endblock %}
