{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}


{% block head_title %}
镜像备份
{% endblock %}
{% block extra_style %}
   
{% endblock %}
{% block breadcrumb %}
<li class="active">镜像备份</li>
{% endblock %}
{% block extra_breadcrumb %}
<form class="navbar-form navbar-right search_defined">
    <div class="form-group">
      <input placeholder="搜索" type="text" value="{{ query }}" name="query" value="" class="form-control search-query">
     <a href="javascript:;"><i class="glyphicon glyphicon-search"></i></a>
    </div>
</form>
{% endblock %}

{% block body %}
<div class="user_manage_tab"> 
    <a class="slice_index col-md-6 jx" href="">
        <span>镜像</span>
    </a>
    <a class="slice_index col-md-6 bf on" href="">
         <span>备份</span>
    </a>
    <div class="clear"></div>
</div>

<div class="well intro_well">
    <h3 class="list_title">备份（Snapshots）</h3>                        
    <p class="list_lead">备份 (Snapshot) 用于对正在运行的主机做在线备份。</p>                     
</div>


<table class="table_defined row_chose" id="jxbf">
    <thead>
        <tr>
            <th width="15%">ID</th>
            <th width="15%">名称</th>
            <th width="20%">描述</th>
            <th width="15%">主机</th>            
            <th width="10%">创建时间</th>
            <th width="10%">状态</th>
            <th width="15%" class="t_dropdown">
                <span class="dropdown"> 
                  操作
                  <a id="" role="button" data-toggle="dropdown" href="#"><b class="caret"></b></a>
                  <ul class="dropdown-menu oper_menu" role="menu">
                      <li><a href="javascript:;" data-toggle="modal" data-target="#make_iso" class="disabled"><i class="glyphicon glyphicon-record"></i>制作镜像</a></li>
                      <li><a href="javascript:;" data-toggle="modal" data-target="#images_bj" class="disabled"><i class="glyphicon glyphicon-pencil"></i>编辑</a></li>
                      <li><a href="javascript:;" class="disabled"><i class="glyphicon glyphicon-trash"></i>删除</a></li>
                   </ul>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>afsdfgfhgd</td>
            <td>host1备份</td>
            <td>afsdfgfhgd</td>
            <td>host1</td>
            <td>2014-6-24</td>   
            <td class="pot_state"><span title="使用中"></span></td> 
            <td class="btn_operation">
                <a href="javascript:;" data-toggle="modal" data-target="#alertModal"><img src="{% static "img/btn_hy.png" %}" title="还原" /></a>
            </td>            
        </tr>
        <tr>
            <td>afsdfgfhgd</td>
            <td>host1备份</td>
            <td>afsdfgfhgd</td>
            <td>host1</td>
            <td>2014-6-24</td>   
            <td class="pot_state"><span title="使用中"></span></td> 
            <td class="btn_operation">
                <a href="javascript:;"><img src="{% static "img/btn_hy.png" %}" title="还原" /></a>
            </td>             
        </tr>
    </tbody>
</table>
<div class="text-center">
    <ul class="pagination">       
        <li class="active"><a class="endless_page_current">1</a></li>
        <li><a class="endless_page_link" href="" rel="page">2</a></li>
        <li><a class="endless_page_link" href="" rel="page">&gt;</a></li>
   </ul>
</div>

<!-- 制作镜像 -->
<div id="make_iso" class="modal fade modal_base_defined" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 id="myModalLabel" class="modal-title">制作镜像</h4>      
            </div>
            <div class="modal-body base_info form-horizontal">
                <div class="alert alert-info">
                    <strong>提示：</strong>初始用户名与密码必须是镜像中存在的用户名与密码，建议填写管理员的用户名与密码！
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">名称</label>
                    <div class="col-md-8">
                            <input type="text" class="form-control" name="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">描述</label>
                    <div class="col-md-8">
                            <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">初始用户名</label>
                    <div class="col-md-8">
                            <input type="text" class="form-control" name="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">初始密码</label>
                    <div class="col-md-8">
                            <input type="text" class="form-control" name="" />
                    </div>
                </div>
                <div class="form-group">
                   <label class="radio-inline col-md-offset-3 col-md-2">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> 共享
                    </label>
                    <label class="radio-inline col-md-2">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 私有
                    </label>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button class="btn btn_info submit-invite">确定</button>
            </div>
        </div>
    </div>
</div>    


<!-- 编辑 -->
<div id="images_bj" class="modal fade modal_base_defined" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 id="myModalLabel" class="modal-title">编辑</h4>      
            </div>
            <div class="modal-body base_info form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">名称</label>
                    <div class="col-md-8">
                            <input type="text" class="form-control" name="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">描述</label>
                    <div class="col-md-8">
                            <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                   <label class="radio-inline radio_defined">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> 共享
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 私有
                    </label>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">取消</button>
              <button class="btn btn_info submit-invite">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 还原提示 -->
<div class="modal fade in" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false"三>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
              <h4 class="modal-title">提示</h4>      
          </div>
          <div class="modal-body" id="slice_alert_info"><p class="text-center">还原将丢失虚拟机的当前状态，是否继续还原？</p></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn_info" data-dismiss="modal">确定</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL}}js/block_tab.js"></script>
<script src="{{ STATIC_URL}}js/table_click.js"></script>
{% endblock %}
