{% extends "admin_base.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% endblock %}
{% block breadcrumb_base %}{% endblock %}
{% block body_class %}home{% endblock %}
{% block body %}
<div class="row-fluid margin_rows">
    <div class="span3">
        <div class="nums_block" style="border:1px solid #3182ad;">
          <a href="{% url "nexus_list" "project" "island" %}">
            <div class="nums_top" style="background:#3398cc;">
                <img src="{% static "img/node.png" %}" width="60" />                
                <span>{{ total_islands }}</span>
            </div>
            <div class="nums_bottom" style="background:#0a5da3;">
                <span>节点</span>
                <i class="icon-circle-arrow-right"></i>
            </div>
          </a>  
        </div>
    </div>
    <div class="span3">
        <div class="nums_block" style="border:1px solid #2fb157;">
          <a href="{% url "project_index" %}">
            <div class="nums_top" style="background:#34cc67;">
                <img src="{% static "img/project.png" %}" width="60" />                
                <span>{{ total_projects }}</span>
            </div>
            <div class="nums_bottom" style="background:#09a32b;">
                <span>项目</span>
                <i class="icon-circle-arrow-right"></i>
            </div>
          </a>  
        </div>
    </div>  
    <div class="span3">
        <div class="nums_block" style="border:1px solid #893080;">
          <a href="{% url "slice_list" 0 %}">
            <div class="nums_top" style="background:#993399;">
                <img src="{% static "img/slice.png" %}" width="60" />
                <span>{{slices.count}}</span>
            </div>
            <div class="nums_bottom" style="background:#5c0b58;">
                <span>slice</span>
                <i class="icon-circle-arrow-right"></i>
            </div>
          </a>  
        </div>
    </div>  
    <div class="span3">
        <div class="nums_block" style="border:1px solid #e5b232;">
          <a href="{% url "nexus_list" "auth" "user" %}">
            <div class="nums_top" style="background:#ffcc33;">
                <img src="{% static "img/user.png" %}" width="60" />
                <span>{{ total_users }}</span>
            </div>
            <div class="nums_bottom" style="background:#fea30a;">
                <span>用户</span>
                <i class="icon-circle-arrow-right"></i>
            </div>
          </a>  
        </div>
    </div>      
</div>

<div class="row-fluid margin_rows">
    <div class="span6">
        <div class="tp_block">
            <iframe src="/topology/?direct=true&no_parent=true&hide_filter=true&size=small" width="100%" height="603px;" frameborder="0">
            </iframe>
        </div>
    </div>
    <div class="span6">
        <div class="tp_block">
            {%if slices%}
            <div id="myCarousel" class="carousel slide carousel_defined">
              <!-- Carousel items -->
              <div class="carousel-inner">
                {%for slice in slices%}
                    {%if forloop.counter == 1 %}
                        <div class="active item slice_topology">
                    {%else%}
                        <div class="item slice_topology">
                    {%endif%}
                        <a class="thumbnail" href="/slice/detail/{{ slice.id }}/">
                            <div class="row-fluid slice_list">
                                <div class="span5">
                                    <div class="slice_left">
                                        <img src="{% static slice.project.category.image %}" />
                                        <ul>
                                            <li><i class="icon-file-alt icon-large"></i><b>{{ slice.get_show_name }}</b></li>
                                            <li><i class="icon-user icon-large"></i>{{ slice.owner }}</li>
                                            <li><i class="icon-rss icon-large"></i>{%if slice.state == 0 %}<span class="label label-important">off</span>{%else%}<span class="label label-success">on</span>{%endif%}</li>
                                        </ul>
                                        <div class="circle_bar">
                                            <canvas class="circle_canvas" id="swCanvas{{slice.id}}" width="135" height="20" data-text="交换机（SW）"></canvas>
                                            <input readonly="readonly" class="knob" data-width="36" data-height="36"
                                            data-min="0" data-max="100" data-fgcolor="#fe0000" data-bgcolor="#cccccc" data-thickness=".2" value="{{slice.get_switches.count}}">
                                        </div>
                                        <div class="circle_bar">
                                            <canvas class="circle_canvas" id="vmCanvas{{slice.id}}" width="135" height="20" data-text="虚拟机（VM）"></canvas>
                                            <input readonly="readonly" class="knob" data-width="36" data-height="36" 
                                            data-min="0" data-max="100" data-fgcolor="#ff9930" data-bgcolor="#cccccc" data-thickness=".2" value="{{slice.get_common_vms.count}}">
                                        </div>
                                        <div class="circle_bar">
                                            <canvas class="circle_canvas" id="ipCanvas{{slice.id}}" width="135" height="20" data-text="IP地址（IP）"></canvas>
                                            <input readonly="readonly" class="knob" data-width="36" data-height="36" 
                                            data-min="0" data-max="100" data-fgcolor="#00ccff" data-bgcolor="#cccccc" data-thickness=".2" value="{{slice.get_nw_num}}">
                                        </div>
                                        <div class="slice_date">
                                            <i class="icon-calendar icon-large"></i>{{slice.date_created|date:"Y.m.d"}} - {{slice.date_expired|date:"Y.m.d"}}
                                        </div>
                                    </div>        
                                </div>
                                <div class="span7">
                                    <div class="slice_right">
                                        <div>
                                        <iframe scrolling="no" id="topologyiframe" width="250" height="320" src="/slice/topology_d3/?slice_id={{slice.id}}&width=210&height=320" frameborder="0"></iframe>
                                        </div>
                                        <div class="slice_text">
                                            {{slice.description}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {%endfor%}
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left control_defined" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right control_defined" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>     
            {%else%}
                <div class="alert alert-block nothing_tip">
                     <h4>没有已创建的SLICE！</h4>
                </div>
            {%endif%}  
        </div>       
    </div>
</div>

<div class="row-fluid margin_rows">
    <div class="span6">
        <div class="tp_block tp_charts" id = "show_server">
            <div class="pull-right" style="margin:5px 10px 5px 0">
                cpu:<span id="id_cpu_index"></span>%
                &nbsp;&nbsp;&nbsp;&nbsp;
                                                    内存:<span id="id_mem_index"></span>%
            </div>
			<canvas id="manage_server_chart" width="460" height="210" style="margin-left:10px;"></canvas>			
		</div>        
    </div>
    <div class="span6">
        <div class="tp_block tp_charts" id="show_switch">
            <div class="pull-right" style="margin:5px 10px 5px 0">
                                                    每秒接收量：<span id="id_port_recv_bps"></span>/S
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    每秒发送量：<span id="id_port_send_bps"></span>/S 
            </div>
			<canvas id="port_perf_chart" width="460" height="210" style="margin-left:10px;"></canvas><br/>				

		</div>
    </div>
</div>
   
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/jquery.knob.js"></script>
<script src="{{ STATIC_URL}}js/slice_list.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-chart.js"></script>
<script src="{{ STATIC_URL }}js/monitor_index.js?v=1" ></script>
<script src="{{ STATIC_URL }}js/monitor_switch.js?v=1" ></script>
<script>
    $(function($) {

        $(".knob").knob({
            change : function (value) {
                //console.log("change : " + value);
            },
            release : function (value) {
                //console.log(this.$.attr('value'));
                console.log("release : " + value);
            },
            cancel : function () {
                console.log("cancel : ", this);
            },
            draw : function () {

                // "tron" case
                if(this.$.data('skin') == 'tron') {

                    var a = this.angle(this.cv)  // Angle
                        , sa = this.startAngle          // Previous start angle
                        , sat = this.startAngle         // Start angle
                        , ea                            // Previous end angle
                        , eat = sat + a                 // End angle
                        , r = 1;

                    this.g.lineWidth = this.lineWidth;

                    this.o.cursor
                        && (sat = eat - 0.3)
                        && (eat = eat + 0.3);

                    if (this.o.displayPrevious) {
                        ea = this.startAngle + this.angle(this.v);
                        this.o.cursor
                            && (sa = ea - 0.3)
                            && (ea = ea + 0.3);
                        this.g.beginPath();
                        this.g.strokeStyle = this.pColor;
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
                        this.g.stroke();
                    }

                    this.g.beginPath();
                    this.g.strokeStyle = r ? this.o.fgColor : this.fgColor ;
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
                    this.g.stroke();

                    this.g.lineWidth = 2;
                    this.g.beginPath();
                    this.g.strokeStyle = this.o.fgColor;
                    this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                    this.g.stroke();
           
                     
                        this.g.strokeStyle ='hsl(120,50%,50%)';//线条颜色：绿色
                        this.g.lineWidth = 1;//设置线宽
                        this.g.beginPath();
                        this.g.moveTo(0,0);
                        this.g.lineTo(100,200);
                        this.g.closePath();//可以把这句注释掉再运行比较下不同
                        this.g.stroke();//画线框
                        this.g.fill();//填充颜色
                    
                    return false;
                }
            }
        });

        // Example of infinite knob, iPod click wheel
        var v, up=0,down=0,i=0
            ,$idir = $("div.idir")
            ,$ival = $("div.ival")
            ,incr = function() { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
            ,decr = function() { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };
        $("input.infinite").knob(
                            {
                            min : 0
                            , max : 20
                            , stopper : false
                            , change : function () {
                                            if(v > this.cv){
                                                if(up){
                                                    decr();
                                                    up=0;
                                                }else{up=1;down=0;}
                                            } else {
                                                if(v < this.cv){
                                                    if(down){
                                                        incr();
                                                        down=0;
                                                    }else{down=1;up=0;}
                                                }
                                            }
                                            v = this.cv;
                                        }
                            });
    });
     
    $(".circle_bar canvas").each(function(){
        var canvasTitle = $(this).attr("data-text");
        var canvasId = $(this).attr("id");       
        var ctxCanvas = document.getElementById(canvasId);
        var context = ctxCanvas.getContext("2d");  
        context.strokeStyle = "#d3d3d3"; 
        context.lineWidth = 2;  
        context.beginPath();         
        context.moveTo(0,10);  
        context.lineTo(50,10);  
        context.stroke();  
        context.closePath();
        
        context.beginPath();   
        context.fillStyle="#01b6ef";    
        context.arc(50,10,2,Math.PI/2,false);
        context.closePath();
        context.fill();
        
        context.fillStyle="#000000";    
        context.fillText(canvasTitle,55,13);        
    });

	if( {{ host_id }} == -1){
		document.getElementById("show_server").innerHTML = "<h4 class='text-center' style='margin-top:23%;'><small><i>当前没有添加服务器</i></small></h4>"
	}else{
		monitor_host({{ host_id }});
	}
	
	if ({{ switch_id }} == -1){
		document.getElementById("show_switch").innerHTML = "<h2>当前没有添加交换机</h2>"
	}else{
		get_br_info({{ switch_id }}, false);
	}
	
	
      
</script>
<script src="{{ STATIC_URL}}js/own.js"></script>
{% endblock %}
