{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}
{% block body_base %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">{% trans "Project" %}</a> <span class="divider">/</span>{% block breadcrumb %}
            {% endblock %}</li>
        </ul>
        {% include "_messages.html" %}
        {% block body %}
        {% endblock %}
        {% block footer_base %}
            <hr />
            <footer>
                {% block footer %}
                    {% include "_footer.html" %}
                {% endblock %}
            </footer>
        {% endblock %}
    </div>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
