{% extends "theme_base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load notifications_tags %}
{% load metron_tags %}
{% load i18n %}
        
        <title>{% block head_title_base %}SDN创新实验平台{% endblock %}</title>   
          
       {% block style_base %}   
         
            <link href="{% static "css/square/blue.css" %}" rel="stylesheet">
            <!--<link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">-->
            <link href="{% static "css/own.css" %}" rel="stylesheet">
            <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
            <!--[if IE 7]>
            <link rel="stylesheet" href="{% static "css/font-awesome-ie7.min.css" %}">
            <![endif]-->
            {% block extra_style %}{% endblock %}
        {% endblock %}
        
		{% block extra_head_base %}
		    {% block extra_head %}{% endblock %}
		{% endblock %}
        {% block body_class %}{{ request.current_app }}-body common{% endblock %}
	    {% block wrapper_class %}wrapper_all{% endblock %}
		{% block topbar_base %}
                <div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %} navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            {% block topbar %}
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                {% block site_brand %}{% endblock %}
                                <div class="nav-collapse collapse">
                                    {% block nav %}
                                    	<ul class="nav">
                                            {% notifications_unread as unread_count %}
                                            {% if user.is_superuser %}
                                                <li class="index_menu"><a href="{% url "manage_index" %}">首页</a></li>
                                                <li class="pro_menu"><a href="{% url "project_index" %}">项目</a></li>
                                                <li class="slice_menu"><a href="{% url "slice_list" 0 %}">虚网</a></li>
                                                <li class="device_menu">
                                                    <a href="{% url "nexus_list" "project" "city" %}">
                                                        基础设施
                                                    </a>
                                                </li>
                                                <li class="news_menu"><a href="{% url "notifications:all" %}">消息日志{% if unread_count > 0%} <span class="label label-success">{{ unread_count }}</span>{% endif %}</a></li>
                                            {% else %}
					                            <li class="index_menu"><a href="{% url "project_manage" %}">首页</a></li>
					                            <li class="pro_menu"><a href="{% url "project_index" %}">项目</a></li>        
                                                <li class="news_menu"><a href="{% url "notifications:all" %}">消息{% if unread_count > 0 %} <span class="label label-success">{{ unread_count }}</span>{% endif %}</a></li>

					                            <li><a href="/help/" class="help_menu">帮助</a></li>
                                            {% endif %}
					                    </ul>
                                        {% comment %}
                                            <ul class="nav">
                                                <li><a href="#tab_one">One</a></li>
                                                <li><a href="#tab_two">Two</a></li>
                                            </ul>
                                        {% endcomment %}
                                    {% endblock %}
                                    {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
		{% block body_base %}
		    {% block blank_block %}<div class="blank_block"></div>{% endblock %}
		    <div class="container">	        
		    	{% block breadcrumb_base %}
                {% if user.is_authenticated %}
		        <ul class="breadcrumb">
                    {% if user.is_superuser %}
		                <li><span class="icon-home"></span><a href="{% url "home" %}">首页</a><span class="divider">/</span>
                    {% else %}
		                <li><span class="icon-home"></span><a href="{% url "project_manage" %}">首页</a><span class="divider">/</span>
                    {% endif %}
		            {% block breadcrumb %}
		            {% endblock %}
		            </li>
		        </ul>
                {% endif %}
		        {% endblock %}
                {% block messages %}
		        {% include "_messages.html" %}
                {% endblock %}
		         <div class="">	
		           <div class="main2">
    		        {% block body %}
    		        {% endblock %}	
    		       </div>                
		        </div>
		    </div>
		    <div class="push"></div>
		{% endblock %}
		
		{% block script_base %}
            <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
            <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
            <script src="{% static "pinax/js/theme.js" %}"></script>
            <script src="{{ STATIC_URL}}js/icheck/jquery.icheck.min.js"></script>
            <script>
                $(document).ready(function(){
                    /*
                    $("#accounts_logout").click(function(e) {
                        e.preventDefault();
                        $("#logoutModal").modal();
                    });*/
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue',
                        increaseArea: '20%'  // optional
                    });
                    $('')
                    $('.btn-input.btn-delete').click(function(){
                        if($(this).hasClass('disabled')) {
                            return false;
                        }
                        $('#alertModal').modal();
                        var form = $(this).parents('form')
                        var self = $(this);
                        $('.delete-confirm').unbind('click');
                        $('.delete-confirm').click(function(){
                            form.submit();
                        });
                        return false;
                    });
                    $('a.btn-delete').click(function(){
                        if($(this).hasClass("disabled")){
                            return false;
                        }else{
                            $('#alertModal').modal();
                            var self = $(this);
                            $('.delete-confirm').unbind('click');
                            $('.delete-confirm').click(function(){
                                window.location.href = self.attr('href');
                            });
                            return false;
                        }
                    });
                    //列表框，指针放上去时显示删除图标                 
                    $(".example-sites li").mouseenter(function(){
                        $(this).children(".close").stop(true,false).fadeIn();
                    });
                    $(".example-sites li").mouseleave(function(){
                        $(this).children(".close").stop(false,true).hide();
                    });
                    
                    //菜单下拉      
                    $(".base_device").hover(function(){
                          if(!$(".base_device_list").is(":animated")){
                             $(".base_device_list").toggle();    
                          }
 
                    });     
                });
            </script>
            {% block extra_script %}{% endblock %}
        {% endblock %}
		
{% block extra_body_base %}

<div id="logoutModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-body">
      <p class="text-center">确定注销吗？</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info delete-cancel" data-dismiss="modal">取消</button>
      <a id="account_logout" class="btn btn-info" href="{% url "account_logout" %}">{% trans "Log out" %}</a>
    </div>           
 </div>
<div id="alertModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-body">
      <p class="text-center">确定删除吗？</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info delete-cancel" data-dismiss="modal">取消</button>
      <button class="btn delete-confirm btn-info" data-dismiss="modal">确定</button>
    </div>           
 </div>

<!--警告框-->
<div id="alert_modal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-body">
      <p class="text-center" id="alert_info"></p>
    </div>
    <div class="modal-footer">
      <button class="btn delete-confirm btn-info" data-dismiss="modal"id="alert_close">确定</button>
    </div>           
 </div>

    {% analytics %}
    {% block extra_body %}
    	{% block footer_base %}
            <footer>
                {% block footer %}
                    {% include "_footer.html" %}
                {% endblock %}
            </footer>
        {% endblock %}
    {% endblock %}
{% endblock %}
