{% extends "theme_base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load notifications_tags %}
{% load metron_tags %}
{% load i18n %}

<title>{% block head_title_base %}未来网络试验系统{% endblock %}</title>

{% block style_base %}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="{% static "css/style_defined.css" %}" rel="stylesheet">
    <link href="{% static "css/theme-blue.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/button.css" %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL}}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL}}js/respond.min.js"></script>
      <script src="{{ STATIC_URL}}js/excanvas.js"></script>
    <![endif]-->
    <script> 
       (function() {      
             if (!0) return;
             var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
             var i= e.length;
             while (i--){
                 document.createElement(e[i])
             } 
        })(); 
    </script>
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body_class %}{{ request.current_app }}-body common{% endblock %}

{% block wrapper_class %}wrap_all{% endblock %}

{% block topbar_base %}
                <div class="nav_defined navbar {% block navbar_class %}navbar-fixed-top{% endblock %} navbar-inverse" role="navigation">
                        <div class="container-fluid">
                            {% block topbar %}
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                                {% block site_brand %}{% endblock %}
                                <div class="navbar-collapse collapse">
                                    {% block nav %}
                                    	<ul class="navbar_list nav navbar-nav">
                                            {% notifications_unread as unread_count %}
                                            <li class="index_menu {% if request.current_app == 'manage_index' %}active{% endif %}"><a href="{% url "manage_index" %}">首页</a></li>
                                            <li class="pro_menu {% if request.current_app == 'slice' and not user.is_superuser %}active{% endif %} {% if request.current_app == 'project' %}active{% endif %}"><a href="{% url "project_index" %}">项目</a></li>
                                            {% if user.is_superuser %}
                                            <li class="slice_menu {% if request.current_app == 'slice' %}active{% endif %}"><a href="{% url "slice_list" 0 0 %}">虚网</a></li>
                                            <li class="{% if '/nexus/auth/user/' not in request.path %}{% if request.current_app == 'nexus' %}active{% endif %} device_menu{% endif %}">
                                                    <a href="{% url "nexus_list" "project" "city" %}">
                                                        基础设施
                                                    </a>
                                             </li>
                                             <li class="{% if  request.current_app == 'adminlog' or request.current_app == 'notifications' %}active{% endif %}{% if '/nexus/auth/user/' in request.path  %}{% if request.current_app == 'nexus' %}active{% endif %} user_menu{% endif %}"><a href="{% url "nexus_list" "auth" "user" %}">用户管理</a></li>
                                            {% else %}
                                                <li class="news_menu {% if request.current_app == 'notifications' %}active{% endif %}"><a href="{% url "notifications:all" %}">消息{% if unread_count > 0%} <span class="label label-success">{{ unread_count }}</span>{% endif %}</a></li>
                                                <li class="news_menu {% if request.current_app == 'adminlog' %}active{% endif %}"><a href="{% url "adminlog_index" %}">日志</a></li>

                                            {% endif %}
                                            {% if not user.is_superuser %}
                                            <li class="{% if request.current_app == 'help' %}active{% endif %}"><a href="/help/" class="help_menu">帮助</a></li>
                                            {% endif %}
					                    </ul>
                                    {% endblock %}
                                    {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                                </div>
                            {% endblock %}
                    </div>
                </div>
{% endblock %}
		{% block body_base %}
            {% block breadcrumb_base %}
                {% if user.is_authenticated %}
                <div class="breadcrumb_defined">
                    <div class="container-fluid">
                        <ol class="breadcrumb">
                            <li>
                            {% if user.is_superuser %}
                                <a href="{% url "home" %}">首页</a>
                            {% else %}
                                <a href="{% url "project_manage" %}">首页</a>
                            {% endif %}
                            </li>
                            {% block breadcrumb %}
                            {% endblock %}
                        </ol>
                        {% block extra_breadcrumb %}
                        {% endblock %}
                    </div>
                </div>
                {% endif %}
            {% endblock %}
		    <div class="container-fluid main">
                {% block messages %}
		        {% include "_messages.html" %}
                {% endblock %}
		         <div class="">
		           <div class="main2">
    		        {% block body %}
    		        {% endblock %}
    		       </div>                
		        </div>
		    </div>
		    <div class="blank_block"></div>
		{% endblock %}
		
        {% block script_base %}            
            <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>  
            <script src="{{ STATIC_URL}}js/jquery-ui-1.10.3.custom.min.js"></script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>
            <script src="{% static "pinax/js/theme.js" %}"></script>
            <script src="{% static "js/default.js" %}"></script>
            <script>
                $(document).ready(function(){
                    /*
                    $("#accounts_logout").click(function(e) {
                        e.preventDefault();
                        $("#logoutModal").modal();
                    });
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue',
                        increaseArea: '20%'  // optional
                    });*/
                    $('.btn-input.btn-delete').live('click', function(){
                        if($(this).hasClass('disabled')) {
                            return false;
                        }
                        $('#alertModal').modal();
                        var form = $(this).parents('form')
                        var self = $(this);
                        $('.delete-confirm').unbind('click');
                        $('.delete-confirm').click(function(){
                            form.submit();
                        });
                        return false;
                    });
                    $('a.btn-delete').live('click', function(){
                        if($(this).hasClass("disabled")){
                            return false;
                        }else{
                            $('#alertModal').modal();
                            var self = $(this);
                            $('.delete-confirm').unbind('click');
                            $('.delete-confirm').click(function(){
                                window.location.href = self.attr('href');
                            });
                            return false;
                        }
                    });
                    //列表框，指针放上去时显示删除图标                 
                    $(".example-sites li").mouseenter(function(){
                        $(this).children(".close").stop(true,false).fadeIn();
                    });
                    $(".example-sites li").mouseleave(function(){
                        $(this).children(".close").stop(false,true).hide();
                    });
                    
                    //菜单下拉      
                    $(".base_device").hover(function(){
                          if(!$(".base_device_list").is(":animated")){
                             $(".base_device_list").toggle();    
                          }
 
                    });     
                });
            </script>
            {% block extra_script %}{% endblock %}
        {% endblock %}
		
{% block extra_body_base %}

    <div id="logoutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
          <p class="text-center">确定注销吗？</p>
        </div>
        <div class="modal-footer">
          <button class="btn delete-cancel" data-dismiss="modal">取消</button>
          <a id="account_logout" class="btn btn_info" href="{% url "account_logout" %}">{% trans "Log out" %}</a>
        </div>
        </div>
        </div>         
     </div>
    <div id="alertModal" class="modal fade modal_poptip_defined">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">确定删除吗？</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default delete-cancel" data-dismiss="modal">取消</button>
                  <button class="btn delete-confirm btn_info" data-dismiss="modal">确定</button>
                </div>           
            </div>
        </div>
     </div>

    <!--警告框-->
    <div id="alert_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
          <p class="text-center" id="alert_info"></p>
        </div>
        <div class="modal-footer">
          <button class="btn delete-confirm btn_info" data-dismiss="modal"id="alert_close">确定</button>
        </div>   
        </div>
        </div>        
    </div>
    {% analytics %}
    {% block extra_body %}
      <footer id="footer">
        {% block footer %}
            {% include "_footer.html" %}
        {% endblock %}
    </footer>
    {% endblock %}
{% endblock %}

{% block footer_base %}
  
{% endblock %}
