{% extends "site_base.html" %}
{% load i18n %}
{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/slice_topology_d3.css">
{% endblock %}
{% block body %}
<div class="topology">
    
</div>
<div class="next-step row-fluid">
    <div class="span12 form-actions">
        <p class="alert alert-info">
            <span class="label label-info">创建节点</span>：点击左边的可选节点图标，即可创建对应类型的节点，从上至下分别是“控制器”、“flowvisor”、“交换机”、“主机”、“虚拟机”。
        </p>
        <p class="alert alert-info">
            <span class="label label-info">连接节点</span>：鼠标点击选中一个节点然后拖拽指向需要连接的节点上方，释放鼠标后可以看见一条线将两个节点连结，即表示已经连接创建完成。
        </p>
        <p class="alert alert-info">
            <span class="label label-info">删除连接或节点</span>：点击选中节点或连接线，然后键盘上按`Delete`或者`Backspace`键或者点击左边删除按钮即可删除对应的节点。
        </p>
        <p class="alert alert-info">
            <span class="label label-info">调整拓扑</span>：按住`Ctrl`键，然后点击选择其中一个节点拖拽移动进行调整。
        </p>
        <p class="alert alert-info">
            <span class="label label-info">放大缩小以及移动画板</span>：使用鼠标滚轮上下滚动进行放大和缩小，点击空白区域并拖拽进行上下左右移动。
        </p>
    </div>
</div>


<div class="clear" style="display: none" >
    <p id="slice_id">{{slice_id}}</p>
    <p id="width">{{width}}</p>
    <p id="height">{{height}}</p>
    <p id="STATIC_URL">{{STATIC_URL}}</p>
</div>
{% endblock %}
{% block extra_script %}
    <script src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}topology/lib/custom-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/slice_topology_d3.js"></script>  
{% endblock %}
