@import "flatui-less/flat-ui.less";

.login_bg {
	background:#fff;
	min-width:980px;
	.main {
	    padding-top:0px;
	}
	.login_logo {
		margin-top:20px;
		margin-left:20px;
		margin-bottom:20px;
	}
	.login_title {
		background:#3da2f7 url(../img/banner.png) center top;
		height:500px;
		width:100%;
		line-height:500px;
		text-align:center;
		font-size:70px;
		font-family:"黑体";
	}
	.login-form {
	    background:#bbb;
	    .border-radius(0 0 6px 6px);
		input {
			height:auto;
			width:299px;			
		}	
	}
	.login-form:before {
	    border-color: transparent #bbb transparent transparent;
	}
	.login-field {
	    margin-bottom:0 !important;
	}
	.btn_register {
	    padding-left:50px;
	    padding-right:50px;
	}
}

.pop_form {
	input{
		padding:5px;
	}
	label {
		line-height:26px;
	}
	.controls {
		margin-left:160px;
		span {
		color:#E74C3C;
		margin-left:5px;
		}
	} 
	.control-label {
		width:140px;
	}
} 

.login_bg #footer {
    background:transparent;
    color:#333;
}
