@import "bootstrap.less";

body,div,ul,li,td,th,p,ol,section,form,table,img,span{margin:0;padding:0;word-wrap : break-word ;word-break:break-all;}
textarea {
    resize:none;
}
html,body {
    height:100%;
}

body {
   /* background:url(../img/body-bg.png) repeat; */
  background:#fff;
}

.clear {
    clear:both;
}

label {
    display:inline;
}

.main2 {
    padding-top:20px;
}

legend {
    *margin:0 0 20px -7px;
    height:40px;
    font-family: "Microsoft YaHei";
    color:#2489c5;
    border-bottom:1px solid #2489c5;
    font-size:18px;
    button,a {
        margin-left:10px !important;
        font-family:"宋体";
        vertical-align:middle;
    }
    small {
        margin-left:10px;
        font-style:italic;
    }
    .title_word_bg {
        position:relative;
        background:#2489c5;
        color:#fff;
        float:left;
        padding-left:10px;
        padding-right:10px;
        .triangle {
            position:absolute;
            right: -16px;
            top: 12px;
            height:0px; 
            width:0px;
            border:8px solid #000; 
            border-color:transparent transparent transparent #2489c5;
        }
    }
}

.modal-body {
    table tr td {
        border:none;
    }
}

.sep_div {
    margin-bottom:20px;
}

.navbar-inverse .navbar-inner {
    background:#333;
    border-bottom:1px solid #336699;
}

.navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #f89406;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    color: #ffffff;
    background-color: #9a9a9a;
    background-image: -moz-linear-gradient(top, #cbcbcb, #585858);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cbcbcb), to(#585858));
    background-image: -webkit-linear-gradient(top, #cbcbcb, #585858);
    background-image: -o-linear-gradient(top, #cbcbcb, #585858);
    background-image: linear-gradient(to bottom, #cbcbcb, #585858);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcbcbcb', endColorstr='#ff585858', GradientType=0);
    border-bottom:1px solid #a0a0a0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  color: #000;
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #eee, #eee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#eee));
  background-image: -webkit-linear-gradient(top, #eee, #eee);
  background-image: -o-linear-gradient(top, #eee, #eee);
  background-image: linear-gradient(to bottom, #eee, #eee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffeeeeee', GradientType=0);
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #336699;
  color: #ffffff;
}


.navbar-inverse .nav li.dropdown > a .caret,
.navbar-inverse .nav li.dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-inverse .nav li.dropdown > a:hover .caret {
  border-top-color: #f89406;
  border-bottom-color: #f89406;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #fff;
    text-shadow:none;
}

.blank_block {
    height:42px;
}

.wrapper_all {
    min-height:100%;
    height: 100%;
    height:auto !important;
    margin: 0 auto -91px;
}

.push{
    height:89px;
}

a {outline:none !important;}

.container {
    width: 980px !important;
    margin: 0 auto;
}

table {word-break:break-all;}

.table th, .table td {
	vertical-align: middle;
	input,select {
		margin-bottom:0;
	}
	.btn {
		margin-right:10px;
	}
	.label {
	    white-space: normal;
	}
}

.pro_manage_container {    
   border-top:1px solid #fff;   
    padding-top:30px;
    .row-fluid {
        max-width:980px;
        margin:0 auto;
    }
}

.common {}



.posit_re {
	position:relative;
}

.top {
	overflow:hidden;
	margin-top:10px;
	.logo {
	float:left;
	}
	.begin_button{
		float:right;position:absolute;right:0;bottom:0;
		a{
		  padding:10px 30px;
		  background: #E67E22;
		  color:#fff;
		}
		a:hover {
			background-color: #F39C12;
			color: #fff;
		}
	}
		
}

#tabs {
overflow: hidden;
width: 100%;
margin: 0;
padding: 0;
list-style: none;
border-bottom: 4px solid #0b4073;
}

#tabs li {
float: left;
margin: 0 -15px 0 0;
}

#tabs a {
float: left;
position: relative;
width:150px;
text-align:center;
height: 0;
line-height: 30px;
text-transform: uppercase;
text-decoration: none;
color: #fff;
border-right: 30px solid transparent;
border-bottom: 30px solid #0b4073;
border-bottom-color: #777\9;
opacity: .5;
filter: alpha(opacity=50);
}

#tabs a:hover, #tabs a:focus {
border-bottom-color: #3b6998;
opacity: 1;
filter: alpha(opacity=100);
}

#tabs .active a {
z-index: 3;
border-bottom-color: #0b4073;
opacity: 1;
filter: alpha(opacity=100);
}

.tab_main {
	background:#fff;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,.1);
	box-shadow: 0px 1px 5px rgba(0,0,0,.1);
	display: block;
	margin: 0 auto;
	position: relative;
	margin-bottom: 30px;
	overflow:hidden;
	text-align:center;
	border-bottom:4px solid #34495e;
	.tab_map {
	    height:679px;
	}
	.tab-pane {
	    position:relative;	  
	    span {
	        position:absolute;
	        cursor:pointer;
	        z-index:10;
	    }
	    .enlarge {	        
	        top:20px;
	        left:20px;
	    }
	    .shrink {
            top:80px;
            left:20px;
	    }
	    .map, .map2 {
	        position:absolute;
	        top:0;
	        left:0;
	    }
	}
}


.title_bg {
	background:url(../img/feature-line.png) center bottom;background-repeat:repeat-x;margin-bottom:35px;text-align:center;
	p {
		padding-bottom:30px;
		font-size:24px;
		color:#34495e;
	}
}

.dg-wrapper a img {
	width:480px;
	height:260px;
}

#footer{
	background-color: #333;
	border-top: 1px solid #ccc;
	color: #fff;
	font-size: 12px;
	line-height: 1.63em;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align:center;
	margin-top:20px;
	min-width:980px;
}

.breadcrumb {
    margin:20px 0 0 0;
	background:#ddd;
	.icon-home {
		margin-right:5px;
	}
}

.help_all {
	.help_chose {
		width:239px;
		float:right;
		}
}

.help_main_wrap, .main_wrap {
	background:#eee;
	padding:5px;
	border-radius:3px;
}

.login_bg, .home,.help_box {
    .main_wrap {
        background:none;
        padding:0;
        border:none;
    } 
}

.help_main {
	background:#fff;
	padding-left:15px;
	padding-right:15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	section {
		margin-bottom:40px;
		h4 {
            color:#2489c5;
            font-family:"Microsoft YaHei";
            padding-bottom:5px;
            border-bottom:1px solid #2489c5;
            i{
                font-size:15px;
                margin-right:10px;
            }
        }
        p {
            line-height:24px;
            text-indent:2em;
        }
		ol,ul {		
			margin-left:2em;
			li {
			    line-height:24px;
			    ul {
			        list-style-type: disc;
			        margin-left:20px;
			    }
			}
		}
		img {
			display:block;
			margin:20px auto 0;	
		}
	}	
}

.bs-docs-sidenav {
	border: 1px solid #e5e5e5;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
	li a {
		margin-left:0;
		margin-right:0;
		padding: 8px 10px;
		border-bottom: 1px solid #e5e5e5;
		font-size:12px;
	}
	.icon-chevron-left {
		opacity: .25;
	}
	a:hover .icon-chevron-left {
		opacity: .5;
	}
}

.fill_form {
	fieldset {
		margin-bottom:10px;
		textarea {
			width:400px;
		}		
		.progress {
			margin-bottom:0;
		}
		.form_inline {
		    margin-top:0;
		    margin-bottom:10px;
		    label {
		        display: inline-block;
                width:60px;
                text-align:right;
    		    }
		    input,textarea,select {
		        margin-bottom:0;
		        margin-left:10px;
		    }
		    .select_input {
		        margin-bottom:0;
		        *display:inline;
		        *width:183px;
		        .dropdown-menu{
		            left:-140px;
		        }
		    }
		}
	}
}

.form-actions {
    border:none;
    background:none;
    clear:both;
}

.node_btn.active,
.node_btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #c2c2c2;
  background-color: #c2c2c2 \9;
  outline: 0;
  border:1px solid #878787;
}

.base_info {
	.table {
		td {
		  border:none; 
		}
	} 	
}

.sec_block {
    position:relative;
    background:#ffffff;
    padding:10px;
    border-bottom:1px solid #ddd;
    a.close {
        font-size: 35px;
        position: absolute;
        right: 0px;
        top: 5px;
        z-index: 10;
    }
}

.v_top {
            vertical-align: top !important;
        }

.form-wizard {
	.nav-pills {
		li {
			a {
				background-color: #fff !important;
				background-image: none !important;
				filter: none !important;
				border: 0px;
				box-shadow: none !important;
				color: #777;
				cursor: default;
				padding-left:9px;
				padding-right:9px;
			}
			.number {
			    vertical-align:middle;
				background-color: #eee;
				display: inline-block;
				font-size: 16px;
				font-weight: 300;
				padding: 12px 15px 12px 15px !important;
				margin-right: 10px;
				-webkit-border-radius: 50% !important;
				-moz-border-radius: 50% !important;
				border-radius: 50% !important;
				margin-right:0px;
			}
			.desc {
                vertical-align: middle;
            }
		}	
		.visit .step {
			.number {
				background-color: #f89406;
				color: #fff;
			}
			.desc {
				color:#555;
			}
			.active {
				font-weight:bold;
			}
		}
	}
	.show_frame {
		padding:10px;
		border-radius:4px;
		background:#eee;
		.frame_tip {
			float:right;
		}
		.main_frame {
			clear:both;
			height:500px;
			background:#fff;
			margin-top:30px;
			border-radius:4px;
			margin-bottom:10px;
			border:1px solid #ddd;
		}
		table {
			background:#fff;
			margin-bottom:0;
		}
	}
	.operate_btn {
		text-align:right;
		.del {
		    visibility: hidden;
		}
	}	
}

.index {
    .banner {
        padding-top:120px;
        padding-bottom:40px;
        text-align:center;
        background:#3da2f7 url(../img/banner.png) center top;
        color:#fff;
        border-radius:0;
        border-bottom:1px solid #ccc;
        margin-bottom:0;
        .inner {           
            p {
                font-size: 35px;
                line-height: 1.25;
                margin-bottom:55px;
            }
            .enter_btn {
                a {
                    line-height:normal;
                    padding:10px 45px;
                    font-size:20px;
                    margin-right:10px;
                    margin-left:10px;
                    font-family:"Microsoft YaHei";                   
                }
            }
        }
    }
    fieldset {
        padding: 0 15px;
        legend {
            text-align:center;
        }
    }   
}

.view_more, .view_more:visited {
        color:#484848 !important;
        font-weight:bold;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
}

.view_more:hover {
        color:#484848;
        font-weight:bold;
        -moz-transform: rotate(360deg); /* FF3.5+ */
        -o-transform: rotate(360deg); /* Opera 10.5 */
        -webkit-transform: rotate(360deg); /* Saf3.1+, Chrome */
        transform: rotate(360deg);
}

.example-sites {
    margin-bottom:20px;
     li {        
        background:#fff;
        overflow:hidden;
        position:relative;
        margin-bottom:0;         
        .close {
            display:none;
            font-size:40px;
            position:absolute;
            right:10px;
            top:10px;
            z-index:10;
        }           
        .thumbnail:hover,
        .thumbnail:focus {
          border-color: #0088cc;
          -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
        }          
        table {
            table-layout:fixed;
            margin-bottom:0;
            tbody tr td {
                overflow: hidden;
                white-space: nowrap;
                text-overflow:ellipsis;
                -o-text-overflow:ellipsis;
            }
        }
        .logo_img {
            border-bottom: 1px solid #9c9c9c;
            background: #c2d0df;
            padding-top:72px;
            padding-bottom:72px;
            img {
                width:100%;
                height:auto;                                
            }
        }        
        h5 {
            padding-right: 20px;
            position: relative;
            height:20px;
            color:#666;   
            margin:8px 10px;     
            overflow: hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
            -o-text-overflow:ellipsis;
            .view_more_icon {
                font-size: 20px;
                position: absolute;
                right: 0;
                text-decoration:none;
            }   
        }
        p {
            margin-left:10px;
            margin-right:10px;
            height:100px;
            overflow:hidden;
            color:#999;
            display: -webkit-box;
            display: -moz-box;
            display: -o-box;
            display: box;
            -webkit-line-clamp: 5;
            -moz-line-clamp: 5;
            -o-line-clamp: 5;
            line-clamp: 5;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -o-box-orient: vertical;
            box-orient: vertical;
            word-break: break-all;             
           }
        hr {
            margin:4px;
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #dddddd;
        }
    }  
    li.project_list {
        max-width:229px;
    } 
    li.slice_list {
        max-width:480px;
    }
}

.thumbnail {
    padding:4px;
    border:1px solid #9c9c9c;
    .slice_list {
        height:325px;
        overflow:hidden;
        .span5, .span7 {
            height:100%;
        }
    }
    a {
        margin-left:10px;
        color:#6699cc;
    }
    .slice_left {
        height:100%;
        border-right:1px solid #9c9c9c;
        img {
            background: #c2d0df;
        }
        ul {
            margin-bottom:7px;
            li {
                height:20px;
                padding:5px 0 5px 5px;
                border-bottom:1px solid #ccc;
                color:#333;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
                font-size:12px;
                i {
                    color:#989898;
                    margin-right:10px;
                }
            }
        } 
        .circle_bar {                  
            position:relative;
            .circle_canvas {
                position:absolute;
                left:30px;
                top:9px;           
            }
            input {
                cursor: default;
                font-size:12px !important;
            }
        }
        .slice_date {
            color:#333;
            margin-top:5px;
            padding-left:5px;
            padding-top:5px;
            border-top:1px solid #ccc;
            font-size:12px;
            i {
                color:#989898;
                margin-right:10px;
            }
        }
    } 
    .slice_right {
        height:100%;
        position:relative;
        .slice_text { 
            max-height:57px;
            overflow:hidden;
            min-width:95%;           
            position:absolute;
            bottom:-67px;
            font-size:12px;
            background: rgba(51, 152, 204, 0.85);
            color:#fff;
            padding:5px;                   
            overflow: hidden;                    
            display: -webkit-box;
            display: -moz-box;
            display: -o-box;
            display: box;
            -webkit-line-clamp: 3;
            -moz-line-clamp: 3;
            -o-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -o-box-orient: vertical;
            box-orient: vertical;
            word-break: break-all;
        }
    }
} 

.nothing_tip {
    text-align:center;
}

.search {
    overflow:hidden;
    margin-bottom:20px;
    .search_chose {
        float:left;
        .control-label {
            width:75px;
        }
    }
    form {
        float:right;
    }
}

.hide_form {
    display:none;
}

.modal {
    .text_r {
        text-align:right;
    }
    .modal-footer {
        text-align:center;
    }
}

#editSliceModal {
    width:800px;
    margin-left:-400px;
}

.font_wait {
    color:#c09853;
}
.font_success {
    color:#468847;
}
.font_fail {
    color:#b94a48;
}

.pagination {  
    overflow:hidden;
    ul {
        float:right;         
    }        
}
.add_btn {
    margin-top:20px;
    text-align:right;
}

.edit {
            float:right;
        }
        
.icheckbox_square-blue, .iradio_square-blue {
    float:left;
    margin-right:5px;
}

.start_slice {
    width:118px;
}

#alertModal, #alert_modal, #slicealertModal,#logoutModal {
    width:300px;
    margin-left:-150px;
}

.modal.fade.in {
    top:30%;
}

#registerModal.fade.in {
    top:10%;
}

#div_normal_data {
    .row-fluid {
        margin-bottom:20px;
        .box {
            .title {
                height: auto;
                position: relative;
                border: 1px solid #c4c4c4;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
                -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
                -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
                box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
                h4 {
                    padding-left: 15px;
                    margin-bottom: 0;
                    padding-bottom: 9px;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
            .content {
                position:relative;
                padding: 10px;
                border: 1px solid #c4c4c4;
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                border-top: none;
                background-color: #fff;
                position: relative;
                .chart_tip {
                    position:absolute;
                    height: 44px;
                    top: 5px;
                    right: 5px;
                    background-color: rgb(255, 255, 255);
                    opacity: 0.85;
                    padding:5px 10px 5px 10px;
                    p {
                        font-size:smaller;
                        color:#3f3f3f;
                        span {
                            display:inline-block;
                            width:14px;
                            height:10px;
                            margin-right:5px;                                                        
                        }
                    }
                }
            }
        }
        .box.gradient {
            .title {
                background: #f6f6f6;            
                background: -moz-linear-gradient( top,#fff,#f3f3f3);
                background: -webkit-linear-gradient(top,#fff,#f3f3f3);
                background: -o-linear-gradient(top,#fff, #f3f3f3);                
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
            }
        }
    }
}

.tp_block {
  position:relative;
  height:585px;
  overflow:hidden;
  background:#f5f5f5;
  -webkit-box-shadow: 0 0px 10px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0px 10px rgba(0,0,0,.5);
  box-shadow: 0 0px 10px rgba(0,0,0,.5); 
  ul {
      background:transparent;
      overflow:hidden;
      position:absolute;
      top:40px;
    li {
        float:left;
        display:inline;
        padding:10px;
        margin-right:5px;
        font-family: "Microsoft YaHei";
        span,div {
            vertical-align:middle;
        }
        span {
            margin-right:5px;
            b {
                margin-right:15px;
            }
        }
        div.tp_bar {
            height:3px;
            width:40px;
            display:inline-block;  
            zoom:1;
            *display:inline;  
            *line-height:42px;
        }
    }
  }
}

.tp_block.tp_charts {
    height:250px;
    cursor:pointer;
}

.carousel_defined {
    margin-bottom:0;
    height:100%;
    .thumbnail {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border:none;
    }
}

.control_defined {
    top:50%;    
    opacity:0.2;
    filter: alpha(opacity=20);
}

.control_defined:hover, .control_defined:focus {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.margin_rows {
    margin-bottom:20px;
}

.nums_block {    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    outline:none;
    a:hover {
        text-decoration:none;
    }
    .nums_top {
        height:90px;     
        position:relative;
        i,img {
            font-size:32px;
            color:#fff;
            opacity: 0.6;
            filter: alpha(opacity=60);
            position:absolute;
            left:20px;
            bottom:10px;
            transition: opacity 0.5s;
            -moz-transition: opacity 0.5s;  /* Firefox 4 */
            -webkit-transition: opacity 0.5s;   /* Safari 和 Chrome */
            -o-transition: opacity 0.5s;            
        }
        img {
            width:60px;
        }
        span.total_nums {
            color:#fff;
            font-size:42px;    
            text-decoration:none;        
            position:absolute;
            right:20px;
            top:12px;
            zoom:1;
            line-height:33px;
        }
        span.total_name {
            position:absolute;
            right:20px;
            top:56px;
            font-size: 23px;
            color: #fff;
            font-family: "Microsoft YaHei";            
        }

    }
    .nums_bottom {
        height:30px;
        line-height:30px;
        span {
            margin-left:20px;
            color: #fff;           
        }
        i {
            font-size:23px;
            color:#fff;
            opacity: 0.6;
            filter: alpha(opacity=60);
            float:right;
            margin-top:3px;
            margin-right:10px;
            transition: opacity 0.5s;
            -moz-transition: opacity 0.5s;  /* Firefox 4 */
            -webkit-transition: opacity 0.5s;   /* Safari 和 Chrome */
            -o-transition: opacity 0.5s;
        }        
    }
}

.nums_block:hover {
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    -moz-box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    .nums_top img {
        opacity:1;
    } 
    .nums_bottom i {
        opacity:1;
    }
}

.btn-large {
    padding:9px 19px;
}

.base_device_list {
    margin:0;
}

.project-body .navbar-inverse .nav .pro_menu>a, .slice-body .navbar-inverse .nav .slice_menu>a, .nexus-body .navbar-inverse .nav .device_menu>a, .notifications-body .navbar-inverse .nav .news_menu>a, .home-body .navbar-inverse .nav .index_menu>a, .django-body .navbar-inverse .nav .create_menu>a, .nexus-body .navbar-inverse .nav .user_menu>a {
    &:focus {
        color: #f89406;
        background-color: #000;
    }
    color: #f89406;
    background-color: #000;
    .caret {
      border-top-color: #f89406;
      border-bottom-color: #f89406;
    }
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.list_title {
    font-family: "Microsoft YaHei";
    color: #2489c5;
}

.list_lead {
    color: #555;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom:20px;
}

.base_device_tab {
    img, i {
        margin-right:10px;
    }
    i {
        font-size:20px;
        vertical-align:middle;
        color:#993399;       
    }
    img {
        width:20px;
        height:20px;
    }
}

a.button-circle:focus {
    text-decoration:none;
    color:#fff;
}
a.button-circle {
    font-family:"Microsoft YaHei";
    font-size:16px;
    i {
        font-size:34px;
        margin-top:25px;
        margin-bottom:10px;        
        display:block !important;
        height:34px;
    }
    i.cs {
        background:url(../img/cs.png) no-repeat top center;
    }
    i.fwq {
        background:url(../img/fwq.png) no-repeat top center;
    }
    i.jhj {
        background:url(../img/jhj.png) no-repeat top center;
    }
    i.fv {
        background:url(../img/fv.png) no-repeat top center;
    }
}
a.button-primary, a.button-action, a.button-highlight, a.button-caution, a.button-royal {
    &:hover {
        text-decoration:none;
        color:#fff;
    }    
} 

.button-wrap.active {
  a.button-circle {
      text-shadow: 0 1px 1px white;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  }
  a.button-primary {
      background: #1495b7;
      color: #005065;      
      i {
          background:url(../img/cs1.png) no-repeat top center;
      }
  }
  a.button-action {
      background: #76a312;
      color: #374f00;
  }
  a.button-highlight {
      background: #d8891e;
      color: #8d5303;
      i {
          background:url(../img/fwq1.png) no-repeat top center;
      }
  }
  a.button-caution {
      background: #cd5240;
      color: #952312;
      i {
          background:url(../img/jhj1.png) no-repeat top center;
      }
  }
  a.button-royal {
      background: #764479;
      color: #3e1740;
      i {
          background:url(../img/fv1.png) no-repeat top center;
      }
  }    
}

.error_icon {
    color: #9d261d;
}

.vm_well_wrap {
    width:auto;   
    margin-right:-10px;
    margin-top:-10px;
    margin-bottom:-10px;
    .span5 {
       padding-top:10px;      
    }
    .vm_well {       
        height:240px;
        border-left:1px solid #ddd;  
        padding:18px 15px 0px 15px;
        table tr td {
            background:#fff;
            img {
                margin-right:10px;
                width:20px;
                height:20px;
            }
        }
    }
}

.tp_title {    
    background:#0a5da3;
    padding:10px;
    h4 {
        margin:0;
        color:#fff;
        font-family:"Microsoft YaHei";
        small {
            color:#fff;
        }
    }
}

.nav-header {
    font-size:12px;
}

#main_show {
    text-align:center;
}

.pro_describe {
    display: inline-block;
    width: 350px;
    vertical-align: top;
}

.ipInput-border{
    border-width:1;
    border-color:#E3E9EF;
    border-style:solid;
    width:155px;
    font-size:9pt;
    background-color:white;
    span {
        font-size:20px;
    }
} 
.ipInput-cell{    
    width:17.5%;
    height:20px;
    border-width:0px !important;
    border-style:none;
    text-align:center;
    margin-bottom:6px !important;
}

#ipInput {
    height:30px;
    line-height:30px;
    width:220px;
    display: inline-block;
    font-size: 14px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #cccccc;
    input.ipInput-cell {
        .box-shadow(none); 
    }    
}

.dk_pull {
    width: 60px;
    height:20px;
    text-align:center;
}

.frame_tuopu {
    label {
        display:block !important;
    }
}

.qwtp_count { 
    width:80%;
    margin:15px auto 0;   
    .qwtp {
        .border-radius(5px);
        width:100%;
        height:60px;
        background:#fff;
        border:1px solid #ccc;        
        a {
            display:block;
            text-decoration:none;           
            .qwtp_tb {
               height:40px;
               padding:10px;
               border-right:1px solid #ccc; 
               width:40%;
               text-align:center;
               float:left;
               line-height:40px;
               img {
                   width:90px;
               }
            }
            .qwtp_nums {
                padding-top:10px;
                margin-left:40%;
                text-align:center;         
                font-size:28px;
                font-weight:bold;
                color:#666;
                text-decoration:none;
                .qwtp_name {
                    margin-top:5px;
                    font-size:14px;
                    font-weight:normal;
                }
            }
        }
    }
}

.countschart {
    margin-bottom:20px;
    .counts {
        .counts_block {
            padding:10px;
            width:81px;
            height:81px;
            text-align:center;
            background:#ddd;
            p img {
                width:25px;
            }
            .counts_block_title {
                font-size:14px;
                font-weight:500;
                font-family: "Microsoft YaHei";
            }
            .counts_block_nums {
                font-family: "Microsoft YaHei";
                font-weight: bold;
                font-size:28px;
                line-height:normal;
            }
        }
        .counts_block:first-child {
            margin-bottom:10px;           
        }        
    }
}

.vm_chose {
    margin-bottom:10px;
    select {
        margin-bottom:0;
    }
}

.tooltip-inner {
    max-width:250px;
}

#id_realm {
    height:48px;
}

.vm_info_title {
    overflow:hidden;
    .vm_info_title_left {
        width:42%;
        float:left;
    }
    .vm_info_title_right {
        width:56%;
        float:right;
    }
}

.reset_form {
    .control-label {
        width:70px;
        *width:80px;
    }
    .controls {
        margin-left:90px;
        *margin-left:0px;
    }
    .form-actions {
        padding-left: 90px;
        *padding-left: 100px;
        button.btn_width {
            width:220px;
        }
        button.btn_save {
            width:105px;
        }
        a.btn_cancel {
            width:85px;
        }
        p {
            padding-top:10px;
            padding-bottom:10px;
        }
    } 
}

.icon-envelope-open {
    display:inline-block !important;
    width:14px !important;
    height:14px !important;
    background-image:url(../img/envelope-open.png) !important;
    background-repeat:no-repeat !important;
    background-size:100% !important;
}

.nexus-body .help-block {
    font-style:italic;
}

.tooltip {  
    .tooltip-inner {
        text-align:left;
    }
}    

.tab_part {
   display:none
}

.tab_part.tab_1 {
 display:block;      
}

.create_vm_form {
    width:100%;
    border-bottom:1px solid #ddd;
    tbody tr td {
        padding:15px;
        img {
            margin-right:20px;
        }   
        input, select {
            margin-bottom:0;
        }    
        .view_topo {
            margin-left:20px;
            font-size:12px;           
        }
    }    
    td.type_chose a {
            display:inline-block;
            padding:8px 16px;
            border:1px solid #e1f2fa;
            .border-radius(3px);
            cursor:pointer;
            margin-right:2px;
            color:#2b8fcd;
            font-size:12px;
            font-weight:bold;
            font-family: "Microsoft YaHei";
            text-decoration:none;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    }    
    td.cpu_chose a {
        font-family: "Microsoft YaHei";
        display:inline-block;
        padding:12px 26px;
        border:1px solid #e1f2fa;
        .border-radius(3px);
        cursor:pointer;
        margin-right:6px;
        color:#2489c5;
        font-size:12px;
        font-weight:bold;
        text-decoration:none;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    td.type_chose a:hover, td.cpu_chose a:hover {
        border-color:#2b8fcd;        
    }
    a.vm_active{
        background:#2489c5;
        border:1px solid #2b8fcd;
        color:#fff !important;
    }
}

/* flatui */
.ui-slider {
width:650px;
background: #dfdfdf;
border-radius: 32px;
height: 12px;
-webkit-box-shadow: none;
box-shadow: none;
margin-top:15px;
position: relative;
}

.slider_td {
    position:relative;
    .value_s {
        position:absolute;
        top: 5px;
        left: -16px;
        display: block;
        width: 60px;
        text-align: center;    
    }
    .value_e {
        position:absolute;
        top: 5px;
        left: 630px;
        display: block;
        width: 60px;
        text-align: center;    
    }
    .cpu_value {
        position:absolute;
        top:5px;
        left: -9px;        
    }
    .disk_value {
        position:absolute;
        top:5px;
        left: -1px;
    }
}

.ui-slider-segment {
background-color: #bbb;
border-radius: 50%;
float: left;
height: 6px;
margin: 3px -6px 0 0;
width: 6px;
position: relative;
span {
    display: block;
    width: 60px;
    text-align: center;
    position: absolute;
    top: -28px;
    left: -28px;
}
}

.ui-slider-range {
background-color: #1abc9c;
border-radius: 30px 0 0 30px;
display: block;
height: 100%;
position: absolute;
z-index: 1;
}

.ui-slider-handle {
background-color: #16a085;
border-radius: 50%;
cursor: pointer;
height: 18px;
margin-left: -9px;
position: absolute;
top: -3px;
width: 18px;
z-index: 2;
-webkit-transition: background 0.25s;
transition: background 0.25s;
}

.ui-slider-handle:hover,
.ui-slider-handle:focus {
  background-color: #48c9b0;
  outline: none;
}
.ui-slider-handle:active {
  background-color: #16a085;
}

.ui_defined {
    .ui-slider-range {
        background-color:#ffcc33;
    }
    .ui-slider-handle {
        background-color:#fea30a;
    }
    .ui-slider-handle:hover,
    .ui-slider-handle:focus {
      background-color: #fdbe00;
      outline: none;
    }
    .ui-slider-handle:active {
      background-color: #fea30a;
    }
}

.btn-group .btn {
    margin-right:0 !important;
} 

.table_list {
    .city {width:30%;}
    .description {width:40%;}
    .actions-city {width:25%;}
    .island {width:15%;}
    .city {width:20%}
    .actions-island {width:20%;}
    .server {width:15%;}
    .state {width:5%;}
    .cpu {width:5%;}
    .ip {width:15%;}
    .os {width:10%;}
    .virtualswitch {width:15%;}
    .actions-server {width:15%;}
    .switch {width:15px;}
    .dpid {width:25%;}
    .actions-switch {width:25%;}
    .flowvisor {width:35%;}
    .actions-flowvisor {width:30%;}
}

.vm_state {
    .icon-ok-sign {
        color:#51a351;
    }
    .icon-remove-sign, .icon-minus-sign {
        color:#bd362f;
    }
    
}
