{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block breadcrumb_base %}

{% endblock %}
{% block messages %}

{% endblock %}

{% block body %}

    <h4 class="title_word_bg">
                                    设置新密码成功 
       
    </h4> 
</legend>
<div class="well">
    设置新密码成功，请<a class="account_login" href="{% url 'account_login' %}">登录</a>
</div>
</fieldset>
{% endblock %}


{% block extra_script %}
<script type="text/javascript" charset="utf-8">
</script>
{% endblock %}
