{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% block breadcrumb_base %}

{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block body %}
    <form method="POST" class="form-horizontal reset_form" action="">        
        <fieldset>
            <legend>{% trans "Change password" %}</legend>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn_save">{% trans "Save" %}</button>
                <a href="/" class="btn btn-primary cancel btn_cancel">{% trans "Cancel" %}</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
