{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% block breadcrumb_base %}

{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block body %}
    <form method="POST" class="form-horizontal reset_form" action="">        
        <fieldset>
            <legend>
                <div class="title_word_bg">
                                        {% trans "Change password" %}      
                   <div class="triangle"></div> 
                </div> 
            </legend>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-info btn_save">{% trans "Save" %}</button>
                <a href="/" class="btn cancel btn_cancel">{% trans "Cancel" %}</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
