{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body %}
    <form method="POST" class="reset_form col-md-3" action="">
            <h4 class="block_title">
                <i class="icon-lock"></i>{% trans "Password reset" %}     
            </h4>
            {% csrf_token %}
            <div class="form-group {% if form.email.errors %}error{% endif %}" id="div_id_email">
              <label for="id_email">登录邮箱</label>
              <input type="email" class="form-control" name="email" id="id_email">
              {% for error in form.email.errors %}
                 <span id="error_id_email_1" class="help-inline">{{ error }}</span>
              {% endfor %}
            </div>

            <button type="submit" class="btn btn_info">发送邮件</button>
            <p class="help_bottom help-block">如遇问题请联系ccf@fnic.cn</p>               
    </form>
{% endblock %}

{% block extra_script %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
