{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
    <li>修改密码</li>
{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block body %}
<div class="row">
    <form method="POST" class="col-md-3" action="">        
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn_info btn_save">{% trans "Save" %}</button>
                <a href="/" class="btn cancel btn_cancel btn-default">{% trans "Cancel" %}</a>
            </div>
    </form>
</div>
{% endblock %}
