{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% block breadcrumb_base %}
{% endblock %}

{% block body %}
<legend>密码修改成功</legend>
<div class="well">
    密码修改成功，请<a class="account_logout" href="{% url 'account_logout' %}">退出并重新登录</a>
</div>
{% endblock %}


{% block extra_script %}
<script type="text/javascript" charset="utf-8">
$(".account_logout").click(function(e) {
        e.preventDefault();
        $("#accountLogOutForm").submit();
    });
</script>
{% endblock %}
