{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body %}
    <form method="POST" class="form-horizontal reset_form" action="">
        <fieldset>
            <legend>
                <div class="title_word_bg">
                                    {% trans "Password reset" %}      
                   <div class="triangle"></div> 
                </div> 
            </legend>
            {% csrf_token %}
<div id="div_id_email" class="control-group   {% if form.email.errors %}error{% endif %}"><label for="id_email" class="control-label required-field">
登录邮箱
</label><div class="controls"><input type="text" name="email" id="id_email">
            {% for error in form.email.errors %}
            <span id="error_id_email_1" class="help-inline">{{ error }}</span>
            {% endfor %}
            </div></div>
            <div class="form-actions">
                <button type="submit" class="btn btn-info btn_width">发送邮件</button>
                <p>如遇问题请联系ccf@fnic.cn</p>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block extra_script %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
