{% extends "forum_base.html" %}
{% load endless %}
{% load url from future %}

{% block head_title %}
 所有话题
{% endblock %}

{% block forum_body %}
<div class="forums row">
    <div class="col-md-12">
        <div class="well">
            {% for forum in forums %}
            <a class="btn btn-success" href="{% url "agora_forum" forum.id %}">{{ forum }}</a>
            {% endfor %}
        </div>
        {% paginate 20 latest_threads %}
        <div class="row">
            <div class="col-md-12">
                {% for thread in latest_threads %}
                <hr>
                {% include "agora/_thread.html" %}
                {% endfor %}
            </div>
        </div>
        <ul class="pagination">
            {% show_pages %}
        </ul>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<a href="javascript:;" class="post-btn btn btn-danger btn-block btn-lg" data-toggle="popover" data-content='{% for forum in forums %}<a class="well well-sm btn btn-default" href="{% url "agora_forum" forum.id %}">{{ forum }}</a> {% endfor %}' title="请选择一个主题">发表</a>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" charset="utf-8">
    $('.post-btn').popover({placement: 'bottom', html: true});
</script>
{% endblock %}
