{% extends "forum_base.html" %}

{% load bootstrap %}
{% block extra_style %}

{% endblock %}

{% block forum_body %}
    <h3>编辑</h3>
    <div class="wmd-panel">
        <div id="wmd-button-bar-second"></div>
        <p>
            <form method="POST" class="" action="{% url "agora_post_edit" post.kind post.id %}">
                {% csrf_token %}
                <fieldset>
                    <textarea class="wmd-input  form-control" rows="10" id="wmd-input-second" name="content">{{ form.instance.content }}</textarea>
                </fieldset>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-body">
                    <div id="wmd-preview-second" class="wmd-panel wmd-preview"></div>
                    </div>
                </div>
                <div class="form-actions pull-right">
                    <a href="{% url "agora_thread" post.thread.pk %}" class="btn btn-default">取消</a>
                    <button type="submit" class="btn btn-primary">编辑</button>
                </div>
            </form>
        </p>
    </div>
{% endblock %}
{% block sidebar %}
    <a href="{% url "agora_thread" post.thread.pk %}" class="btn btn-danger btn-block btn-lg">返回</a>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/md-editor/Markdown.Converter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/md-editor/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/md-editor/Markdown.Editor.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/md-editor/i18n/Markdown.i18n.zh_cn.js"></script>
     <script type="text/javascript">
        (function () {
         var imgPath = '{{ STATIC_URL }}js/md-editor/img/';
            var emotions = [['cool', 'arrow', 'biggrin', 'confused', 'cry', 'eek','neutral'],
                            ['evil', 'exclaim', 'idea', 'lol', 'mad', 'mrgreen','question'],
                            ['razz', 'redface', 'rolleyes', 'sad','smile','surprised', 'twisted'],
                            ['wink']]
            for (var i=0;i<emotions.length; i++)
                for (j=0;j<emotions[i].length; j++)
                    emotions[i][j] = 'icon_' + emotions[i][j] + '.gif'
                                               
            Markdown.SupportEmotions(imgPath,emotions);
            var converter2 = new Markdown.Converter();

            converter2.hooks.chain("preConversion", function (text) {
                return text.replace(/\b(a\w*)/gi, "*$1*");
            });

            converter2.hooks.chain("plainLinkText", function (url) {
                return "This is a link to " + url.replace(/^https?:\/\//, "");
            });
            
            var help = function () { alert("Do you need help?"); }
            
            var editor2 = new Markdown.Editor(converter2, "-second", { handler: help },'zh-CN');
            
            editor2.run();
            $('.wmd-panel').tooltip({
              selector: "[data-toggle=tooltip]",
              container: "body"
            })
        })();
    </script>
{% endblock %}
