{% extends "forum_base.html" %}

{% load humanize %}
{% load agora_tags %}
{% load bootstrap %}
{% load endless %}
{% load url from future %}

{% block breadcrumb %}
<li><a href="{% url "agora_forum" 1 %}">工单</a></li>
<li>工单详情</li>
{% endblock %}
{% block head_title %}
{{ thread.title }}
{% endblock %}

{% block forum_body %}
    {% include "agora/_thread_breadcrumbs.html" with thread=thread %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <h3 class="media-heading">
                        {% if thread.closed %}
                            <span class="label label-danger label-mini">已关闭</span>
                        {% endif %}{{ thread.title }}
                        {% if thread.sticky %}<span class="label notice">sticky</span>{% endif %}
                        {% if thread.closed %}<span class="label">closed</span>{% endif %}
                    <div class="pull-right">
                    {% if can_create_reply %}
                        <a class="btn btn-danger btn-lg" href="{% url "common_close_thread" thread.id %}">关闭</a>
                    {% endif %}
                    </div>
                    </h3>
                    <div class="text-muted">
                        <b>{{ thread.author }}</b> ·
                        发表于 {{ thread.created|timesince }}前
                        <str> · </str>
                        {{ thread.view_count }} 次浏览
                        <str> · </str>
                        {{ thread.reply_count }} 条回复
                        {% if user.is_authenticated %}
                            {% if thread|post_editable:request.user %}
                                <str> · </str>
                                {% if not thread.closed %}<a class="btn btn-default btn-primary btn-xs" href="{% url "agora_post_edit" thread.kind thread.id %}">编辑</a>{% endif %}
                            {% endif %}
                            {% endif %}
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="media-body post col-md-12">
                    {{ thread.content_html|safe }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="hidden row">
        <div class="span4"><a href="?order_type={% ifequal order_type "asc" %}desc{% else %}asc{% endifequal %}">Reverse Reply Order</a></div>
    </div>
    
    {% paginate 10 posts %}
    {% if posts %}
    <div class="panel panel-default">
        <div class="panel-body">
        {% for post in posts %}
                <div id="post-{{ post.id }}" class="post media">
                    <div class="pull-right">
                        {% if user.is_authenticated %}
                            {% if post|post_editable:request.user %}
                                <a class="btn btn-default btn-xs" href="{% url "agora_post_edit" post.kind post.id %}">编辑</a>
                            {% endif %}
                            {% if can_create_reply %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <p class="media-heading text-muted">
                            {{ post.author }} ·
                            发表于 <span>{{ post.created|timesince }}</span>前
                        </p>
                        <div class="meta">
                            {{ post.content_html|safe }}
                        </div>
                    </div>
                </div>
                <hr />
        {% endfor %}
        <ul class="pagination">
            {% show_pages %}
        </ul>
        </div>
    </div>
    {% endif %}
    {% if reply_form %}
        <div class="panel panel-default" id="reply-form">
            <div class="panel-heading">
                <h3 class="panel-title">添加一条新回复：</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <div class="wmd-panel">
                            <form action="" method="POST" class="">
                                {% csrf_token %}
                                <fieldset>
                                    <input id="id_subscribe" name="subscribe" type="hidden">
                                    <div class="form-group">
                                        <p><div id="wmd-button-bar-second"></div></p>
                                        <div class=" ">
                                            <textarea class="wmd-input form-control" cols="40" id="wmd-input-second" name="content" rows="10"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions pull-right">
                                    <button class="btn btn-success" type="submit">发表回复</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block extra_script %}
{% endblock %}
